<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />

	</configSections>


	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="D:\Test\"/>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.DeliveryGet" value="Delivery_Get(@deliveryID:Char, @deep:bit)"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.DeliveryDelete" value="Delivery_Delete(@deliveryID:Char)"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.OutputDelete" value="Output_Delete(outputID:Char)"/>
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@measureID:Int,,@includeBase:Int@flags:Int,@operator:Int)"/>
		<add key="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
		<add key="Edge.Data.Pipeline.Services.PipelineService.DeliveryTicket.SP" value="DeliveryTicket_Get"/>
	</appSettings>

  <connectionStrings>
    <add name="Edge.Services.GenericMetrics.Validations.MdxOltpChecksumService.OltpDB" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    <add name ="Edge.Services.GenericMetrics.Validations.GenericDeliveryOltpChecksumService.OltpDB" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    <add name="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager.StagingDatabase" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!"/>
    <add name="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager.StagingDatabase" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!"/>
    <add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Data Source=79.125.11.74; Database=Seperia_System_291;User ID=SeperiaServices;PWD=Asada2011!"/>
    <add name="Edge.Data.Pipeline.Services.FtpImporterPreInitializerService.DeliveryDB" connectionString="Data Source=79.125.11.74; Database=Seperia_System_291;User ID=SeperiaServices;PWD=Asada2011!"/>
    <add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=79.125.11.74; Database=Seperia_System_291;User ID=SeperiaServices;PWD=Asada2011!"/>
    <add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=79.125.11.74;Initial Catalog=Deliveries;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!"/>
    <add name="Edge.Services.AdMetrics.AdMetricsImportManager.OLTP" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!"/>
    <add name="Edge.Services.AdMetrics.RollbackService.OLTP" connectionString="Data Source=79.125.11.74;Initial Catalog=Deliveries;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!"/>
    <add name="Edge.Services.SegmentMetrics.SegmentMetricsImportManager.OLTP" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!" />

    <add name="Edge.Services.Google.Analytics.Auth2.DB" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!" />

    <add name="Edge.Services.Google.Adwords.AdwordsReport.SystemDatabase" connectionString="Data Source=79.125.11.74; Database=Seperia;User ID=SeperiaServices;PWD=Asada2011!"/>
    <add name="Edge.Services.Google.Adwords.AdwordsUtill.MCC_Auth" connectionString="Data Source=79.125.11.74; Database=Seperia;User ID=SeperiaServices;PWD=Asada2011!"/>


    <!--####################  Production Managment Tool Connections string ##################################################################################################################################################-->
    <add name="Edge.Services.AdMetrics.Validations.DeliveryOltpChecksumService.OltpDB"	connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    <add name="Edge.Services.SegmentMetrics.Validations.SegmentDeliveryOltpChecksumService.OltpDB" connectionString="Data Source=79.125.11.74; Initial Catalog=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    <add name="Edge.Services.SegmentMetrics.Validations.MdxOltpChecksumService.OltpDB" connectionString="Data Source=79.125.11.74; Initial Catalog=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    <add name="Edge.Application.ProductionManagmentTools.DataChecks.Seperia"			connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    <add name="Edge.Application.ProductionManagmentTools.DataChecks.Edge.BI"			connectionString="Data Source=79.125.11.74;; Database=easynet_OLTP; Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    <add name="Edge.Services.AdMetrics.Validations.MdxDwhChecksumService.DwhDB"			connectionString="Data Source=79.125.11.74; Database=Seperia_DWH;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    <add name="Edge.Services.AdMetrics.Validations.MdxDwhChecksumService.OltpDB"		connectionString="Data Source=79.125.11.74; Database=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    <add name="Edge.Services.AdMetrics.Validations.MdxOltpChecksumService.DwhDB"		connectionString="Data Source=79.125.11.74; Database=Seperia_DWH;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    <add name="Edge.Services.AdMetrics.Validations.MdxOltpChecksumService.OltpDB"		connectionString="Data Source=79.125.11.74; Database=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    <add name="Edge.Services.AdMetrics.Validations.DwhOltpChecksumService.DwhDB"		connectionString="Data Source=79.125.11.74; Database=Seperia_DWH;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    <add name="Edge.Services.AdMetrics.Validations.DwhOltpChecksumService.OltpDB"		connectionString="Data Source=79.125.11.74; Database=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    <add name="Edge.Application.ProductionManagmentTools.DeliverySearch.DeliveryDB"		connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia_System_291;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    <!--#####################################################################################################################################################################################################################-->

  </connectionStrings>


	<edge.services>
		<Extensions>
			<!--<add key="AutoSegments" value="Edge.Data.Pipeline.Configuration.AutoSegmentDefinitionCollection, Edge.Data.Pipeline"/>-->
			<add key="Mappings" value="Edge.Data.Pipeline.Mapping.MappingConfigurationElement, Edge.Data.Pipeline"/>
		</Extensions>


		<Services>
			<Service Name="Rerun" IsPublic="true" Class="Edge.Data.Pipeline.Services.RerunService,Edge.Data.Pipeline"/>



     
      <!-- ======== Facebook ======== -->
			<Service Name="Facebook.GraphApi"
         IsEnabled="true"
               DeliveryID="21c8d65177804bfe99a2dd9fe0447d40"
     FileDirectory="Facebook"
     Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
     Facebook.BaseServiceAdress="https://graph.facebook.com"
     Facebook.Auth.AppSecret="51eae1a7382e2d599a286d2bd14417c1"
     SQL.TransformCommand="SP_Delivery_Transform_Facebook_Generic(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@CommitTableName:NvarChar)"
     SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryOutputID_v291(@DeliveryOutputID:NvarChar,@TableName:NvarChar)"
     SQL.StageCommand="SP_Delivery_Stage_Facebook(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@OutputIDsPerSignature:NvarChar,@DeliveryID:NvarChar)"
     Facebook.Fields.AdGroupCreative="type,title,body,image_hash,link_url,name,preview_url,id,image_url"
     Facebook.Fields.AdGroup="id,account_id,adgroup_status,bid_info,campaign_id,conversion_specs,creative_ids,impression_control_map,last_updated_by_app_id,locations,name,targeting,tracking_specs,updated_time,created_time"
     Facebook.Fields.Campaign="id,account_id,name,campaign_status,daily_imps,frequency_cap,frequency_cap_reset_period,start_time,end_time,updated_time,created_time"
     MaxExecutionTime="00:40:00"
     MaxInstances="2"
     MaxInstancesPerAccount="2">
				<Workflow>
					<!--<Step Base="FacebookInitializerService" />
					<Step Base="FacebookRetriverService"  />-->
					<Step Base="FacebookProcessorService"  />
					<Step Base="GenericMetricsStaging" ImportManagerType="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager,Edge.Data.Pipeline.Metrics"/>
				</Workflow>
				<!--<SchedulingRules>
					<Rule ExactTimes="14:47" CalendarUnit="Day" MaxDeviation="5:00"  />
				</SchedulingRules>-->
			</Service>

			<Service Name="FacebookInitializerService" IsPublic="false" Class="Edge.Services.Facebook.GraphApi.InitializerService,Edge.Services.Facebook.GraphApi"/>
			<Service Name="FacebookRetriverService" IsPublic="false" Class="Edge.Services.Facebook.GraphApi.RetrieverService,Edge.Services.Facebook.GraphApi"/>
			<Service Name="FacebookProcessorService" IsPublic="false" Class="Edge.Services.Facebook.GraphApi.ProcessorService,Edge.Services.Facebook.GraphApi" AutoAdGroupSegment="true" AdGroupDelimiter="@"/>
			<Service Name="GenericMetricsStaging" IsPublic="false" Class="Edge.Data.Pipeline.Metrics.Services.MetricsStagingService,Edge.Data.Pipeline.Metrics"/>
			<Service Name="RoleBackByDeliveries" SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)" Class="Edge.Services.AdMetrics.RollbackService,Edge.Services.AdMetrics"/>
			<Service Name="Edge.Services.Facebook.GraphApi.UpdateCampaignStatus" Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					 Facebook.BaseServiceAdress="https://graph.facebook.com"
					    Facebook.AuthenticationUrl="https://graph.facebook.com/oauth/access_token?client_id={0}&amp;redirect_uri={1}&amp;client_secret={2}&amp;code={3}"
						Facebook.Auth.ApiKey="168436873232861"
						Facebook.Auth.AppSecret="dada52b15e6d57e30f089a8ea94cf970"
						Facebook.Auth.RedirectUri="http://www.seperia.com/">

				<Workflow>
					<Step Base="UpdateCampaignStatus" />
				</Workflow>
			</Service>
			<Service Name="UpdateCampaignStatus" Class="Edge.Services.Facebook.GraphApi.UpdateCampaignStatus,Edge.Services.Facebook.GraphApi"/>


			<Service Name="GenericMetricsCommit" IsPublic="false" Class="Edge.Data.Pipeline.Metrics.Services.MetricsCommitService,Edge.Data.Pipeline.Metrics" ImportManagerType="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager,Edge.Data.Pipeline.Metrics"/>

		</Services>




		<Accounts>
			<Account ID="-1" Name="System Account">
				<Services>
					<Service Uses="RoleBackByDeliveries"></Service>
					<Service Uses="Edge.Services.Facebook.GraphApi.UpdateCampaignStatus"></Service>
				</Services>
			
			</Account>
			<Account ID="1240" Name="harmon.ie">
				<Mappings>
					<Using Namespace="Edge.Data.Objects.{0}, Edge.Data.Pipeline"/>
					<Object Type="Ad">
						<Read Name="destUrl" Field='link_url' Regex='\bad_id=(?{tracker}\w+)\b'/>
						<Map To='Segments[{GetSegment("Tracker")}]::SegmentObject' Condition='destUrl != null'>
							<Map To='Value'  Value="{destUrl.tracker}" Required="false"/>
							<Map To='OriginalID'  Value="{destUrl.tracker}" Required="false"/>
						</Map>
					</Object>
				</Mappings>
				<Services>

          <!--EasyForex Facebook-->
          <Service Uses="Facebook.GraphApi" Facebook.Account.Name="EasyForex" Facebook.Account.ID="52081533"
							 Facebook.AccessToken="AAACZAMUPZCAd0BAG7p6RMaItq4OLZB3NB4EjuLiahF72ZAxcsvbcfEyfWa0kZCUCF62gRkCjRh8Tyzg0KFYimv2LCOrpXvhd4xTDursYkWwZDZD"
											   TimeZone="-8" Offset="0"	>
            <Mappings Path ="Mappings\7\Facebook.xml"/>
          </Service>
          
					<!--<Service Uses="Facebook.GraphApi"
						 Facebook.Account.Name="harmon.ie"
									  Facebook.Account.ID="100912583340137"
									  Facebook.AccessToken="AAACZAMUPZCAd0BAL4vZAbG8ZAvEllmwtvGpgIY81ZCNN4SH6dZAPRYnLqigRcHfOVH8ce8hGyRQ31J0PMoTOgdl8PlTz2yBrlgYFaiz0n9VQZDZD"
									  TimeZone="2"
									  Offset="-1">
            <Mappings>
              <Using Namespace="Edge.Data.Objects.{0}, Edge.Data.Pipeline"/>
              <Object Type="Ad">
                <Read Var="destUrl" Field='link_url' Regex='\bad_id=(?{tracker}\w+)\b' Required='false'/>
                <Map To='Segments[{GetSegment("Tracker")}]::SegmentObject' Condition='destUrl != null'>
                  <Map To='Value'  Value="{destUrl.tracker}" Required="false"/>
                  <Map To='OriginalID'  Value="{destUrl.tracker}" Required="false"/>
                </Map>
              </Object>
            </Mappings>
					</Service>-->
				</Services>
			</Account>
			<!-- ======== Seperia.com ======== -->
			<Account ID="61" Name="Seperia.com">
				<Mappings>
					<Using Namespace="Edge.Data.Objects.{0}, Edge.Data.Pipeline"/>
					<Object Type="Ad">
						<Read Var="tracker" Field='link_url' Regex="\butm_content=(?{content}\w+)\b"/>
						<Map To='Segments[{GetSegment("Tracker")}]::SegmentObject' Condition='tracker != null'>
							<Map To='Value'  Value="{tracker.content}"/>
							<Map To='OriginalID'  Value="{tracker.content}"/>
						</Map>
					</Object>
				</Mappings>
				<Services>
			
          <Service Uses="Rerun" />
          <!--Seperia Facebook-->
          <Service Uses="Facebook.GraphApi"
          Facebook.Account.Name="Seperia.com"
          Facebook.Account.ID="59684411"
          Facebook.Auth.AccessToken="CAACZAMUPZCAd0BAFEOfmxa98mbq6kJ3yZBR4Q49QSuLiVZAYUUZCwzsFGLRfkeSD1Kds8d6vQcqJp9FmIsABoI3GfdX6ZBKHpZCdCb8EZCDOzN5fJEgimMekINNQgmKIqID6juzk5edMOZAHNGwZACLpcAD0Lzc062BYkwIN6G67bRu1oV2LZA1xcepI0yA0iYJdrsZD"
          TimeZone="-8"
          Offset="0">
            <Mappings Path ="Mappings\61\Facebook.xml"/>
          </Service>
          
				</Services>
			</Account>
      
      <!-- ======== Seperia.com ======== -->
      <Account ID="7" Name="Easy Forex">
        <Mappings>
          <Using Namespace="Edge.Data.Objects.{0}, Edge.Data.Pipeline"/>
          <Object Type="Ad">
            <Read Var="tracker" Field='link_url' Regex="\butm_content=(?{content}\w+)\b"/>
            <Map To='Segments[{GetSegment("Tracker")}]::SegmentObject' Condition='tracker != null'>
              <Map To='Value'  Value="{tracker.content}"/>
              <Map To='OriginalID'  Value="{tracker.content}"/>
            </Map>
          </Object>
        </Mappings>
        <Services>
          <Service Uses="Rerun" />
          <Service  Uses="Facebook.GraphApi"
							Facebook.Account.Name="EasyForex"
							Facebook.Account.ID="52081533"
							Facebook.AccessToken="CAACZAMUPZCAd0BAC8C5u6ncZCQ9Q6VoBuxfkfocHlvM8fdbn5IDX90YXTaRKaW0IcgyiAZA3CqV80ELmpLZCGZCBfNlj36oSotTvjBw5r6lbXfU8UzawsRDi83UCZAAZClZAgGbP8X9qP86CiZCzeNh10D"
              TimeZone="-8"
							Offset="-1">
            <Mappings>
              <Using Namespace="Edge.Data.Objects.{0}, Edge.Data.Pipeline"/>
              <Object Type="Ad">
                <Read Var="tracker" Field='link_url' Regex="\butm_content=(?{content}\w+)\b"/>
                <Map To='Segments[{GetSegment("Tracker")}]::SegmentObject' Condition='tracker != null'>
                  <Map To='Value'  Value="{tracker.content}"/>
                  <Map To='OriginalID'  Value="{tracker.content}"/>
                </Map>
              </Object>
            </Mappings>
          </Service>
        </Services>
      </Account>
      
      <Account ID="10035" Name="OptionRally">

        <Services>
          <!--Facebook-->
          <Service Uses="Facebook.GraphApi"
																			  Facebook.Account.Name="OptionRally"
																			  Facebook.Account.ID="369108868"
																			  Facebook.AccessToken="AAACZAMUPZCAd0BALPrV2pd6KmU9XCZC4ZBnaIt2YUoLDBfIVDXy1Ml4nQMemsHj6d8i37jw7DYPoQ6y7jpOLRSkP5k3e0LoraXkQwuhF4QZDZD"
																			  Facebook.Auth.ApiKey="efddc324f4582ec2e860ba0b6d51d8cb"
																			  Facebook.Auth.AppSecret="8b9b22d79c6dcd1c6524f73962f2a935"
																			  Facebook.Auth.RedirectUri="http://www.edge.bi/"
																			  TimeZone="2"
																			  Offset="0" >
            <Mappings Path ="Mappings\10035\Facebook.xml"/>
          </Service>
         
        </Services>
      </Account>
      <Account ID="1006" Name="Bbinary" >
        <Services>
          <Service Uses="Rerun" />

          <!--Bbinary Facebook-->
          <Service Uses="Facebook.GraphApi"
							 Facebook.Account.Name="Bbinary"
							 Facebook.Account.ID="263939553"
							 Facebook.AccessToken="CAACZAMUPZCAd0BAFeHgCI2dzowV6klGIVB58is0RLJbwKYkZAnJSYaaHvzFiVcesZBQ0t2ZCWlxwHS1aMZCGuGWemvRZCx4XIqZA5g8qeZCkhgkkA2hYZCtYhLVAmSWjUtNItmwyUckobIxF7LOZCR7vtds"
							 TimeZone="2"
							 Offset="+0300"
							 CommitValidationTheshold="0.2">
            <Mappings Path ="Mappings\1006\Facebook.xml"/>
          </Service>

          </Services>
      </Account>

			

		</Accounts>
	</edge.services>

</configuration>