<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />

	</configSections>


	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="D:\test\"/>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.DeliveryGet" value="Delivery_Get(@deliveryID:Char, @deep:bit)"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.DeliveryDelete" value="Delivery_Delete(@deliveryID:Char)"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.OutputDelete" value="Output_Delete(outputID:Char)"/>
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@measureID:Int,,@includeBase:Int@flags:Int,@operator:Int)"/>
		<add key="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
		<add key="Edge.Data.Pipeline.Services.PipelineService.DeliveryTicket.SP" value="DeliveryTicket_Get"/>
	</appSettings>

	<connectionStrings>
		<add name="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager.StagingDatabase" connectionString="Data Source=alonya-pc;Initial Catalog=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager.StagingDatabase" connectionString="Data Source=alonya-pc;Initial Catalog=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Data Source=alonya-pc; Database=Edge_System291; Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=alonya-pc; Database=Edge_System291; Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=alonya-pc; Database=Deliveries;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.AdMetricsImportManager.Oltp" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.ValidateCommitService.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.Facebook.GraphApi.UpdateCampaignStatus.DB" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
	</connectionStrings>


	<edge.services>
		<Extensions>
			<!--<add key="AutoSegments" value="Edge.Data.Pipeline.Configuration.AutoSegmentDefinitionCollection, Edge.Data.Pipeline"/>-->
			<add key="Mappings" value="Edge.Data.Pipeline.Mapping.MappingConfigurationElement, Edge.Data.Pipeline"/>
		</Extensions>


		<Services>
			<Service Name="Rerun" IsPublic="true" Class="Edge.Data.Pipeline.Services.RerunService,Edge.Data.Pipeline"/>


			<!-- ======== Facebook ======== -->
			<Service Name="Facebook.GraphApi"
						IsEnabled="true"
						FileDirectory="Facebook"
						Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
						Facebook.BaseServiceAdress="https://graph.facebook.com"
					    Facebook.AuthenticationUrl="https://graph.facebook.com/oauth/access_token?client_id={0}&amp;redirect_uri={1}&amp;client_secret={2}&amp;code={3}"
						Facebook.Auth.ApiKey="168436873232861"
						Facebook.Auth.AppSecret="dada52b15e6d57e30f089a8ea94cf970"
						Facebook.Auth.RedirectUri="http://www.seperia.com/"
						Facebook.Ads.XPath.GetAdGroups="ads_getAdGroups_response/ads_adgroup"
						Facebook.Ads.XPath.GetCampaigns="ads_getCampaigns_response/ads_campaign"
						Facebook.Ads.XPath.GetAdGroupStats="ads_getAdGroupStats_response/ads_period_stats/stats/ads_stats"
						Facebook.Ads.XPath.GetAdGroupTargeting="ads_getAdGroupTargeting_response/ads_targeting"
						Facebook.Ads.XPath.GetAdGroupCreatives="ads_getAdGroupCreatives_response/ads_creative"
					SQL.TransformCommand="SP_Delivery_Transform_Facebook_Generic(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@CommitTableName:NvarChar)"
					SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryOutputID_v291(@DeliveryOutputID:NvarChar,@TableName:NvarChar)"
					SQL.StageCommand="SP_Delivery_Stage_Facebook(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@OutputIDsPerSignature:NvarChar,@DeliveryID:NvarChar)"
					    MaxExecutionTime="00:40:00"
						MaxInstances="2"
						MaxInstancesPerAccount="2">
				<Workflow>
					<Step Base="FacebookInitializerService" />
					<Step Base="FacebookRetriverService"  />
					<Step Base="FacebookProcessorService"  />
					<Step Base="GenericMetricsStaging" ImportManagerType="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager,Edge.Data.Pipeline.Metrics"/>
				</Workflow>
				<!--<SchedulingRules>
					<Rule ExactTimes="14:47" CalendarUnit="Day" MaxDeviation="5:00"  />
				</SchedulingRules>-->
			</Service>

			<Service Name="FacebookInitializerService" IsPublic="false" Class="Edge.Services.Facebook.GraphApi.InitializerService,Edge.Services.Facebook.GraphApi"/>
			<Service Name="FacebookRetriverService" IsPublic="false" Class="Edge.Services.Facebook.GraphApi.RetrieverService,Edge.Services.Facebook.GraphApi"/>
			<Service Name="FacebookProcessorService" IsPublic="false" Class="Edge.Services.Facebook.GraphApi.ProcessorService,Edge.Services.Facebook.GraphApi" AutoAdGroupSegment="true" AdGroupDelimiter="@"/>
			<Service Name="GenericMetricsStaging" IsPublic="false" Class="Edge.Data.Pipeline.Metrics.Services.MetricsStagingService,Edge.Data.Pipeline.Metrics"/>
			<Service Name="RoleBackByDeliveries" SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)" Class="Edge.Services.AdMetrics.RollbackService,Edge.Services.AdMetrics"/>
			<Service Name="Edge.Services.Facebook.GraphApi.UpdateCampaignStatus" Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					 Facebook.BaseServiceAdress="https://graph.facebook.com"
					    Facebook.AuthenticationUrl="https://graph.facebook.com/oauth/access_token?client_id={0}&amp;redirect_uri={1}&amp;client_secret={2}&amp;code={3}"
						Facebook.Auth.ApiKey="168436873232861"
						Facebook.Auth.AppSecret="dada52b15e6d57e30f089a8ea94cf970"
						Facebook.Auth.RedirectUri="http://www.seperia.com/">

				<Workflow>
					<Step Base="UpdateCampaignStatus" />
				</Workflow>
			</Service>
			<Service Name="UpdateCampaignStatus" Class="Edge.Services.Facebook.GraphApi.UpdateCampaignStatus,Edge.Services.Facebook.GraphApi"/>


			<Service Name="GenericMetricsCommit" IsPublic="false" Class="Edge.Data.Pipeline.Metrics.Services.MetricsCommitService,Edge.Data.Pipeline.Metrics" ImportManagerType="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager,Edge.Data.Pipeline.Metrics"/>

		</Services>




		<Accounts>
			<Account ID="-1" Name="System Account">
				<Services>
					<Service Uses="RoleBackByDeliveries"></Service>
					<Service Uses="Edge.Services.Facebook.GraphApi.UpdateCampaignStatus"></Service>
				</Services>
			
			</Account>
			<Account ID="1240" Name="harmon.ie">
				<!--<Mappings>
					<Using Namespace="Edge.Data.Objects.{0}, Edge.Data.Pipeline"/>
					<Object Type="Ad">
						<Read Name="destUrl" Field='link_url' Regex='\bad_id=(?{tracker}\w+)\b'/>
						<Map To='Segments[{GetSegment("Tracker")}]::SegmentObject' Condition='destUrl != null'>
							<Map To='Value'  Value="{destUrl.tracker}" Required="false"/>
							<Map To='OriginalID'  Value="{destUrl.tracker}" Required="false"/>
						</Map>
					</Object>
				</Mappings>-->
				<Services>
					<Service Uses="Facebook.GraphApi"
							Facebook.Account.Name="harmon.ie"
							Facebook.Account.ID="100912583340137"
							Facebook.Auth.SessionSecret="AQDc_FMq73twCvAltDwPh3jRO7t7SGUsqcgksKTepncSKqom2X4zV_k7fZxwqmiK-z3fz3oWSMmwwLohThQUOoQ6Bc7PGaEGpSYXoGLm_0-YuNBRm7qUejL9jCRrLYkEI5ZHpkoweU1WYWuYsb2dnUtoLNxMu6CWFnuKzGfl2aV3gkLVsNki7WXv3EVrw4rHUCg#_=_"
							TimeZone="2"
							Offset="-1">
						<Mappings>
							<Using Namespace="Edge.Data.Objects.{0}, Edge.Data.Pipeline"/>
							<Object Type="Ad">
								<Read Var="destUrl" Field='link_url' Regex='\bad_id=(?{tracker}\w+)\b'/>
								<Map To='Segments[{GetSegment("Tracker")}]::SegmentObject' Condition='destUrl != null'>
									<Map To='Value'  Value="{destUrl.tracker}" Required="false"/>
									<Map To='OriginalID'  Value="{destUrl.tracker}" Required="false"/>
								</Map>
							</Object>
						</Mappings>
					</Service>
				</Services>
			</Account>
			<!-- ======== Seperia.com ======== -->
			<Account ID="61" Name="Seperia.com">
				<Mappings>
					<Using Namespace="Edge.Data.Objects.{0}, Edge.Data.Pipeline"/>
					<Object Type="Ad">
						<Read Var="tracker" Field='link_url' Regex="\butm_content=(?{content}\w+)\b"/>
						<Map To='Segments[{GetSegment("Tracker")}]::SegmentObject' Condition='tracker != null'>
							<Map To='Value'  Value="{tracker.content}"/>
							<Map To='OriginalID'  Value="{tracker.content}"/>
						</Map>
					</Object>
				</Mappings>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Facebook.GraphApi"
							
							Facebook.Account.Name="Seperia.com"
							Facebook.Account.ID="59684411"
							Facebook.Auth.SessionSecret="AQDqYRdMaX5xVIPvSdmjsDwppNVJgOfZzEn3dAeKBXcEIjPY3nzeMCWauYkhMGe8PXtwTkmWdTFMLQ5idj5zPFBFsWYdVZJ1SaWiRTpF6P521A3kOJkvuwPv7au-L45od7z7ppLHYnYr6-r-P8bFaGmJUFUeD2ahAs2L_k4ep-MgTjTDWLtC-0SaICGiwXVPT6c#_=_"
							TimeZone="-8"
							Offset="-1"/>
				</Services>
			</Account>
			<!-- ======== PC Speed ======== -->
			<!--<Account ID="1007" Name="PC Speed">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\butm_content=(?{utm_content}\w+)\b" Value="{utm_content}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" Name="FacebookRerun" ServiceToRun="Facebook.GraphApi" >
						
					</Service>
					
					<Service Uses="Facebook.GraphApi"
							 Facebook.Account.Name="PC Speed"
							 Facebook.Account.ID="351560853"
							 Facebook.Auth.SessionSecret="AQB0cr7E4uKYJNbZv1sHxVyRYCae3r-Z0vlsIubqbJC58uelExBKWKO_0pqoo8ohK6yZhe-5haio6U2zUlsyXHLLz9JRYwRDoQA_nTydzqL2Q3tLCwLGc66Tze9lvBUKBUoTLTeBjNLBnSMBeD77U9vM0ilDD7xHmcT-oHs0S1FN5rzRkyykGNFUOvR9y19DJfc#_=_"
							 TimeZone="-8"
							 Offset="0"
							 
							>
						-->
			<!--<SchedulingRules Overrides="true">
							<Rule ExactTimes="16:30" CalendarUnit="Day" MaxDeviation="00:25" />
						</SchedulingRules>-->
			<!--
					</Service>
					<Service Name="Facebook2" Uses="Facebook.GraphApi"
							Facebook.Account.Name="PC Speed"
							Facebook.Account.ID="351560853"
							Facebook.Auth.SessionSecret="AQB0cr7E4uKYJNbZv1sHxVyRYCae3r-Z0vlsIubqbJC58uelExBKWKO_0pqoo8ohK6yZhe-5haio6U2zUlsyXHLLz9JRYwRDoQA_nTydzqL2Q3tLCwLGc66Tze9lvBUKBUoTLTeBjNLBnSMBeD77U9vM0ilDD7xHmcT-oHs0S1FN5rzRkyykGNFUOvR9y19DJfc#_=_"
							>
						-->
			<!--<SchedulingRules Overrides="true">
							<Rule ExactTimes="16:30" CalendarUnit="Day" MaxDeviation="00:25" />
						</SchedulingRules>-->
			<!--
					</Service>
				</Services>
			</Account>-->

			<!-- ======== Easy Forex ======== -->
			<!--<Account ID="7" Name="EasyForex" >
				--><!--<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="(\bref_id=(?{ref_id}\w+)\b)" Value="{ref_id}"/>
						<Pattern Regex="(\bgid=(?{EFtracker}\w+)\b)" Value="{EFtracker}"/>
						<Pattern Regex="((%3F|%26)gid%3D(?{EFtracker}\w+)\b)" Value="{EFtracker}"/>
					</Segment>
				</AutoSegments>--><!--
				<Mappings>
					<Using Namespace="Edge.Data.Objects.{0}, Edge.Data.Pipeline"/>
					<Object Type="Ad">
						<Read Var="t1" Field="Destination URL" Regex="(\bref_id=(?{tracker}\w+)\b)"/>
						<Read Var="t2" Field="Destination URL" Regex="(\bgid=(?{tracker}\w+)\b)"/>
						<Read Var="t3" Field="Destination URL" Regex="((%3F|%26)gid%3D(?{tracker}\w+)\b)"/>
						<Map To='Segments[{GetSegment("Tracker")}]::SegmentObject' Condition='t1 != null || t2 != null || t3 != null '>
							<Map To='Value' Condition='t1 != null' Value="{t1.tracker}" />
							<Map To='Value' Condition='t2 != null' Value="{t2.tracker}" />
							<Map To='Value' Condition='t3 != null' Value="{t3.tracker}" />
							<Map To='OriginalID' Condition='t1 != null' Value="{t1.tracker}" />
							<Map To='OriginalID' Condition='t2 != null' Value="{t2.tracker}" />
							<Map To='OriginalID' Condition='t3 != null' Value="{t3.tracker}" />
						</Map>
					</Object>
				</Mappings>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Facebook.GraphApi"
							 Facebook.Account.Name="EasyForex"
							Facebook.Account.ID="52081533"
							Facebook.Auth.SessionSecret="AQC30JAPrSVgxivQwusb7JLdo0x_nEUZe4GI1f0xCcsFaypFwnJtTPKG-2pkmyF2WtYpqU_zghvK_HsS53piz3bcVuiDXHU_pXB9m3swePyldBPhve4um6A6-8k1b-yIFFDrBXsbSidUUzQYS_qi6WPDSV1mahiR-WmpIqfZ7aWIrYcgeYxD07QkR68NFtP0gHY#_=_"
							TimeZone="-8"
							Offset="-1">
						<Mappings>
							<Using Namespace="Edge.Data.Objects.{0}, Edge.Data.Pipeline"/>
							<Object Type="Ad">
								<Read Var="t1" Field="link_url" Regex="(\bref_id=(?{tracker}\w+)\b)"/>
								<Read Var="t2" Field="link_url" Regex="(\bgid=(?{tracker}\w+)\b)"/>
								<Read Var="t3" Field="link_url" Regex="((%3F|%26)gid%3D(?{tracker}\w+)\b)"/>
								<Map To='Segments[{GetSegment("Tracker")}]::SegmentObject' Condition='t1 != null || t2 != null || t3 != null '>
									<Map To='Value' Condition='t1 != null' Value="{t1.tracker}" />
									<Map To='Value' Condition='t2 != null' Value="{t2.tracker}" />
									<Map To='Value' Condition='t3 != null' Value="{t3.tracker}" />
									<Map To='OriginalID' Condition='t1 != null' Value="{t1.tracker}" />
									<Map To='OriginalID' Condition='t2 != null' Value="{t2.tracker}" />
									<Map To='OriginalID' Condition='t3 != null' Value="{t3.tracker}" />
								</Map>
							</Object>
						</Mappings>
					</Service>
				</Services>
			</Account>-->

			<!-- ======== Proportzia ======== -->
			<!--<Account ID="42" Name="Proportzia" >
				--><!--<AutoSegments IsEnabled="false">
				</AutoSegments>--><!--
				<Mappings>
					<Using Namespace="Edge.Data.Objects.{0}, Edge.Data.Pipeline"/>
					<Object Type="Ad">
						<Read Var="destUrl" Field='Destination URL' Regex='\bref=(?{tracker}\w+)\b'/>
						<Map To='Segments[{GetSegment("Tracker")}]::SegmentObject' Condition='destUrl != null'>
							<Map To='Value'  Value="{destUrl.tracker}" Required="false"/>
							<Map To='OriginalID'  Value="{destUrl.tracker}" Required="false"/>
						</Map>
					</Object>
				</Mappings>
				<Services>
					<Service Uses="Facebook.GraphApi"
						Facebook.Account.Name="Proportzia"
						Facebook.Account.ID="101082200000403"
						Facebook.Auth.SessionSecret="AQDJyEhHT8q592MyVoHa1RSyoFbsM71VjyCB7qRZTJyCeiTOm6D3N4rGKyw7U6vIlb6n8goQzB_FHp7SGnjmI3PvwAFF2PS9YaUouIPy-gvopyeSU5bc7Sw_pVCw5i9chsb80exxUunNuVIAbHyuGlbOpp2DU7vWTHeH1fAcgudpPeefP2HKM3V2ZXLFGN12dLI#_=_"
						TimeZone="2"
						Offset="-1">
						<Mappings>
							<Using Namespace="Edge.Data.Objects.{0}, Edge.Data.Pipeline"/>
							<Object Type="Ad">
								<Read Var="destUrl" Field='link_url' Regex='\bref=(?{tracker}\w+)\b'/>
								<Map To='Segments[{GetSegment("Tracker")}]::SegmentObject' Condition='destUrl != null'>
									<Map To='Value'  Value="{destUrl.tracker}" Required="false"/>
									<Map To='OriginalID'  Value="{destUrl.tracker}" Required="false"/>
								</Map>
							</Object>
						</Mappings>
					</Service>
				</Services>
			</Account>-->

			
			<!-- ======== PC Speed ======== -->
			<!--<Account ID="1007" Name="PC Speed">
				<Mappings>
					<Using Namespace="Edge.Data.Objects.{0}, Edge.Data.Pipeline"/>
					<Object Type="Ad">
						<Read Var="tracker" Field='link_url' Regex="\butm_content=(?{content}\w+)\b"/>
						<Map To='Segments[{GetSegment("Tracker")}]::SegmentObject' Condition='tracker != null'>
							<Map To='Value'  Value="{tracker.content}"/>
							<Map To='OriginalID'  Value="{tracker.content}"/>
						</Map>
					</Object>
				</Mappings>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Facebook.GraphApi"
							Facebook.Account.Name="PC Speed"
							Facebook.Account.ID="351560853"
							Facebook.Auth.SessionKey="3865f96f5f3aae1cbcf90a8d-100001864609198"
							Facebook.Auth.SessionSecret="AQB0cr7E4uKYJNbZv1sHxVyRYCae3r-Z0vlsIubqbJC58uelExBKWKO_0pqoo8ohK6yZhe-5haio6U2zUlsyXHLLz9JRYwRDoQA_nTydzqL2Q3tLCwLGc66Tze9lvBUKBUoTLTeBjNLBnSMBeD77U9vM0ilDD7xHmcT-oHs0S1FN5rzRkyykGNFUOvR9y19DJfc#_=_"
							TimeZone="-8"
							Offset="-1">
					</Service>
				</Services>
			</Account>-->

			

		</Accounts>
	</edge.services>

</configuration>