<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReportingService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://adcenterapi.microsoft.com/Api/Advertiser/V8/Reporting/ReportingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportingService"
                contract="AdCenter.Reporting.IReportingService" name="BasicHttpBinding_IReportingService" />
        </client>
    </system.serviceModel>
</configuration>