<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	
	<!--<objectSettings>
		<namespace ns="Edge.Services.Microsoft.AdCenter">
			<class cls="KeywordPerformanceReportReader">
				<setting name="XPath" value="Report/Table/Row"/>
			</class>
		</namespace>
	</objectSettings>
	
	<Service
		AdCenter.AppToken="asdasdasd"
		AdCenter.AppT
		
		TargetRange="{start: {date: '2011-03-12'}, end: '2011-03-15'}"
		TargetRange="{start: {m:-1, d:1}, end: {m:'-=1', d:20}}"
		TargetRange="{start: {w:-2, d:'+=1'}}"
		TargetRange="{start: {m:-1, d:1}, end: {m:'-=1', d:'*'}}"
		TargetRange="{m:-1, w:2}"
		TargetRange="{start: {d:-1, h:0}, end: {d:-1, h:'*'}}"
		TargetRange="{start: {y:2010, m:1, d:1}, end: {m:3, d:27, t:'23:00'}}"
	>
		<ExecutionSteps>
			<Step Uses="Initializer"/>
			<Step Uses="UrlRetriever"/>
			<Step Uses="Processor"/>	
		</ExecutionSteps>
		
		
		{
			start:
			{
				basedate: 'yyyy-MM-ddThh:mm:ss.0000Z',
				basedate: '/Date(1291244400000)/',
				basetime: 'hh:mm:ss',
				basetime: 18938278372,
				y: 2001,
				m: '+=1',
				m: '-=1' OR -1,
				m: 1,
				m: '*',
				boundary: 'lower' OR 'upper'
			},
			end:
			{
			}
		}
		
	</Service>-->
	
    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReportingService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://adcenterapi.microsoft.com/Api/Advertiser/V8/Reporting/ReportingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportingService"
                contract="AdCenter.Reporting.IReportingService" name="BasicHttpBinding_IReportingService" />
        </client>
    </system.serviceModel>
</configuration>