<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>
	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="D:\Edge\SeperiaDeliveryFiles"/>
		<add key="Edge.Data.Pipeline.Services.PipelineService.DeliveryTicket.SP" value="DeliveryTicket_Get"/>

		<add key="Edge.Data.Pipeline.DeliveryDB.SP.DeliveryGet" value="Delivery_Get2(@deliveryID:Char, @deep:bit)"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.DeliveryDelete" value="Delivery_Delete2(@deliveryID:Char)"/>

		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@measureID:Int,,@includeBase:Int@flags:Int,@operator:Int)"/>
		<!--**** Mapper****-->
		<add key="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
		<!--NEW!!!!! CONTENT-->
		<!--**** Mapper****-->
		<add key="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager.BufferSize" value="10"/>
		<!--NEW!!!!! CONTENT-->
	</appSettings>
	<connectionStrings>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Data Source=alonya-pc;Initial Catalog=edge_system291;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=alonya-pc; Database=Edge_System291;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=alonya-pc;Initial Catalog=Deliveries;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>

		<!--NEW 4 Mapper-->
		<add name="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager.StagingDatabase" connectionString="Data Source=alonya-pc;Initial Catalog=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>

		<!--NEW!!!!! CONTENT-->
		<!--NEW 4 Mapper-->
		<add name="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager.StagingDatabase" connectionString="Data Source=alonya-pc;Initial Catalog=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<!--NEW!!!!! CONTENT-->


		<!--Adwords-->
		<!--<add name="Edge.Services.Google.Adwords.AdwordsReport.SystemDatabase" connectionString="Data Source=79.125.11.74; Database=Seperia;User ID=SeperiaServices;PWD=Asada2011!"/>-->
		<add name="Edge.Services.Google.Adwords.AdwordsUtill.MCC_Auth" connectionString="Data Source=79.125.11.74; Database=Seperia;User ID=SeperiaServices;PWD=Asada2011!"/>
		<!--Adwords-->

	</connectionStrings>

	<!-- ======================================================== -->
	<!--						Services						  -->
	<!-- ======================================================== -->

	<edge.services>
		<Extensions>
			<!--<add key="AutoSegments" value="Edge.Data.Pipeline.Configuration.AutoSegmentDefinitionCollection, Edge.Data.Pipeline"/>-->
			<add key="Mappings" value="Edge.Data.Pipeline.Mapping.MappingConfigurationElement, Edge.Data.Pipeline"/>
		</Extensions>

		<Services>
			<Service Name="Rerun" IsPublic="true" Class="Edge.Data.Pipeline.Services.RerunService,Edge.Data.Pipeline"/>

			<Service Name="MetricsCommit" IsPublic="false" Class="Edge.Data.Pipeline.Metrics.Services.MetricsStagingService,Edge.Data.Pipeline.Metrics"/>
			<Service Name="AdMetricsCommit" IsPublic="false" Class="Edge.Data.Pipeline.Metrics.Services.MetricsCommitService,Edge.Data.Pipeline.Metrics" ImportManagerType="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager,Edge.Data.Pipeline.Metrics"/>
			<Service Name="GenericMetricsCommit" IsPublic="false" Class="Edge.Data.Pipeline.Metrics.Services.MetricsCommitService,Edge.Data.Pipeline.Metrics" ImportManagerType="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager,Edge.Data.Pipeline.Metrics"/>

			<!-- ======== Facebook ======== -->
			<Service Name="Facebook.AdsApi"
						IsEnabled="false"
						DeliveryFilesDir="Facebook"
						Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
						Facebook.BaseServiceAdress="http://api.facebook.com/restserver.php"
						Facebook.Account.Name="PC Speed"
						Facebook.Account.ID="351560853"
						Facebook.Auth.SessionKey="3865f96f5f3aae1cbcf90a8d-100001864609198"
						Facebook.Auth.ApiKey="efddc324f4582ec2e860ba0b6d51d8cb"
						Facebook.Auth.AppSecret="8b9b22d79c6dcd1c6524f73962f2a935"
						Facebook.Auth.SessionSecret="ee767cd8df65047f73f2eb3cf08b1dde"
						Facebook.Ads.XPath.GetAdGroups="ads_getAdGroups_response/ads_adgroup"
						Facebook.Ads.XPath.GetCampaigns="ads_getCampaigns_response/ads_campaign"
						Facebook.Ads.XPath.GetAdGroupStats="ads_getAdGroupStats_response/ads_period_stats/stats/ads_stats"
						Facebook.Ads.XPath.GetAdGroupTargeting="ads_getAdGroupTargeting_response/ads_targeting"
						Facebook.Ads.XPath.GetAdGroupCreatives="ads_getAdGroupCreatives_response/ads_creative"
						SQL.PrepareCommand="SP_Delivery_Commit_Facebook(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
						SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
						SQL.CommitCommand="SP_Delivery_Insert_Facebook(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar)"
						MaxInstances="5">
				<Workflow>
					<Step Base="FacebookInitializerService" />
					<Step Base="FacebookRetriverService"  />
					<Step Base="FacebookProcessorService"  />
					<Step Base="MetricsCommit"/>
				</Workflow>
				<!--<SchedulingRules>
					<Rule ExactTimes="12:00" CalendarUnit="Day" MaxDeviation="0:45"  />
				</SchedulingRules>-->
			</Service>

			<Service Name="FacebookInitializerService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.InitializerService,Edge.Services.Facebook.AdsApi"/>
			<Service Name="FacebookRetriverService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.RetrieverService,Edge.Services.Facebook.AdsApi"/>
			<Service Name="FacebookProcessorService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.ProcessorService,Edge.Services.Facebook.AdsApi" AutoAdGroupSegment="true" AdGroupDelimiter="@"/>

			<!-- ======== Google AdWords ======== -->
			<Service Name="Google.AdWords"
						Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
							 
						DeveloperToken="5eCsvAOU06Fs4j5qHWKTCA"
							 
					   DeliveryFilesDir="Google/AdWords"
						 Adwords.ReportType="AD_PERFORMANCE_REPORT|KEYWORDS_PERFORMANCE_REPORT|AD_EXTENSIONS_PERFORMANCE_REPORT"
						 KeywordContentId="3000000"
						 includeConversionTypes ="true"
						 includeZeroImpression ="true"
						 includeDisplaytData ="true"
					SQL.PrepareCommand="SP_Delivery_Transform_Adwords_Generic(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@CommitTableName:NvarChar)"
  SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryOutputID_v291(@DeliveryOutputID:NvarChar,@TableName:NvarChar)"
  SQL.CommitCommand="SP_Delivery_Stage_Adwords(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@OutputIDsPerSignature:NvarChar,@DeliveryID:NvarChar)"
					   MaxExecutionTime="1:10:00"
					   MaxInstances="5">

				<Workflow>
					<Step Base="GoogleInitializer"  IsEnabled="true"/>
					<Step Base="GoogleRetriver"  IsEnabled="true"/>
					<Step Base="GoogleProcessor"  IsEnabled="false"/>
					<Step Base="MetricsCommit" IsEnabled="false" MaxExecutionTime="1:10:00" ImportManagerType="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager,Edge.Data.Pipeline.Metrics"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="05:00" CalendarUnit="Day" MaxDeviation="0:45"  />
				</SchedulingRules>
			</Service>
			<!--DeliveryID="02fa88ca7338431ba23ef2b64d68c38f" ConflictBehavior="Ignore"-->
			<Service Name="Google.AdWords.AutomaticPlacements"
						Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
						
						DeveloperToken="5eCsvAOU06Fs4j5qHWKTCA"
						TargetPeriod="{start:{d:-4, h:0}, end:{d:-4,h:'*'}}"
							 
					   DeliveryFilesDir="Google/AdWords.PLACEMENTS"
						 Adwords.ReportType="AUTOMATIC_PLACEMENTS_PERFORMANCE_REPORT"
						 KeywordContentId="3000000"
						 includeZeroImpression ="true"
						 includeConversionTypes ="false"
							 
						 SQL.PrepareCommand="SP_Delivery_Commit_Content(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
						 SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
						 SQL.CommitCommand="SP_Delivery_Insert_Content(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@Signature:NvarChar,@DeliveryIDsPerSignature:NvarChar,@DeliveryID:NvarChar)"
					   MaxExecutionTime="1:10:00"
					   MaxInstances="5">

				<Workflow>
					<Step Base="GoogleInitializer"  IsEnabled="true"/>
					<Step Base="GoogleRetriver"  IsEnabled="true"/>
					<Step Base="GoogleAutoPlacementProcessor"  IsEnabled="true"/>
					<Step Base="MetricsCommit" MaxExecutionTime="1:10:00" ImportManagerType="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager,Edge.Data.Pipeline.Metrics"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="05:00" CalendarUnit="Day" MaxDeviation="0:45"  />
				</SchedulingRules>
			</Service>


			<Service Name="checksum" Class="Edge.Services.AdMetrics.Validations.DeliveryOltpChecksumService,Edge.Services.AdMetrics.Validations"/>

			<Service Name="Google.AdWords.EasyForex2"
										  Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
										 DeliveryFilesDir="GoogleAdWords"
										  Adwords.ReportType="AD_PERFORMANCE_REPORT|KEYWORDS_PERFORMANCE_REPORT"
										  Adwords.DateRange="YESTERDAY"
										  KeywordContentId="3000000"
										  includeConversionTypes ="true"
										  includeZeroImpression ="true"
										  includeDisplaytData ="true"
										  SQL.PrepareCommand="SP_Delivery_Commit_Adwords_v2(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
										  SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
										  SQL.CommitCommand="SP_Delivery_Insert_Adwords(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar)"
										 MaxExecutionTime="1:10:00"
										 MaxInstances="1">
				<Workflow>
					<Step Base="GoogleInitializer"  IsEnabled="true"/>
					<Step Base="GoogleRetriver"  IsEnabled="true"/>
					<Step Base="GoogleProcessor"  IsEnabled="true"/>
					<Step Base="MetricsCommit" MaxExecutionTime="1:10:00"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="05:02" CalendarUnit="Day" MaxDeviation="2:30"  />
				</SchedulingRules>
			</Service>
			<Service Name="Google.AdWords.EasyForex3"
							  Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
							 DeliveryFilesDir="GoogleAdWords"
							  Adwords.ReportType="AD_PERFORMANCE_REPORT|KEYWORDS_PERFORMANCE_REPORT"
							  Adwords.DateRange="YESTERDAY"
							  KeywordContentId="3000000"
							  includeConversionTypes ="true"
							  includeZeroImpression ="true"
							  includeDisplaytData ="true"
							  SQL.PrepareCommand="SP_Delivery_Commit_Adwords_v2(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
							  SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
							  SQL.CommitCommand="SP_Delivery_Insert_Adwords(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar)"
							 MaxExecutionTime="1:10:00"
							 MaxInstances="1">
				<Workflow>
					<Step Base="GoogleInitializer"  IsEnabled="true"/>
					<Step Base="GoogleRetriver"  IsEnabled="true"/>
					<Step Base="GoogleProcessor"  IsEnabled="true"/>
					<Step Base="MetricsCommit" MaxExecutionTime="1:10:00"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="02:00" CalendarUnit="Day" MaxDeviation="2:30"  />
				</SchedulingRules>
			</Service>


			<Service Name="Google.AdWords.EasyForex">
				<Workflow>
					<Step Base="Google.AdWords" Adwords.ClientID="323-509-6780" Adwords.MccEmail="ppc.easynet@gmail.com"/>
					<Step Base="Google.AdWords.EasyForex2" Adwords.ClientID="457-373-2218" Adwords.MccEmail="ppc.easynet@gmail.com"/>
					<Step Base="Google.AdWords.EasyForex3" Adwords.ClientID="621-961-3925" Adwords.MccEmail="ppc.easynet@gmail.com"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="05:00" CalendarUnit="Day" MaxDeviation="0:45"  />
				</SchedulingRules>
			</Service>

			<Service Name="GoogleInitializer" IsPublic="false" Class="Edge.Services.Google.AdWords.InitializerService, Edge.Services.Google.AdWords.V201109"/>
			<Service Name="GoogleRetriver" IsPublic="false" Class="Edge.Services.Google.AdWords.RetrieverService, Edge.Services.Google.AdWords.V201109"/>
			<Service Name="GoogleProcessor" IsPublic="false" Class="Edge.Services.Google.AdWords.ProcessorService, Edge.Services.Google.AdWords.V201109" AutoAdGroupSegment="true"/>
			<Service Name="GoogleAutoPlacementProcessor" IsPublic="false" Class="Edge.Services.Google.AdWords.AutomaticPlacementProcessorService, Edge.Services.Google.AdWords.V201109" AutoAdGroupSegment="true"/>

			<Service Name="UrlInitializer" Class="Edge.Data.Pipeline.Services.UrlInitializerService, Edge.Data.Pipeline"/>
			<Service Name="UrlRetriever" Class="Edge.Data.Pipeline.Services.UrlRetrieverService, Edge.Data.Pipeline"/>




			<Service Name="AdMetricsProcessor"
							 Class="Edge.Data.Pipeline.Metrics.AdMetrics.AutoAdMetricsProcessorService, Edge.Data.Pipeline.Metrics"
			/>

			<Service Name="AdMetricsImporter"  Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					 TargetLocationDirectory="D:\Target\"
					 SQL.PrepareCommand="SP_Delivery_Commit_Adwords_v2(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
					 SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
					 SQL.CommitCommand="SP_Delivery_Insert_Adwords(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@Signature:NvarChar,@DeliveryIDsPerSignature:NvarChar,@DeliveryID:NvarChar)"
					 >
				<Workflow>
					<Step Base="UrlInitializer" />
					<Step Base="UrlRetriever"/>
					<Step Base="AdMetricsProcessor"/>
					<Step Base="AdMetricsCommit"/>
				</Workflow>
			</Service>

			<Service Name="Microsoft.AdCenter"
              
					   Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					   AdCenter.Username="seperia_invoice"
					   AdCenter.Password="jt75f3qz"
					   DeliveryFilesDir="Microsoft-AdCenter"
					   AdCenter.AppToken="7G703IQ03"
					   AdCenter.DevToken="7G703IQ03"
               
					SQL.PrepareCommand="SP_Delivery_Transform_Adwords_Generic(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@CommitTableName:NvarChar)"
					SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryOutputID_v291(@DeliveryOutputID:NvarChar,@TableName:NvarChar)"
					SQL.CommitCommand="SP_Delivery_Stage_Adwords(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@OutputIDsPerSignature:NvarChar,@DeliveryID:NvarChar)"
			>
				<Workflow>
					<Step Name="Initializer" Base="Microsoft.AdCenter.Initializer" IsEnabled="true"/>
					<Step Name="Retriever" Base="Microsoft.AdCenter.Retriever" IsEnabled="true"/>
					<Step Name="Processor" Base="Microsoft.AdCenter.Processor" IsEnabled="true"/>
					<Step Base="MetricsCommit" IsEnabled="true" ImportManagerType="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager,Edge.Data.Pipeline.Metrics"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="04:30" CalendarUnit="Day" MaxDeviation="00:25"  />
				</SchedulingRules>
			</Service>
			<Service Name="Microsoft.AdCenter.Initializer" IsPublic="false" Class="Edge.Services.Microsoft.AdCenter.InitializerService, Edge.Services.Microsoft.AdCenter"  />
			<Service Name="Microsoft.AdCenter.Retriever" IsPublic="false" Class="Edge.Services.Microsoft.AdCenter.RetrieverService, Edge.Services.Microsoft.AdCenter"/>
			<Service Name="Microsoft.AdCenter.Processor" IsPublic="false" Class="Edge.Services.Microsoft.AdCenter.ProcessorService, Edge.Services.Microsoft.AdCenter" AutoAdGroupSegment="true" />

		</Services>


		<!-- ======================================================== -->
		<!--						Accounts						  -->
		<!-- ======================================================== -->

		<Accounts>


			<!-- ======== Conduit ======== -->
			<Account ID="95" Name="Conduit" >
				<!--<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="(\bref_id=(?{ref_id}\w+)\b)" Value="{ref_id}"/>
					</Segment>
				</AutoSegments>-->
				<Mappings>
					<Using Namespace="Edge.Data.Objects.{0}, Edge.Data.Pipeline"/>
					<Object Type="Ad">
						<Read Var="destUrl" Field='Destination URL' Regex='\bref_id=(?{tracker}\w+)\b'/>
						<Map To='Segments[{GetSegment("Tracker")}]::SegmentObject' Condition='destUrl != null'>
							<Map To='Value'  Value="{destUrl.tracker}" Required="false"/>
							<Map To='OriginalID'  Value="{destUrl.tracker}"/>
						</Map>
						<!--<Map To='Segments[{GetSegment("Tracker")}]::SegmentObject.Value' />
						<Map To='Segments[{GetSegment("Tracker")}]::SegmentObject.OriginalID'  Value="{destUrl.tracker}"/>-->
					</Object>
					<Object Type="Signature">
						<Read Name="dayCode" Field="Day_Code" Regex="(?{y}[0-9]{4})(?{m}[0-9]{2})(?{d}[0-9]{2})"/>
						<Map To='Value'
							 Value='{dayCode.y}{dayCode.m}{dayCode.d}_{GetCurrentAccount()}_{GetCurrentChannel()}' />
					</Object>
				</Mappings>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords"
							Adwords.MccEmail="edge.bi.mcc@gmail.com"
							Adwords.ClientID="825-318-4176"
							>

					</Service>

					<Service Uses="Facebook.AdsApi"
							 Facebook.Account.Name="Conduit"
							Facebook.Account.ID="58966934"
							Facebook.Auth.SessionKey="6a0fef5706767dbd9d0d0912.0-100000525383374"
							Facebook.Auth.SessionSecret="6ac11a4496d8a6ab7634443e984e974d"/>

					<Service Uses="Google.AdWords.AutomaticPlacements"
							Adwords.MccEmail="edge.bi.mcc@gmail.com"
							Adwords.ClientID="825-318-4176"
							/>

				</Services>
			</Account>

			<Account ID="1240" Name="harmon.ie">
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="343-519-6637"/>
					<Service Uses="Facebook.AdsApi"
							Facebook.Account.Name="harmon.ie"
							Facebook.Account.ID="100912583340137"
							Facebook.Auth.SessionKey="f0abc6fac6eea7822dab298b.4-100002641861843"
							Facebook.Auth.SessionSecret="a66b44ee6057fc31991eee6f31d2e9e7"
							/>

					<Service Uses="AdMetricsImporter" ReaderAdapterType="Edge.Data.Pipeline.CsvDynamicReaderAdapter, Edge.Data.Pipeline"
							 CsvDelimeter="\t"
							 CsvRequiredColumns="Day_Code"
						 CsvEncoding="Unicode"
							 SourceUrl="file:///D:/linkedin importer 13.05.2012.txt"
							 DeliveryFileName="ImporterLinkedIn"
							 >
						<Mappings>
							<Using Namespace=""/>
							<Object Type="Ad">
								<Map To="OriginalID" Value='{Guid.NewGuid().ToString("N")}'/>
								<Map To="Account" Field='AccountName' Var='AccountName' Value="{GetAccount(AccountName)}"/>
								<Map To="Channel" Field='Channel' Var='ChannelName' Value='{GetChannel(ChannelName)}'/>

								<Map To='Creatives[]::TextCreative'>
									<Map To='TextType' Value='Title'/>
									<Map To='Text' Field='Headline'/>
								</Map>
								<Map To='Creatives[]::TextCreative'>
									<Map To='TextType' Value='Body'/>
									<Map To='Text' Field='Desc1'/>
									<Map To='Text2' Field='Desc2' Required='false'/>
								</Map>
								<Map To='DestinationUrl' Field='destUrl'/>

								<Map To='Segments[{GetSegment("Campaign")}]::Campaign.Name' Field='Campaign'/>
								<Map To='Segments[{GetSegment("AdGroup")}]::AdGroup'>
									<Map To='Name' Field='Adgroup'/>
									<Map To='Campaign.Name' Field='Campaign'/>
								</Map>
								<Map To='Segments[{GetSegment("Tracker")}].Value' Field='destUrl' Var='destUrl' Regex='\bad_id=(?{tracker}\w+)\b' Value="{destUrl.tracker}"/>
								<!-- if this doesn't work then use {destUrl.tracker} -->
							</Object>

							<Object Type="AdMetricsUnit">
								<Read Var="dayCode" Field="Day_Code" Regex="(?{y}[0-9]{4})(?{m}[0-9]{2})(?{d}[0-9]{2})"/>
								<Map To="TimePeriodStart" Value='{CreatePeriodStart(dayCode.y, dayCode.m, dayCode.d)}'/>
								<Map To="TimePeriodEnd" Value="{CreatePeriodEnd(dayCode.y, dayCode.m, dayCode.d)}"/>

								<Map To='MeasureValues[{GetMeasure("Impressions")}]' Field="Imps" />
								<Map To='MeasureValues[{GetMeasure("Clicks")}]' Field="Clicks"/>
								<Map To='MeasureValues[{GetMeasure("Cost")}]' Field="Cost"/>
							</Object>
							<Object Type="Edge.Data.Objects.Signature">
								<Read Var="dayCode" Field="Day_Code" Regex="(?{y}[0-9]{4})(?{m}[0-9]{2})(?{d}[0-9]{2})"/>
								<Map To='Value'
									 Value='{dayCode.y}{dayCode.m}{dayCode.d}_{GetCurrentAccount()}_{GetCurrentChannel()}' />
							</Object>
						</Mappings>
					</Service>
				</Services>
			</Account>

			<Account ID="1006" Name="BBinary">
				<Mappings>
					<Using Namespace="Edge.Data.Objects.{0}, Edge.Data.Pipeline"/>
					<Object Type="Ad">
						<Read Var="destUrl" Field='DestinationUrl' Regex='(\bp=edgetrackerid_(?{edgetrackerid}\w+)\b)'/>
						<Map To='Segments[{GetSegment("Tracker")}]::SegmentObject' Condition='destUrl != null'>
							<Map To='Value'  Value="{destUrl.edgetrackerid}" Required="false"/>
							<Map To='OriginalID'  Value="{destUrl.edgetrackerid}"/>
						</Map>
					</Object>
					<!--<Object Type="Signature">
						<Read Name="dayCode" Field="Day_Code" Regex="(?{y}[0-9]{4})(?{m}[0-9]{2})(?{d}[0-9]{2})"/>
						<Map To='Value'
							 Value='AD_{dayCode.y}{dayCode.m}{dayCode.d}_{GetCurrentAccount().ID}' />
					</Object>-->
				</Mappings>
				<Services>
					<Service Uses="Microsoft.AdCenter" AdCenter.CustomerID="350896"  AdCenter.CustomerAccountID="1505732"/>
				</Services>
			</Account>



		</Accounts>
	</edge.services>

	<system.web>
		<webServices>
			<soapExtensionTypes>
				<add type="Google.Api.Ads.Common.Lib.SoapListenerExtension, Google.Adwords.V201109" priority="1" group="0"/>
			</soapExtensionTypes>
		</webServices>
	</system.web>

	<system.serviceModel>
		<client>
			<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.9/seperia/deploy"/>
		</client>
		<bindings>
			<wsHttpBinding>
				<binding name="edgeServiceWebBinding" sendTimeout="0:05:00" receiveTimeout="0:05:00"/>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>

</configuration>

