<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>

	<edge.services>
		<Services>
			<Service Name="Microsoft.AdCenter" AccountID="-1"
					 Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					 DeliveryID="9f35eefd-a346-4adf-a55c-cdcd87bd7853"
					AdCenter.AppToken=""
					AdCenter.DevToken="WNAC6Z24N38P"
					AdCenter.Username="API_888"
					AdCenter.Password="msn123"
					AdCenter.CustomerID="770585"
					AdCenter.CustomerAccountID="770585"
			>
				<Workflow>
					<Step Name="Initializer" Base="Microsoft.AdCenter.Initializer" IsEnabled="FALSE"/>
					<Step Name="Retriever" Base="Microsoft.AdCenter.Retriever" IsEnabled="true"/>
					<Step Name="Processor" Base="Microsoft.AdCenter.Processor" IsEnabled="true"/>
				</Workflow>
			</Service>

			<Service Name="Microsoft.AdCenter.Initializer" IsPublic="false" Class="Edge.Services.Microsoft.AdCenter.InitializerService, Edge.Services.Microsoft.AdCenter"  />
			<Service Name="Microsoft.AdCenter.Retriever" IsPublic="false" Class="Edge.Services.Microsoft.AdCenter.RetrieverService, Edge.Services.Microsoft.AdCenter"/>
			<Service Name="Microsoft.AdCenter.Processor" IsPublic="false" Class="Edge.Services.Microsoft.AdCenter.ProcessorService, Edge.Services.Microsoft.AdCenter" />
		</Services>
		
		<Accounts>
			<!--<Account ID="7">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="678" Pattern="(\bgid=(?&lt;gid&gt;\w+)\b)|(\bpid=(?&lt;gid&gt;\w+)\b)"/>
					<Segment Name="AdGroup" SegmentID="876" Pattern="(?&lt;adgroup&gt;.+)@"/>
				</AutoSegments>
			</Account>-->
		</Accounts>
	</edge.services>

	<connectionStrings>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI;"/>
	</connectionStrings>

</configuration>