<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>

	<edge.services>
		<Services>
			<Service Name="Microsoft.AdCenter"
			>
				<Workflow>
					<Step Name="Initializer" Base="Microsoft.AdCenter.Initializer"
							 AdCenter.AppToken=""
							 AdCenter.DevToken="WNAC6Z24N38P"
							 AdCenter.Username="API_888"
							 AdCenter.Password="msn123"
							 AdCenter.CustomerID="770585"
							 AdCenter.CustomerAccountID="770585"
						  />
					<Step Name="Processor" Base="Microsoft.AdCenter.Processor"/>
				</Workflow>
			</Service>
			
			<Service Name="Microsoft.AdCenter.Initializer" IsPublic="false" Class="Edge.Services.Microsoft.AdCenter.InitializerService, Edge.Services.Microsoft.AdCenter"/>
			<Service Name="Microsoft.AdCenter.Processor" IsPublic="false" Class="Edge.Services.Microsoft.AdCenter.ProcessorService, Edge.Services.Microsoft.AdCenter"/>			
		</Services>
		<Accounts/>
	</edge.services>

	<connectionStrings>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI;"/>
	</connectionStrings>

	
</configuration>