<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>
	<appSettings>
		<add key="Edge.Data.Pipeline.Importing.AdDataImportSession.BufferSize" value="10"/>
	</appSettings>

	<edge.services>
		<Extensions>
			<add key="AutoSegments" value="Edge.Data.Pipeline.Configuration.AutoSegmentDefinitionCollection, Edge.Data.Pipeline"/>
		</Extensions>
		<Services>
			<Service Name="Microsoft.AdCenter" AccountID="1007"
					 Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
				     DeliveryID="aaec8a87-d857-47f1-89ec-c29cddd97caf"
					AdCenter.AppToken=""
					AdCenter.DevToken="WNAC6Z24N38P"
					AdCenter.Username="API_888"
					AdCenter.Password="msn123"
					AdCenter.CustomerID="770585"
					AdCenter.CustomerAccountID="770585"
			>
				<Workflow>
					<Step Name="Initializer" Base="Microsoft.AdCenter.Initializer" IsEnabled="false"/>
					<Step Name="Retriever" Base="Microsoft.AdCenter.Retriever" IsEnabled="false"/>
					<Step Name="Processor" Base="Microsoft.AdCenter.Processor" IsEnabled="true"/>
				</Workflow>
			</Service>

			<Service Name="Microsoft.AdCenter.Initializer" IsPublic="false" Class="Edge.Services.Microsoft.AdCenter.InitializerService, Edge.Services.Microsoft.AdCenter"  />
			<Service Name="Microsoft.AdCenter.Retriever" IsPublic="false" Class="Edge.Services.Microsoft.AdCenter.RetrieverService, Edge.Services.Microsoft.AdCenter"/>
			<Service Name="Microsoft.AdCenter.Processor" IsPublic="false" Class="Edge.Services.Microsoft.AdCenter.ProcessorService, Edge.Services.Microsoft.AdCenter" AutoAdGroupSegment="true" />
		</Services>
		
		<Accounts>
			<Account ID="1007" Name="Pc Speed">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Value="(\bsr=(?&lt;sr&gt;\w+)\b)"/>
						<Pattern Value="(\bCategoryId=(?&lt;sr&gt;\w+)\b)"/>
					</Segment>					
				</AutoSegments>
				<Services>
					<Service Uses="Microsoft.AdCenter"/>				
				</Services>
			</Account>
		</Accounts>
	</edge.services>

	<connectionStrings>				
			<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Host=localhost; User=sa; Password=sa; Port=2121;"/>
			<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=source; Integrated Security=SSPI;"/>
			<add name="Edge.Data.Pipeline.Importing.AdDataImportSession.DeliveriesDb" connectionString="Data Source=localhost; Database=TempDeliveries; Integrated Security=SSPI;"/>
			<add name="Edge.Data.Pipeline.Importing.AdDataImportSession.Oltp" connectionString="Data Source=localhost; Database=testdb; Integrated Security=SSPI;"/>		
	</connectionStrings>

</configuration>