<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>

	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="D:\Runtime\Edge\Edge.Data.Pipeline.FileManager"/>

		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.FileName" value="Edge.Deliveries.db4o"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.Port" value="2121"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.User" value="sa"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.Password" value="sa"/>
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@flags:int,@operator:int"/>
		<add key="Edge.Services.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
	</appSettings>

	<connectionStrings>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Host=localhost; User=sa; Password=sa; Port=2121;"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI;"/>
		<add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=alonya-pc; Database=Deliveries;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.AdMetricsImportManager.Oltp" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.ValidateCommitService.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
	</connectionStrings>

	<edge.services>
		<Extensions>
			<add key="AutoSegments" value="Edge.Data.Pipeline.Configuration.AutoSegmentDefinitionCollection, Edge.Data.Pipeline"/>
		</Extensions>

		<Services>
			<Service
					Name="Facebook.AdsApi"
					Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					Facebook.BaseServiceAdress="http://api.facebook.com/restserver.php"
					
					
					SQL.PrepareCommand="SP_Delivery_Commit_Facebook(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
					SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
					SQL.CommitCommand="SP_Delivery_Insert_Facebook(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar)"
					
					>

				<Workflow>
					<Step Base="InitializerService"  IsEnabled="true"  />
					<Step Base="RetriverService"  IsEnabled="true" />
					<Step Base="ProcessorService" IsEnabled="true"/>
					<Step Base="CommitService" IsEnabled="true"/>
					
				</Workflow>
				<SchedulingRules>
					<!--<Rule ExactTimes="09:00" CalendarUnit="Day" MaxDeviation="1:10" NextDay="True"/>-->
					<!--<Rule ExactTimes="08:50" CalendarUnit="Day" MaxDeviation="1:10" NextDay="True"/>
					<Rule ExactTimes="08:55" CalendarUnit="Day" MaxDeviation="1:10" NextDay="True"/>-->
				</SchedulingRules>

			</Service>
			<Service Name="InitializerService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.InitializerService,Edge.Services.Facebook.AdsApi"/>
			<Service Name="RetriverService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.RetrieverService,Edge.Services.Facebook.AdsApi"/>
			<Service Name="ProcessorService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.ProcessorService,Edge.Services.Facebook.AdsApi" AutoAdGroupSegment="true" AdGroupDelimiter="@"/>
			<Service Name="CommitService" IsPublic="false" Class=" Edge.Services.AdMetrics.CommitService,Edge.Services.AdMetrics"/>
			<Service Name="ValidateCommitService" IsPublic="false" Class="Edge.Services.AdMetrics.ValidateCommitService,Edge.Services.AdMetrics" ShouldFail="true" TableName="Paid_API_AllColumnsTest"/>

			<Service Name="RerunService"  IsPublic="false">
				<Workflow>
					<Step Base="RerunService"  IsEnabled="true" />
				</Workflow>
			</Service>
			<Service Name="RerunService" IsPublic="false" Class="Edge.Data.Pipeline.Services.RerunService,Edge.Data.Pipeline"/>
			<Service Name="RoleBackByDeliveries" SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)" Class="Edge.Services.AdMetrics.RollbackService,Edge.Services.AdMetrics"/>
		</Services>
		<Accounts>
			<Account ID="1007" Name="PC Speed" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\butm_content=(?{utm_content}\w+)\b" Value="{utm_content}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Facebook.AdsApi"
					DeliveryFilesDir="Facebook"
					Facebook.Account.Name="PC Speed"
					Facebook.Account.ID="351560853"
					Facebook.Auth.SessionKey="3865f96f5f3aae1cbcf90a8d.0-100001864609198"
					Facebook.Auth.ApiKey="efddc324f4582ec2e860ba0b6d51d8cb"
					Facebook.Auth.AppSecret="8b9b22d79c6dcd1c6524f73962f2a935"
					Facebook.Auth.SessionSecret="ee767cd8df65047f73f2eb3cf08b1dde"
					Facebook.Ads.XPath.GetAdGroups="ads_getAdGroups_response/ads_adgroup"
					Facebook.Ads.XPath.GetCampaigns="ads_getCampaigns_response/ads_campaign"
					Facebook.Ads.XPath.GetAdGroupStats="ads_getAdGroupStats_response/ads_period_stats/stats/ads_stats"
					Facebook.Ads.XPath.GetAdGroupTargeting="ads_getAdGroupTargeting_response/ads_targeting"
					Facebook.Ads.XPath.GetAdGroupCreatives="ads_getAdGroupCreatives_response/ads_creative"/>
					<Service Uses="RerunService" ServiceToRun="Facebook.AdsApi" />
				</Services>
			</Account>
			<Account ID="61" Name="Seperia" >
				<AutoSegments IsEnabled="false">
				</AutoSegments>



					<Services>
						<Service Uses="Facebook.AdsApi"
						Facebook.Account.Name="Seperia.com"
						Facebook.Account.ID="59684411"
						Facebook.Auth.SessionKey="1318fbe14230719aa86fb7c9-100000543387293"
						Facebook.Auth.ApiKey="efddc324f4582ec2e860ba0b6d51d8cb"
						Facebook.Auth.AppSecret="8b9b22d79c6dcd1c6524f73962f2a935"
						Facebook.Auth.SessionSecret="e45a842e47595459224c529dae32e4fe"
						Facebook.Ads.XPath.GetAdGroups="ads_getAdGroups_response/ads_adgroup"
						Facebook.Ads.XPath.GetCampaigns="ads_getCampaigns_response/ads_campaign"
						Facebook.Ads.XPath.GetAdGroupStats="ads_getAdGroupStats_response/ads_period_stats/stats/ads_stats"
						Facebook.Ads.XPath.GetAdGroupTargeting="ads_getAdGroupTargeting_response/ads_targeting"
						Facebook.Ads.XPath.GetAdGroupCreatives="ads_getAdGroupCreatives_response/ads_creative"/>
						<Service Uses="RerunService" ServiceToRun="Facebook.AdsApi" />
					</Services>
				</Account>
			<Account ID="95" Name="Conduit" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="(\bref_id=(?{ref_id}\w+)\b)" Value="{ref_id}"/>
						<!--<Pattern Regex="(\bgid=(?{EFtracker}\w+)\b)" Value="{EFtracker}"/>
						<Pattern Regex="(\bgid%3d(?{EFtracker}\w+)\b)" Value="{EFtracker}"/>-->
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Facebook.AdsApi"
					
					Facebook.Account.Name="Conduit"
					Facebook.Account.ID="58966934"
					Facebook.Auth.SessionKey="6a0fef5706767dbd9d0d0912.0-100000525383374"
					Facebook.Auth.ApiKey="efddc324f4582ec2e860ba0b6d51d8cb"
					Facebook.Auth.AppSecret="8b9b22d79c6dcd1c6524f73962f2a935"
					Facebook.Auth.SessionSecret="6ac11a4496d8a6ab7634443e984e974d"
					Facebook.Ads.XPath.GetAdGroups="ads_getAdGroups_response/ads_adgroup"
					Facebook.Ads.XPath.GetCampaigns="ads_getCampaigns_response/ads_campaign"
					Facebook.Ads.XPath.GetAdGroupStats="ads_getAdGroupStats_response/ads_period_stats/stats/ads_stats"
					Facebook.Ads.XPath.GetAdGroupTargeting="ads_getAdGroupTargeting_response/ads_targeting"
					Facebook.Ads.XPath.GetAdGroupCreatives="ads_getAdGroupCreatives_response/ads_creative"/>
				</Services>
			</Account>
			<Account ID="-1" Name="System Account">
				<Services>
					<Service Uses="RoleBackByDeliveries"></Service>
				</Services>
			</Account>
			<Account ID="7" Name="EasyForex" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="(\bref_id=(?{ref_id}\w+)\b)" Value="{ref_id}"/>
						<Pattern Regex="(\bgid=(?{EFtracker}\w+)\b)" Value="{EFtracker}"/>
						<Pattern Regex="(\bgid%3d(?{EFtracker}\w+)\b)" Value="{EFtracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="RerunService" />
					<!--<Service Uses="AdWords" Adwords.ClientID="323-509-6780" Adwords.MccEmail="ppc.easynet@gmail.com"/>
					<Service Uses="AdWords" Adwords.ClientID="457-373-2218" Adwords.MccEmail="ppc.easynet@gmail.com"/>
					<Service Uses="AdWords" Adwords.ClientID="621-961-3925" Adwords.MccEmail="ppc.easynet@gmail.com"/>-->
					<Service Uses="Facebook.AdsApi"
							
							 Facebook.Account.Name="EasyForex"
							Facebook.Account.ID="52081533"
							Facebook.Auth.SessionKey="e6e725fdb069fea5c8313193-100000276793007"
							Facebook.Auth.SessionSecret="1817d1f54e0097fe1f1912c9fa3e5ba7"
							Facebook.Auth.ApiKey="efddc324f4582ec2e860ba0b6d51d8cb"
							 Facebook.Ads.XPath.GetAdGroups="ads_getAdGroups_response/ads_adgroup"
							Facebook.Ads.XPath.GetCampaigns="ads_getCampaigns_response/ads_campaign"
								Facebook.Ads.XPath.GetAdGroupStats="ads_getAdGroupStats_response/ads_period_stats/stats/ads_stats"
					Facebook.Ads.XPath.GetAdGroupTargeting="ads_getAdGroupTargeting_response/ads_targeting"
					Facebook.Ads.XPath.GetAdGroupCreatives="ads_getAdGroupCreatives_response/ads_creative"/>
				</Services>
			</Account>
			
		</Accounts>
	</edge.services>

</configuration>