<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>

	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="D:\test\"/>

		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.FileName" value="Edge.Deliveries.db4o"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.Port" value="2121"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.User" value="sa"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.Password" value="sa"/>
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@flags:int,@operator:int"/>
		<add key="Edge.Services.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
		<add key="Edge.Data.Pipeline.Services.PipelineService.DeliveryTicket.SP" value="DeliveryTicket_Get"/>
	</appSettings>

	<connectionStrings>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI;"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI;"/>
		<add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=alonya-pc; Database=Deliveries;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.AdMetricsImportManager.Oltp" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.ValidateCommitService.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
	</connectionStrings>

	<edge.services>
		<Extensions>
			<add key="AutoSegments" value="Edge.Data.Pipeline.Configuration.AutoSegmentDefinitionCollection, Edge.Data.Pipeline"/>
		</Extensions>

		<Services>
			<Service Name="Rerun" IsPublic="true" Class="Edge.Data.Pipeline.Services.RerunService,Edge.Data.Pipeline"/>
			<Service Name="AdMetricsCommit" IsPublic="false" Class="Edge.Services.AdMetrics.CommitService,Edge.Services.AdMetrics"/>

			<!-- ======== Facebook ======== -->
			<Service Name="Facebook.AdsApi"
						IsEnabled="true"
						DeliveryFilesDir="Facebook"
						Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
						Facebook.BaseServiceAdress="https://api.facebook.com"
					    Facebook.AuthenticationUrl="https://graph.facebook.com/oauth/access_token?client_id={0}&amp;redirect_uri={1}&amp;client_secret={2}&amp;code={3}"
						Facebook.Auth.ApiKey="168436873232861"
						Facebook.Auth.AppSecret="dada52b15e6d57e30f089a8ea94cf970"
						Facebook.Auth.RedirectUri="http://www.seperia.com/"
						Facebook.Ads.XPath.GetAdGroups="ads_getAdGroups_response/ads_adgroup"
						Facebook.Ads.XPath.GetCampaigns="ads_getCampaigns_response/ads_campaign"
						Facebook.Ads.XPath.GetAdGroupStats="ads_getAdGroupStats_response/ads_period_stats/stats/ads_stats"
						Facebook.Ads.XPath.GetAdGroupTargeting="ads_getAdGroupTargeting_response/ads_targeting"
						Facebook.Ads.XPath.GetAdGroupCreatives="ads_getAdGroupCreatives_response/ads_creative"
						SQL.PrepareCommand="SP_Delivery_Commit_Facebook(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
						SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
						SQL.CommitCommand="SP_Delivery_Insert_Facebook(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar)"
					    MaxExecutionTime="00:40:00"
						MaxInstances="2">
				<Workflow>
					<Step Base="FacebookInitializerService" />
					<Step Base="FacebookRetriverService"  />
					<Step Base="FacebookProcessorService"  />
					<Step Base="AdMetricsCommit"/>
				</Workflow>
				<!--<SchedulingRules>
					<Rule ExactTimes="11:20" CalendarUnit="Day" MaxDeviation="5:00"  />
				</SchedulingRules>-->
			</Service>

			<Service Name="FacebookInitializerService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.InitializerService,Edge.Services.Facebook.AdsApi"/>
			<Service Name="FacebookRetriverService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.RetrieverService,Edge.Services.Facebook.AdsApi"/>
			<Service Name="FacebookProcessorService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.ProcessorService,Edge.Services.Facebook.AdsApi" AutoAdGroupSegment="true" AdGroupDelimiter="@"/>

			<!-- ======== Google AdWords ======== -->
			<Service Name="Google.AdWords"
						 Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					     DeliveryFilesDir="GoogleAdWords"
						 Adwords.ReportType="AD_PERFORMANCE_REPORT|KEYWORDS_PERFORMANCE_REPORT"
						 Adwords.DateRange="YESTERDAY"
						 KeywordContentId="3000000"
						 includeConversionTypes ="true"
						 includeZeroImpression ="true"
						 includeDisplaytData ="true"
						 SQL.PrepareCommand="SP_Delivery_Commit_Adwords_v2(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
						 SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
						 SQL.CommitCommand="SP_Delivery_Insert_Adwords(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar)"
					     MaxExecutionTime="1:10:00"
					     MaxInstances="6">
				<Workflow>
					<Step Base="GoogleInitializer"  IsEnabled="true"/>
					<Step Base="GoogleRetriver"  IsEnabled="true"/>
					<Step Base="GoogleProcessor"  IsEnabled="true"/>
					<Step Base="AdMetricsCommit" MaxExecutionTime="1:10:00"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="05:16" CalendarUnit="Day" MaxDeviation="02:30"  />
				</SchedulingRules>
			</Service>
			<Service Name="Google.AdWords.EasyForex2"
						 Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					     DeliveryFilesDir="GoogleAdWords"
						 Adwords.ReportType="AD_PERFORMANCE_REPORT|KEYWORDS_PERFORMANCE_REPORT"
						 Adwords.DateRange="YESTERDAY"
						 KeywordContentId="3000000"
						 includeConversionTypes ="true"
						 includeZeroImpression ="true"
						 includeDisplaytData ="true"
						 SQL.PrepareCommand="SP_Delivery_Commit_Adwords_v2(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
						 SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
						 SQL.CommitCommand="SP_Delivery_Insert_Adwords(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar)"
					     MaxExecutionTime="1:10:00"
					     MaxInstances="1">
				<Workflow>
					<Step Base="GoogleInitializer"  IsEnabled="true"/>
					<Step Base="GoogleRetriver"  IsEnabled="true"/>
					<Step Base="GoogleProcessor"  IsEnabled="true"/>
					<Step Base="AdMetricsCommit" MaxExecutionTime="1:10:00"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="05:02" CalendarUnit="Day" MaxDeviation="2:30"  />
				</SchedulingRules>
			</Service>
			<Service Name="Google.AdWords.EasyForex3"
						 Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					     DeliveryFilesDir="GoogleAdWords"
						 Adwords.ReportType="AD_PERFORMANCE_REPORT|KEYWORDS_PERFORMANCE_REPORT"
						 Adwords.DateRange="YESTERDAY"
						 KeywordContentId="3000000"
						 includeConversionTypes ="true"
						 includeZeroImpression ="true"
						 includeDisplaytData ="true"
						 SQL.PrepareCommand="SP_Delivery_Commit_Adwords_v2(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
						 SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
						 SQL.CommitCommand="SP_Delivery_Insert_Adwords(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar)"
					     MaxExecutionTime="1:10:00"
					     MaxInstances="1">
				<Workflow>
					<Step Base="GoogleInitializer"  IsEnabled="true"/>
					<Step Base="GoogleRetriver"  IsEnabled="true"/>
					<Step Base="GoogleProcessor"  IsEnabled="true"/>
					<Step Base="AdMetricsCommit" MaxExecutionTime="1:10:00"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="02:00" CalendarUnit="Day" MaxDeviation="2:30"  />
				</SchedulingRules>
			</Service>

			<Service Name="Google.AdWords.EasyForex">
				<Workflow>
					<Step Base="Google.AdWords" Adwords.ClientID="323-509-6780" Adwords.MccEmail="ppc.easynet@gmail.com"/>
					<Step Base="Google.AdWords.EasyForex2" Adwords.ClientID="457-373-2218" Adwords.MccEmail="ppc.easynet@gmail.com"/>
					<Step Base="Google.AdWords.EasyForex3" Adwords.ClientID="621-961-3925" Adwords.MccEmail="ppc.easynet@gmail.com"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="05:02" CalendarUnit="Day" MaxDeviation="2:30"  />
				</SchedulingRules>
			</Service>

			<Service Name="GoogleInitializer" IsPublic="false" Class="Edge.Services.Google.AdWords.InitializerService, Edge.Services.Google.AdWords"/>
			<Service Name="GoogleRetriver" IsPublic="false" Class="Edge.Services.Google.AdWords.RetrieverService, Edge.Services.Google.AdWords"/>
			<Service Name="GoogleProcessor" IsPublic="false" Class="Edge.Services.Google.AdWords.ProcessorService, Edge.Services.Google.AdWords" AutoAdGroupSegment="true"/>


			<Service Name="RoleBackByDeliveries" SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)" Class="Edge.Services.AdMetrics.RollbackService,Edge.Services.AdMetrics"/>
		</Services>


		
		<Accounts>
			<Account ID="-1" Name="System Account">
				<Services>
					<Service Uses="RoleBackByDeliveries"></Service>
				</Services>
			</Account>
			<!-- ======== PC Speed ======== -->
			<Account ID="1007" Name="PC Speed">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\butm_content=(?{utm_content}\w+)\b" Value="{utm_content}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Facebook.AdsApi"
							Facebook.Account.Name="PC Speed"
							Facebook.Account.ID="351560853"							
							Facebook.Auth.SessionSecret="AQB0cr7E4uKYJNbZv1sHxVyRYCae3r-Z0vlsIubqbJC58uelExBKWKO_0pqoo8ohK6yZhe-5haio6U2zUlsyXHLLz9JRYwRDoQA_nTydzqL2Q3tLCwLGc66Tze9lvBUKBUoTLTeBjNLBnSMBeD77U9vM0ilDD7xHmcT-oHs0S1FN5rzRkyykGNFUOvR9y19DJfc#_=_"
							>
						<!--<SchedulingRules Overrides="true">
							<Rule ExactTimes="16:30" CalendarUnit="Day" MaxDeviation="00:25" />
						</SchedulingRules>-->
					</Service>
				</Services>
			</Account>

			<!-- ======== Conduit ======== -->
			<Account ID="95" Name="Conduit" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="(\bref_id=(?{ref_id}\w+)\b)" Value="{ref_id}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords"
							Adwords.MccEmail="ppc.easynet@gmail.com"
							Adwords.ClientID="825-318-4176"
							>
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="05:11" CalendarUnit="Day" MaxDeviation="00:20" />
						</SchedulingRules>
					</Service>
					<Service Uses="Facebook.AdsApi"
							 Facebook.Account.Name="Conduit"
							Facebook.Account.ID="58966934"							
							Facebook.Auth.SessionSecret="AQA4zAYBg3gM7D6YVHp82_IghH6kBNPAxFg8m-00WS_6TzREpwVsJV09u689qxTw08EMPySGqk8tVknWCsnFea2iux2VX3ZF2BWfT4qRSKxdJ8NRVh6LSTxeoS_Im4vT4Xt4rawWWN4BDa7kRQ5LMv15FfQ454N1AURTVkPTsfZz8qR_xeDjWOjNqJ6mxY7h2Yo#_=_"/>
				</Services>				
			</Account>

			<!-- ======== Bbinary ======== -->
			<Account ID="1006" Name="Bbinary" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="(\bp=edgetrackerid_(?{edgetrackerid}\w+)\b)" Value="{edgetrackerid}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords"
							Adwords.MccEmail="ppc.easynet@gmail.com"
							Adwords.ClientID="313-555-6925"
							>
						<!--<SchedulingRules Overrides="true">
							<Rule ExactTimes="08:10" CalendarUnit="Day" MaxDeviation="00:20" />
						</SchedulingRules>-->
					</Service>
					<Service Uses="Facebook.AdsApi"
							 Facebook.Account.Name="Bbinary"
							Facebook.Account.ID="263939553"
							
							Facebook.Auth.SessionSecret="9b933d25fd973b9aa897f056b156661b"/>
				</Services>
			</Account>

			<!-- ======== Easy Forex ======== -->
			<Account ID="7" Name="EasyForex" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="(\bref_id=(?{ref_id}\w+)\b)" Value="{ref_id}"/>
						<Pattern Regex="(\bgid=(?{EFtracker}\w+)\b)" Value="{EFtracker}"/>
						<Pattern Regex="((%3F|%26)gid%3D(?{EFtracker}\w+)\b)" Value="{EFtracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords.EasyForex">
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="05:02" CalendarUnit="Day" MaxDeviation="00:25" />
						</SchedulingRules>
					</Service>



					<Service Uses="Facebook.AdsApi"
							 Facebook.Account.Name="EasyForex"
							Facebook.Account.ID="52081533"							
							Facebook.Auth.SessionSecret="AQC30JAPrSVgxivQwusb7JLdo0x_nEUZe4GI1f0xCcsFaypFwnJtTPKG-2pkmyF2WtYpqU_zghvK_HsS53piz3bcVuiDXHU_pXB9m3swePyldBPhve4um6A6-8k1b-yIFFDrBXsbSidUUzQYS_qi6WPDSV1mahiR-WmpIqfZ7aWIrYcgeYxD07QkR68NFtP0gHY#_=_"/>
				</Services>
			</Account>

			<!-- ======== Stock Pair ======== -->
			<Account ID="1249" Name="Stock Pair">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bp=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.ClientID="900-690-7606" Adwords.MccEmail="ppc.easynet@gmail.com">
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="03:30" CalendarUnit="Day" MaxDeviation="00:25" />
						</SchedulingRules>
					</Service>
					<Service Uses="Facebook.AdsApi"
							Facebook.Account.Name="Stock Pair"
							Facebook.Account.ID="106380492783821"
							Facebook.Auth.SessionKey="e7326d11401aceb6ff42a46c.4-100002356135028"
							Facebook.Auth.SessionSecret="2e7dc6eb2f1e6267527648ec4ee40807"
							/>
				</Services>
			</Account>

			<!-- ======== BezeqInt ======== -->
			<Account ID="67" Name="BezeqInt" >
				<AutoSegments IsEnabled="false">
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords"
							Adwords.MccEmail="ppc.easynet@gmail.com"
							Adwords.ClientID="570-782-6631"
							/>
				</Services>
			</Account>

			<!-- ======== Proportzia ======== -->
			<Account ID="42" Name="Proportzia" >
				<AutoSegments IsEnabled="false">
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="472-872-7798"/>
				</Services>
			</Account>

			<!-- ======== Daka90 ======== -->
			<Account ID="102" Name="Daka90" >
				<AutoSegments IsEnabled="false">
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="272-772-9533" />
				</Services>
			</Account>

			<!-- ======== OOVOO ======== -->
			<Account ID="1014" Name="OOVOO" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\butm_content=Ad(?{tracker}\w+)\b" Value="{tracker}"/>
						<Pattern Regex="\butm_content=ad(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com"	Adwords.ClientID="221-507-2572"	/>
				</Services>
			</Account>

			<!-- ======== DragonOptions ======== -->
			<Account ID="1240223" Name="DragonOptions" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bp=edgetrackerid_(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="106-743-0336" />
				</Services>
			</Account>

			<!-- ======== Digital Fuel ======== -->
			<Account ID="1004" Name="Digital Fuel" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\btrackerid=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com"	Adwords.ClientID="154-753-6935"	/>
				</Services>
			</Account>

			<!-- ======== Eye Buy Direct ======== -->
			<Account ID="1001" Name="Eye Buy Direct">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\btrackerid=fb(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Facebook.AdsApi"
							Facebook.Account.Name="Eye Buy Direct"
							Facebook.Account.ID="368434410"
							Facebook.Auth.SessionKey="cd242902da6691aa0f460480.0-100002126840056"
							Facebook.Auth.SessionSecret="94077a351ba411db294525d3d3d3096c"
							/>
				</Services>
			</Account>

			<!-- ======== Ask.com ======== -->
			<Account ID="1002" Name="Ask.com">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bo=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Facebook.AdsApi"
							Facebook.Account.Name="Ask.com"
							Facebook.Account.ID="346377637"							
							Facebook.Auth.SessionSecret="AQCvxE1i6w0hvo0tsHO_D3lcRCL32hdfAzp1KZDqRblURHc9-yoojEcfpWoGdpH1517PWpWAxBD4AqbR_hu-wBphKGEHfR_ZE6LUUQJJwEzGVl5d8Wqxic91FthTArqmXfgZgIOUSHpgntUGO7XUcy7n4MN_kO-dBrCs657nCjHivOmD5olayxBaVCbE3cCcLIg#_=_"
							/>
				</Services>
			</Account>

			<!-- ======== Yola ======== -->
			<Account ID="1005" Name="Yola">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bo=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Facebook.AdsApi"
							Facebook.Account.Name="Yola"
							Facebook.Account.ID="346831581"							
							Facebook.Auth.SessionSecret="AQDYIViJo3dPDO3ableOiFcE-3SXKf-7wtIXqTfVI9hFqHsbT82am1PklTxL9XqOucFQZNMdNPeOvaTMY-gbcX2gCDt5EhsCJUQwR2YzSai_-ob1xb89Ij12y2x67hON1dwHgJhplrXiAYanJ_kvig71jLYmTOS8As7zhKlp2giDHO_FmB-STwO02HH2xp4rWdA#_=_"
							/>
				</Services>
			</Account>

			<!-- ======== Radvision ======== -->
			<Account ID="109" Name="Radvision">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\btrackerid=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="757-489-1019">
						<!--<SchedulingRules Overrides="true">
							<Rule ExactTimes="11:05" CalendarUnit="Day" MaxDeviation="00:25" />
						</SchedulingRules>-->
					</Service>
				</Services>
			</Account>

			<!-- ======== Leascar ======== -->
			<Account ID="113" Name="Leascar">
				<AutoSegments IsEnabled="false">
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="891-372-5780"/>
				</Services>
			</Account>

			<!-- ======== Homeless ======== -->
			<Account ID="520" Name="Homeless">
				<AutoSegments IsEnabled="false">
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="300-314-5888"/>
				</Services>
			</Account>

			<!-- ======== Mojob ======== -->
			<Account ID="1011" Name="Mojob">
				<AutoSegments IsEnabled="false">
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="176-375-9939"/>
				</Services>
			</Account>

			<!-- ======== Seperia.com ======== -->
			<Account ID="61" Name="Seperia.com">
				<AutoSegments IsEnabled="false">
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="281-492-7878"/>
					<Service Uses="Facebook.AdsApi"
							Facebook.Account.Name="Seperia.com"
							Facebook.Account.ID="59684411"
							Facebook.Auth.SessionKey="1318fbe14230719aa86fb7c9-100000543387293"
							Facebook.Auth.SessionSecret="e45a842e47595459224c529dae32e4fe"
							/>
				</Services>
			</Account>

			<!-- ======== Babylon ======== -->
			<Account ID="106" Name="Babylon">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\btextlink=esyhn(?{tracker}\w+)\b" Value="2{tracker}"/>
						<Pattern Regex="\btextlink=esyms(?{tracker}\w+)\b" Value="14{tracker}"/>
						<Pattern Regex="\btextlink=esgn(?{tracker}\w+)\b" Value="1{tracker}"/>
						<Pattern Regex="\btextlink=esfa(?{tracker}\w+)\b" Value="6{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun"/>
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="630-321-7827"/>
				</Services>
			</Account>

			<!-- ======== White Smoke ======== -->
			<Account ID="1235" Name="White Smoke">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\brefid=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Facebook.AdsApi"
							Facebook.Account.Name="White Smoke"
							Facebook.Account.ID="360708442"
							Facebook.Auth.SessionKey="6a0ea69bf5410bc56e34cbab-100001933363390"
							Facebook.Auth.SessionSecret="fd78335fe40eb0b4bd6624533f9c8696"
							/>
				</Services>
			</Account>

			<!-- ======== DriversDoctor ======== -->
			<Account ID="1241" Name="DriversDoctor">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\butm_content=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Facebook.AdsApi"
							Facebook.Account.Name="DriversDoctor"
							Facebook.Account.ID="365386082"
							Facebook.Auth.SessionKey="b482e1b2730a9d91c111f36b-100002018577760"
							Facebook.Auth.SessionSecret="7b2509cdb85ebf0b139a5fbd1affb011"
							/>
				</Services>
			</Account>

			<!-- ======== harmon.ie ======== -->
			<Account ID="1240" Name="harmon.ie">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bad_id=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="343-519-6637"/>
					<Service Uses="Facebook.AdsApi"
							Facebook.Account.Name="harmon.ie"
							Facebook.Account.ID="100912583340137"
							Facebook.Auth.SessionKey="f0abc6fac6eea7822dab298b.4-100002641861843"
							Facebook.Auth.SessionSecret="a66b44ee6057fc31991eee6f31d2e9e7"
							/>
				</Services>
			</Account>

			<!-- ======== InterTrader ======== -->
			<Account ID="1239" Name="InterTrader ">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bwm=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="949-326-3074" />
				</Services>
			</Account>

			<!-- ======== DietSolution ======== -->
			<Account ID="1243" Name="DietSolution">
				<AutoSegments IsEnabled="false">
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Facebook.AdsApi"
						Facebook.Account.Name="DietSolution"
						Facebook.Account.ID="367505920"
						Facebook.Auth.SessionKey="66e04a75874760820e0e1a86-100002115763959"
						Facebook.Auth.SessionSecret="180429a30168dd15a94ddac86f8522f8"
							/>
				</Services>
			</Account>

			<!-- ======== ForexAffiliate ======== -->
			<Account ID="1245" Name="ForexAffiliate">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bpartnersseperia(?{tracker}\w+)\b" Value="{tracker}"/>
						<Pattern Regex="\bbest_affiliate_(?{tracker}\w+)\b" Value="{tracker}"/>
						<Pattern Regex="\bUKSeperia(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="586-663-3386" />
					<Service Uses="Facebook.AdsApi"
						Facebook.Account.Name="ForexAffiliate"
						Facebook.Account.ID="365165763"
						Facebook.Auth.SessionKey="cc17da5308531cdd40b95802-100002024335296"
						Facebook.Auth.SessionSecret="5b8f0d3570d7e4837f2976fd2cc647f9"
							/>
				</Services>
			</Account>

			<!-- ======== Pauza ======== -->
			<Account ID="1247" Name="Pauza">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bref=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="222-605-8090" />
				</Services>
			</Account>

			<!-- ======== Top Scratch ======== -->
			<Account ID="1248" Name="Top Scratch">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\butm_content=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="755-297-3466" />
					<Service Uses="Facebook.AdsApi"
						Facebook.Account.Name="Top Scratch"
						Facebook.Account.ID="103539379729597"
						Facebook.Auth.SessionKey="20c5efc69dbdcb56c05f5592.4-100002206064988"
						Facebook.Auth.SessionSecret="86a6d825210854b12ac11e2c0b9e5ab9"
							/>
				</Services>
			</Account>

			<!-- ======== NobleCasino ======== -->
			<Account ID="1240224" Name="NobleCasino">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bprofile=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Facebook.AdsApi"
						Facebook.Account.Name="NobleCasino"
						Facebook.Account.ID="106092456150902"
						Facebook.Auth.SessionKey="ad7d95da979bb2b16caf6f92.0-100002504448424"
						Facebook.Auth.SessionSecret="c324fe85865a9b4bfede9c90f5bff60b"
							/>
				</Services>
			</Account>

			<!-- ======== Magisto ======== -->
			<Account ID="1240226" Name="Magisto" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="(\butm_content=(?{ref_id}\w+)\b)" Value="{ref_id}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords"
							Adwords.MccEmail="ppc.easynet@gmail.com"
							Adwords.ClientID="589-375-3277"
							>
					</Service>
					<Service Uses="Facebook.AdsApi"
							 Facebook.Account.Name="Magisto"
							Facebook.Account.ID="104545522979268"
							Facebook.Auth.SessionKey="88c909aa6340a3c0478e18f2.4-100002714624309"
							Facebook.Auth.SessionSecret="8e3fcc47526eef77ff49cdab7510c769"/>
				</Services>
			</Account>

			<!-- ======== Leverate ======== -->
			<Account ID="1240227" Name="Leverate" >
				<AutoSegments IsEnabled="false">
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords"
							Adwords.MccEmail="ppc.easynet@gmail.com"
							Adwords.ClientID="430-419-4336"
							>
					</Service>
				</Services>
			</Account>

		</Accounts>
	</edge.services>

</configuration>