<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>

	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="D:\test\"/>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>		
		<add key="Edge.Services.SegmentMetrics.SegmentMetricsImportManager.BufferSize" value="1"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.DeliveryGet" value="Delivery_Get(@deliveryID:Char, @deep:bit)"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.DeliveryDelete" value="Delivery_Delete(@deliveryID:Char)"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.OutputDelete" value="Output_Delete(outputID:Char)"/>
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@measureID:Int,,@includeBase:Int@flags:Int,@operator:Int)"/>
		<add key="Edge.Services.Google.Analytics.Auth2.SP_Get" value="GA_GetAuth2(@ClientID:nvarchar)"/>
		<add key="Edge.Services.Google.Analytics.Auth2.SP_Save" value="GA_SaveAuth2(@ClientID:nvarchar,@AccessToken:nvarchar,@RefreshToken:nvarchar,@ExpiresIn:int,@UpdateTime:Datetime2)"/>
		<add key="Edge.Services.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
		<add key="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
		<add key="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager.BufferSize" value="10"/>
		<add key="Edge.Data.Pipeline.Services.PipelineService.DeliveryTicket.SP" value="DeliveryTicket_Get"/>
    <add key="Edge.Services.SalesForce.Token.SP_Save" value="SalesForce_SaveToken(@AccountID:int,@Id:Nvarchar,@ClientID:NvarChar,@Instance_url:NvarChar,@AccessToken:NvarChar,@RefreshToken:NvarChar,@Signature:NvarChar,@Issued_at:NvarChar,@UpdateTime:Datetime"/>
    <add key="Edge.Services.SalesForce.Token.SP_Get" value="SalesForce_GetToken(@ClientID:Nvarchar,@AccountID:int)"/>
    <add key="Edge.Services.SalesForce.Token.TimeOut" value="02:00:00"/>
    <add key="Edge.Data.Objects.CurrencyRate.SP.GetCurrencyRate" value="GetCurrencyRates(@Date:DateTime)"/>
  </appSettings>

	<connectionStrings>
    <add name="Edge.Data.Objects.CurrencyRate.CurrencyRateDatabase" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    
		<add name="Edge.Services.SalesForce.Token.DB" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager.StagingDatabase" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!"/>
		<add name="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager.StagingDatabase" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!"/>
    <add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Data Source=79.125.11.74; Database=Seperia_System_291;User ID=SeperiaServices;PWD=Asada2011!"/>
    <add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=79.125.11.74; Database=Seperia_System_291;User ID=SeperiaServices;PWD=Asada2011!"/>
    <add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=79.125.11.74;Initial Catalog=Deliveries;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!"/>
    <add name="Edge.Services.AdMetrics.AdMetricsImportManager.OLTP" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!"/>
    <add name="Edge.Services.AdMetrics.RollbackService.OLTP" connectionString="Data Source=79.125.11.74;Initial Catalog=Deliveries;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!"/>
    <add name="Edge.Services.SegmentMetrics.SegmentMetricsImportManager.OLTP" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!" />
    <add name="Edge.Services.Facebook.GraphApi.UpdateCampaignStatus.DB" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!" />
    <add name="Edge.Services.Google.Analytics.Auth2.DB" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!" />
	</connectionStrings>


  


  <edge.services>
		<Extensions>
			<!--<add key="AutoSegments" value="Edge.Data.Pipeline.Configuration.AutoSegmentDefinitionCollection, Edge.Data.Pipeline"/>-->
			<add key="Mappings" value="Edge.Data.Pipeline.Mapping.MappingConfigurationElement, Edge.Data.Pipeline"/>
		</Extensions>

		<Services>
			<Service Name="Rerun" IsPublic="true" Class="Edge.Data.Pipeline.Services.RerunService,Edge.Data.Pipeline"/>
			<Service Name="AdMetricsCommit" IsPublic="false" Class="Edge.Services.AdMetrics.CommitService,Edge.Services.AdMetrics"/>

			
			<Service Name="Google.Analytics"
						FileDirectory="Google.Analytics"					   
						Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"						
					    AuthenticationUrl="https://accounts.google.com/o/oauth2/token"
					    ConsentCode="4/opRZKDRWioO6wYUw5cAd2r5KSm-m"
					    ClientID="605921647991-8946ad39s0gbu189totf3al4bjspgsbf.apps.googleusercontent.com"
				        ClientSecret="CwK1-6tXOHuX8Eh9CJ5MfeKC"
				        Redirect_URI="http://www.edge.bi/oauth2callback"					 
					    SQL.TransformCommand="SP_Delivery_Transform_BO_Generic(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
					    SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryOutputID_v291(@DeliveryOutputID:NvarChar,@TableName:NvarChar)"
					    SQL.StageCommand="SP_Delivery_Stage_BO_Generic(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@OutputIDsPerSignature:NvarChar,@DeliveryID:NvarChar)"
					    MaxExecutionTime="00:40:00"
						MaxInstances="2"
						MaxInstancesPerAccount="2">
				<Workflow>
					<Step Base="GoogleAnalyticsInitializerService" />
					<Step Base="GoogleAnalyticsRetriverService"  />
					<Step Base="GoogleAnalyticsProcessorService"  />
					<Step Base="GenericMetricsCommit" ImportManagerType="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager,Edge.Data.Pipeline.Metrics"/>
					
				</Workflow>
				<!--<SchedulingRules>
					<Rule ExactTimes="14:47" CalendarUnit="Day" MaxDeviation="5:00"  />
				</SchedulingRules>-->
			</Service>
			<Service Name="MetricsCommit" IsPublic="false" Class="Edge.Data.Pipeline.Metrics.Services.MetricsStagingService,Edge.Data.Pipeline.Metrics" ImportManagerType="Edge.Data.Pipeline.Metrics.AdMetrics.GenericMetricsImportManager,Edge.Data.Pipeline.Metrics"/>

			<Service Name="GoogleAnalyticsInitializerService" IsPublic="false" Class="Edge.Services.Google.Analytics.InitializerService,Edge.Services.Google.Analytics"/>
			<Service Name="GoogleAnalyticsRetriverService" IsPublic="false" Class="Edge.Services.Google.Analytics.RetrieverService,Edge.Services.Google.Analytics"/>
			<Service Name="GoogleAnalyticsProcessorService" IsPublic="false" Class="Edge.Services.Google.Analytics.ProcessorService,Edge.Services.Google.Analytics"/>
			<Service Name="GenericMetricsCommit" IsPublic="false" Class="Edge.Data.Pipeline.Metrics.Services.MetricsStagingService,Edge.Data.Pipeline.Metrics" ImportManagerType="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager,Edge.Data.Pipeline.Metrics"/>
			<!--<Service Name="CommitService" IsPublic="false" Class="Edge.Services.SegmentMetrics.Services.CommitService,Edge.Services.SegmentMetrics"/>-->

			<!-- ======== Google AdWords ======== -->
			

			<Service Name="RoleBackByDeliveries" SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)" Class="Edge.Services.AdMetrics.RollbackService,Edge.Services.AdMetrics"/>
			<!--  DeliveryID="e799f0956afe4d96b6b459095a61a282"-->
      <Service Name="Edge.Services.SalesForce"
          DeliveryID ="a604555f4e1646b6a343d24fe225e142"
                ConflictBehavior ="Ignore"
					 Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					 FileDirectory="SalesForce"
					 AuthenticationUrl="https://login.salesforce.com/services/oauth2/token"
					 Redirect_URI="http://localhost:8080/RestTest/oauth/_callback"
					  SQL.TransformCommand="SP_Delivery_Transform_BO_Generic(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
					    SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryOutputID_v291(@DeliveryOutputID:NvarChar,@TableName:NvarChar)"
					    SQL.StageCommand="SP_Delivery_Stage_BO_Generic(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@OutputIDsPerSignature:NvarChar,@DeliveryID:NvarChar)">

				<Workflow>
					<Step Base="SalesForceInitializerService" IsEnabled="true"/>
					<Step Base="SalesForceRetriverService" IsEnabled="true" />
					<Step Base="SalesForceProcessorService" IsEnabled="true"/>
					<Step Base="GenericMetricsCommit" IsEnabled="false"/>
				</Workflow>
				
				
				
				
			</Service>
			<Service Name="SalesForceInitializerService" IsPublic="false" Class="Edge.Services.SalesForce.InitializerService,Edge.Services.SalesForce"/>
			<Service Name="SalesForceRetriverService" IsPublic="false" Class="Edge.Services.SalesForce.RetrieverService,Edge.Services.SalesForce"/>
			<Service Name="SalesForceProcessorService" IsPublic="false" Class="Edge.Services.SalesForce.ProcessorService,Edge.Services.SalesForce"/>
			<Service Name="GenericMetricsCommit" IsPublic="false" Class="Edge.Data.Pipeline.Metrics.Services.MetricsStagingService,Edge.Data.Pipeline.Metrics" ImportManagerType="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager,Edge.Data.Pipeline.Metrics"/>
				 
				 
		
		
		
		</Services>



		<Accounts>
			<Account ID="-1" Name="System Account">
				<Services>
					<Service Uses="RoleBackByDeliveries"></Service>
				</Services>
			</Account>
<!--Seperia college-->
			<Account ID="999" Name="GreenSql">

				<Services>
					<Service Name="SalesForce" Uses="Edge.Services.SalesForce" 
							 SalesForceClientID="3MVG9yZ.WNe6byQCa824BURpmLmBd4uyCY_xsDDj9jE.681uxAfte9ACgrXVls_Z9UtHonJdBj_2_rQnmr9Ja"
							 ConsentCode="aPrxZibfVBKPF9vKVR7Fp0etunfQjgh2zzk79EKwfwfaxP0hrJWUI1SgEM4.u23K55F8.L_ccQ%3D%3D"
						     ClientSecret="8606650677336597746"							
						     Query="Select Name, Edge_Tracker__c,Download_Date__c,Trail_Activation_Date__c From Trail__c WHERE (Edge_Tracker__c!=null AND Edge_Tracker__c>0) AND ((CALENDAR_YEAR(Download_Date__c)={0} AND CALENDAR_MONTH(Download_Date__c)={1} AND DAY_IN_MONTH(Download_Date__c)={2}) OR (CALENDAR_YEAR(Trail_Activation_Date__c)={0} AND CALENDAR_MONTH(Trail_Activation_Date__c)={1} AND DAY_IN_MONTH(Trail_Activation_Date__c)={2}))">
						<Mappings>
							<Object Type="GenericMetricsUnit">

								<Map To='SegmentDimensions[{GetSegment("Tracker")}]'>
									<Read Var="tracker" Field='Edge_Tracker__c'/>									
									<Map To='Value' Value='{tracker}' Required='false'/>									
								</Map>
								<Read Var="DownloadDate" Field='Download_Date__c'/>
								<Map To='MeasureValues[{GetMeasure("ClientSpecific6")}]' Value='{GetConversion(DownloadDate)}'/>
								<Read Var="ActivationDate" Field='Trail_Activation_Date__c'/>
								<Map To='MeasureValues[{GetMeasure("ClientSpecific7")}]' Value='{GetConversion(ActivationDate)}'/>
							</Object>
						</Mappings>
					</Service>
					
				</Services>
			</Account>
      <!--======== NanoRep ========-->
      <Account ID="1240271" Name="NanoRep" >
        <Services>
          
          <!--nanorep backoffice salceforce-->
          <Service Name="SalesForce" Uses="Edge.Services.SalesForce"
          ConsumerKey="3MVG9y6x0357Hlef8h_O5_I0PNF6kzSnP0IY1dIZbQRnj9Lx79hAWzGXLRcNoQqLd.3ldX2tJyId2OJlaqJf5"
          ConsentCode="aPrx_vK.AljnHqNmCzITQq0VacOahoMoZ7ExJirmuDDCLHxpH3bCf5dZSt3NKOECYE1PnvBtdw=="
          ConsumerSecret="2188694827437286630"
          Query="CreatedLeads:SELECT Company,Name,CreatedDate,Status, Edge_BI_Tracker__c  FROM Lead WHERE TimePeriod.EqualToCalendarUnits(CreatedDate) AND Status = 'Created' AND Edge_BI_Tracker__c !=null
@AssignedLead:SELECT Name,CreatedDate,Status, Assigned_Date__c,Edge_BI_Tracker__c FROM Lead WHERE TimePeriod.EqualToCalendarUnits(Assigned_Date__c) AND Status = 'Assigned' AND Edge_BI_Tracker__c !=null
@ScheduleDemo:SELECT Name,CreatedDate,Status, Demo_set_up_date__c,Edge_BI_Tracker__c FROM Lead WHERE TimePeriod.EqualToCalendarUnits(Demo_set_up_date__c) AND Status = 'Demo scheduled' AND Edge_BI_Tracker__c !=null
@NurturingLead:SELECT Name,CreatedDate,Status, Demo_set_up_date__c,Edge_BI_Tracker__c FROM Lead WHERE TimePeriod.EqualToCalendarUnits(Nurturing_Date__c) AND Status = 'Nurturing' AND Edge_BI_Tracker__c !=null
@NotRelevantLead:SELECT Name,CreatedDate,Status, Not_Relevant_Date__c,Edge_BI_Tracker__c FROM Lead WHERE TimePeriod.EqualToCalendarUnits(Nurturing_Date__c) AND Status = 'Not_Relevant_Date__c' AND Edge_BI_Tracker__c !=null
@ConvertedLead:SELECT CreatedDate,StageName ,Name ,Edge_BI_Tracker__c FROM Opportunity WHERE  Edge_BI_Tracker__c != null AND TimePeriod.EqualToCalendarUnits(CreatedDate)
@DemoMeeting:SELECT StageName,Demo_Meeting_Date__c ,Edge_BI_Tracker__c From Opportunity WHERE TimePeriod.EqualToCalendarUnits(Demo_Meeting_Date__c) AND Edge_BI_Tracker__c !=null AND StageName='Demo Meeting'
@TrialInProcess:SELECT StageName,Trial_In_Process_date__c ,Edge_BI_Tracker__c From Opportunity WHERE TimePeriod.EqualToCalendarUnits(Trial_In_Process_date__c) AND Edge_BI_Tracker__c !=null AND StageName='Trial – In Process'
@TrialLive:SELECT StageName,Trial_Live_Date__c ,Edge_BI_Tracker__c From Opportunity WHERE TimePeriod.EqualToCalendarUnits(Trial_Live_Date__c) AND Edge_BI_Tracker__c !=null AND StageName='Trial - Live'
@ProposalPriceQuote:SELECT StageName,Proposal_Price_Quote_Date__c ,Edge_BI_Tracker__c From Opportunity WHERE TimePeriod.EqualToCalendarUnits(Proposal_Price_Quote_Date__c) AND Edge_BI_Tracker__c !=null AND StageName='Proposal/Price Quote'
@PayingInstallation:SELECT Paying_Installation_Date__c,StageName ,Name ,Edge_BI_Tracker__c,Amount FROM Opportunity WHERE  Edge_BI_Tracker__c !=null AND TimePeriod.EqualToCalendarUnits(Paying_Installation_Date__c)AND StageName='Paying Installation'
@PayingLive:SELECT CreatedDate,Paying_Live_date__c,StageName ,Name ,Edge_BI_Tracker__c,Amount FROM Opportunity WHERE Edge_BI_Tracker__c !=null    AND TimePeriod.EqualToCalendarUnits(Paying_Live_date__c) AND StageName='Paying Live'
@ClosedLost:SELECT StageName,Closed_Lost_Date__c ,Edge_BI_Tracker__c From Opportunity WHERE TimePeriod.EqualToCalendarUnits(Closed_Lost_Date__c) AND Edge_BI_Tracker__c !=null AND StageName='Closed Lost'
@ClosedChurn:SELECT StageName,Closed_Churn_Date__c ,Edge_BI_Tracker__c From Opportunity WHERE TimePeriod.EqualToCalendarUnits(Closed_Churn_Date__c) AND Edge_BI_Tracker__c !=null AND StageName='Closed Churn' ">

            <Mappings Path="Mappings\1240271\SalesForce.xml"/>
          </Service>

        </Services>
      </Account>

      <Account ID="1240272" Name="Stratasys" >
        <Services>
        
          <!--Stratasys backoffice salceforce-->
          <Service Name="SalesForce" Uses="Edge.Services.SalesForce"
				ConsumerKey="3MVG9y6x0357Hlef8h_O5_I0PNF6kzSnP0IY1dIZbQRnj9Lx79hAWzGXLRcNoQqLd.3ldX2tJyId2OJlaqJf5"
				ConsentCode="aPrxzp43SUYOZpG_1SGmrVzPh82Zn2sQxZSDRDMs93LEx8WTOeiiNrE6m7._O0s6hL5kMyWtig=="
				ConsumerSecret="2188694827437286630"
				Query="Leads:SELECT Id,Company,Name,ConvertedOpportunity.StageName,ConvertedOpportunityId,ConvertedOpportunity.CreatedDate,CreatedDate,Status,utm_source__c,UTM_Ad__c,Lead_sub_status__c,Industry,Products__c FROM Lead WHERE ConvertedOpportunityId !=null AND UTM_Ad__c  != null AND UTM_Ad__c LIKE '%$%' LIMIT 10">

            <Mappings Path="Mappings\1240272\SalesForce.xml"/>
          </Service>

        </Services>
      </Account>
      
      
      <Account ID="7777777" Name="ClickTale">
        <!--Query="Leads:SELECT CreatedById,Company,CreatedDate,Edge_BI_Tracker__c ,Company_Type__c,IsConverted ,Status  FROM Lead WHERE TimePeriod.EqualToCalendarUnits(CreatedDate) AND Edge_BI_Tracker__c != null AND Company!='dummy' AND CreatedById!='005D0000001CWJQIA4'
        @ScheduleDemo:SELECT CreatedDate, Subject, Status, Edge_BI_Tracker__c FROM Task WHERE TimePeriod.EqualToCalendarUnits(CreatedDate) AND Subject = '**Demo**' AND What.Type = 'Account' AND Status LIKE 'Waiting on someone else' AND Edge_BI_Tracker__c != null
        @ClosedDemo:SELECT CreatedDate,ActivityDate , Description ,Subject, Status, Edge_BI_Tracker__c  FROM Task WHERE (ActivityDate = YESTERDAY) AND Subject = '**Demo**' AND What.Type = 'Account' AND Status LIKE 'Completed'  AND Edge_BI_Tracker__c != null
        @ConvertedLeads:SELECT CreatedById,Company,CreatedDate,Edge_BI_Tracker__c ,Company_Type__c,IsConverted,Status  FROM Lead WHERE TimePeriod.EqualToCalendarUnits(CreatedDate) AND Edge_BI_Tracker__c != null AND Company!='dummy' AND CreatedById!='005D0000001CWJQIA4' AND Status = 'Converted' AND Company_Type__c LIKE 'SMB'
        @Enterprise_OPEN_Opportunity:SELECT CreatedBy.CreatedDate,StageName ,RecordTypeId,Name ,Edge_BI_Tracker2__c FROM Opportunity WHERE Name NOT IN('Renewal','Extension','Expand') AND TimePeriod.EqualToCalendarUnits(CreatedBy.CreatedDate) AND StageName IN('Open','In Process','Pending Closing - No POC','Pending Closing - With POC','In POC','Renew/Expand','Closed Won','Nurture','Closed Lost')
        @Enterprise_Closed_Opportunity:SELECT Edge_BI_Tracker2__c ,Name,StageName,CloseDate ,RecordTypeId ,Amount FROM Opportunity WHERE  Name NOT IN('Renewal','Extension','Expand') AND TimePeriod.EqualToCalendarUnits(CloseDate) AND StageName IN('Closed Won')
        @SMB_OPEN_Opportunity:SELECT CreatedBy.CreatedDate,StageName,Name ,RecordTypeId ,Edge_BI_Tracker2__c FROM Opportunity WHERE
        @SMB_Closed_Opportunity:SELECT Edge_BI_Tracker2__c ,Name,StageName,CloseDate ,RecordTypeId ,Amount FROM Opportunity WHERE TimePeriod.EqualToCalendarUnits(CloseDate) AND StageName IN('Closed Won','SMB - Closed Won') AND RecordTypeId IN('012D0000000BUcPIAW')
        ">-->
        <Services>
          <Service Name="SalesForce" Uses="Edge.Services.SalesForce"
							 ConsumerKey="3MVG9WtWSKUDG.x6e89YkbpCrd9QRhyLOkBaImW.k6jX2n4g5.MxLbK9_DvyCgUA_oYjudSYTk4ZGTYSMbtRl"
							 ConsentCode="aPrxDtC6R2ZDACHujzg7.TbasVUBooD5Q5Vq7vXhqkowZSY6VqTOI3BWswhKTfE61XQ_h8sj7w%3D%3D"
						     ConsumerSecret="1107662644694083889"
						     	 Query="Leads:SELECT CreatedById,Company,CreatedDate,Edge_BI_Tracker__c ,Company_Type__c,IsConverted ,Status  FROM Lead WHERE TimePeriod.EqualToCalendarUnits(CreatedDate) AND Edge_BI_Tracker__c != null AND Edge_BI_Tracker__c != 'undefined' AND Company!='dummy' AND CreatedById!='005D0000001CWJQIA4'
@ScheduleDemo:SELECT CreatedDate, Subject, Status, Edge_BI_Tracker__c FROM Task WHERE TimePeriod.EqualToCalendarUnits(CreatedDate) AND Subject = '**Demo**' AND What.Type = 'Account' AND Status LIKE 'Waiting on someone else' AND Edge_BI_Tracker__c != null AND Edge_BI_Tracker__c != 'undefined'
@ClosedDemo:SELECT CreatedDate,ActivityDate , Description ,Subject, Status, Edge_BI_Tracker__c  FROM Task WHERE (ActivityDate = YESTERDAY) AND Subject = '**Demo**' AND What.Type = 'Account' AND Status LIKE 'Completed'  AND Edge_BI_Tracker__c != null AND Edge_BI_Tracker__c != 'undefined'
@ConvertedLeads:SELECT CreatedById,Company,CreatedDate,Edge_BI_Tracker__c ,Company_Type__c,IsConverted,Status  FROM Lead WHERE TimePeriod.EqualToCalendarUnits(CreatedDate) AND Edge_BI_Tracker__c != null AND Company!='dummy' AND CreatedById!='005D0000001CWJQIA4' AND Status = 'Converted' AND Company_Type__c LIKE 'SMB' AND Edge_BI_Tracker__c != 'undefined'
@Enterprise_OPEN_Opportunity:SELECT CreatedDate,StageName ,RecordTypeId,Name ,Edge_BI_Tracker2__c FROM Opportunity WHERE Name NOT IN('Renewal','Extension','Expand') AND TimePeriod.EqualToCalendarUnits(CreatedDate) AND StageName IN('Open','In Process','Pending Closing - No POC','Pending Closing - With POC','In POC','Renew/Expand','Closed Won','Nurture','Closed Lost') AND RecordTypeId IN('012D0000000BUcUIAW') AND Edge_BI_Tracker2__c != null AND Edge_BI_Tracker2__c != 'undefined'
@Enterprise_Closed_Opportunity:SELECT Edge_BI_Tracker2__c ,Name,StageName,CloseDate ,RecordTypeId ,Amount FROM Opportunity WHERE  Name NOT IN('Renewal','Extension','Expand') AND TimePeriod.EqualToCalendarUnits(CloseDate) AND StageName IN('Closed Won') AND RecordTypeId IN('012D0000000BUcUIAW') AND Edge_BI_Tracker2__c != null AND Edge_BI_Tracker2__c != 'undefined'
                 @SMB_OPEN_Opportunity:SELECT CreatedDate,StageName,Name ,RecordTypeId ,Edge_BI_Tracker2__c FROM Opportunity WHERE TimePeriod.EqualToCalendarUnits(CreatedDate) AND StageName IN('Closed Won &lt; 3 months','SMB - Demo Scheduled','SMB - Qualified','SMB - Tech Review','SMB - Procurment / Negotiation','SMB - Closed Won &lt; 3','SMB - Nurture','SMB - Closed Lost','Closed Won','SMB - Closed Won') AND RecordTypeId IN('012D0000000BUcPIAW') AND Edge_BI_Tracker2__c != null   AND Edge_BI_Tracker2__c != 'undefined'
                 @SMB_Closed_Opportunity:SELECT Edge_BI_Tracker2__c ,Name,StageName,CloseDate ,RecordTypeId ,Amount FROM Opportunity WHERE TimePeriod.EqualToCalendarUnits(CloseDate) AND StageName IN('Closed Won','SMB - Closed Won') AND RecordTypeId IN('012D0000000BUcPIAW')AND Edge_BI_Tracker2__c != null AND Edge_BI_Tracker2__c != 'undefined' ">
            <Mappings>
              <Object Type="GenericMetricsUnit">

                <Map To='SegmentDimensions[{GetSegment("Tracker")}]'>
                  <Read Var="tracker" Field='Edge_BI_Tracker__c' Required='false'/>
                  <Read Var="opp_tracker" Field='Edge_BI_Tracker2__c' Required='false'/>
                  <Map To='Value' Value='{tracker}' Condition='tracker!=null' Required='false'/>
                  <Map To='Value' Value='{opp_tracker}' Condition='opp_tracker!=null' Required='false'/>
                </Map>
               <!--Getting Leads--> 
                <Read Var="LeadType" Field='Company_Type__c' Required='false'/>
                <Read Var="Status" Field='Status' Required='false'/>
                
                <Map To='MeasureValues[{GetMeasure("ClientSpecific1")}]' Condition='LeadType != null &amp;&amp; Status != null &amp;&amp; Status != "Converted" &amp;&amp; LeadType=="SMB"' Value='1'/>
                <Map To='MeasureValues[{GetMeasure("ClientSpecific2")}]' Condition='LeadType != null &amp;&amp; Status != null &amp;&amp; Status != "Converted" &amp;&amp; LeadType=="Enterprise"' Value='1'/>
             
                 <!--Getting ConvertedLeads--> 
                <Read Var="LeadType" Field='Company_Type__c' Required='false'/>
                <Map To='MeasureValues[{GetMeasure("ClientSpecific11")}]' Condition='LeadType != null &amp;&amp; Status != null &amp;&amp; Status == "Converted" &amp;&amp;  LeadType=="SMB"' Value='1'/>
                                
                <!--Getting ScheduleDemo-->
                <Read Var="Subject" Field='Subject' Required='false' RequiredAlert='false'/>
                <Map To='MeasureValues[{GetMeasure("ClientSpecific3")}]' Condition='Status!= null &amp;&amp; Status != "Completed" &amp;&amp; Subject == "**Demo**"' Value='1'/>

                <!--Getting ClosedDemo-->
                <Map To='MeasureValues[{GetMeasure("ClientSpecific4")}]' Condition='Status!= null &amp;&amp; Status == "Completed" &amp;&amp; Subject == "**Demo**"' Value='1'/>

                <!--Getting OPEN Opportunity-->
                <Read Var="RecordTypeId" Field='RecordTypeId' Required='false'/>
                <Read Var='CreatedDate' Field='CreatedBy.CreatedDate'  Required='false'/>
                <Map To='MeasureValues[{GetMeasure("ClientSpecific5")}]' Condition='CreatedDate != null &amp;&amp; RecordTypeId != null &amp;&amp; RecordTypeId=="012D0000000BUcPIAW"' Value='1'/><!--SMB-->
                <Map To='MeasureValues[{GetMeasure("ClientSpecific6")}]' Condition='CreatedDate != null &amp;&amp; RecordTypeId != null &amp;&amp; RecordTypeId=="012D0000000BUcUIAW"' Value='1'/><!--Enterprise-->
                
                <!--Getting Closed Opportunity-->
                <Read Var="OpportunityStatus" Field='StageName' Required='false'/>
                <Read Var='ClosedDate' Field='CloseDate'  Required='false'/>
                <Map To='MeasureValues[{GetMeasure("ClientSpecific7")}]' Condition='OpportunityStatus != null &amp;&amp; ClosedDate!=null &amp;&amp; RecordTypeId=="012D0000000BUcPIAW"' Value='1'/><!--SMB-->
                <Map To='MeasureValues[{GetMeasure("ClientSpecific8")}]' Condition='OpportunityStatus != null &amp;&amp; ClosedDate!=null &amp;&amp; RecordTypeId=="012D0000000BUcUIAW"' Value='1'/><!--Enterprise-->

                <!--Getting Closed Opportunity Value-->
                <Read Var="ClosedOpportunityAmount" Field='Amount' Required='false'/>
                <Map To='MeasureValues[{GetMeasure("ClientSpecific9")}]' Condition='ClosedOpportunityAmount != null  &amp;&amp; ClosedDate!=null &amp;&amp; RecordTypeId=="012D0000000BUcPIAW"' Value='{ClosedOpportunityAmount}'/><!--SMB-->
                <Map To='MeasureValues[{GetMeasure("ClientSpecific10")}]' Condition='ClosedOpportunityAmount != null &amp;&amp; ClosedDate!=null &amp;&amp; RecordTypeId=="012D0000000BUcUIAW"' Value='{ClosedOpportunityAmount}'/><!--Enterprise-->
                

              </Object>
            </Mappings>
          </Service>

        </Services>
      </Account>

      <Account ID="999999999" Name="Test">

        <Services>
          <Service Name="SalesForce" Uses="Edge.Services.SalesForce"
							 SalesForceClientID="3MVG9rFJvQRVOvk6.lDu3UamZCCpul2BvGOoy_sG.dgzhzt2OGG8JjQ7bygDKfanPJDPR89n7q7KjyOR0Cpww"
							 ConsentCode="aPrx4GbVBrSIkg4iZm6talQgI2y6SxYlID_5pJsXAcx3UYdHu5GwZRSoCzdO2WJgmQ3xWBxqnw%3D%3D"
						     ClientSecret="9018123918669073246"
						     Query="Select Name, Edge_Tracker__c,Download_Date__c,Trail_Activation_Date__c From Trail__c WHERE (Edge_Tracker__c!=null AND Edge_Tracker__c>0) AND ((CALENDAR_YEAR(Download_Date__c)={0} AND CALENDAR_MONTH(Download_Date__c)={1} AND DAY_IN_MONTH(Download_Date__c)={2}) OR (CALENDAR_YEAR(Trail_Activation_Date__c)={0} AND CALENDAR_MONTH(Trail_Activation_Date__c)={1} AND DAY_IN_MONTH(Trail_Activation_Date__c)={2}))">
            <Mappings>
              <Object Type="GenericMetricsUnit">

                <Map To='SegmentDimensions[{GetSegment("Tracker")}]'>
                  <Read Var="tracker" Field='Edge_Tracker__c'/>
                  <Map To='Value' Value='{tracker}' Required='false'/>
                </Map>
                <Read Var="DownloadDate" Field='Download_Date__c'/>
                <Map To='MeasureValues[{GetMeasure("ClientSpecific6")}]' Value='{GetConversion(DownloadDate)}'/>
                <Read Var="ActivationDate" Field='Trail_Activation_Date__c'/>
                <Map To='MeasureValues[{GetMeasure("ClientSpecific7")}]' Value='{GetConversion(ActivationDate)}'/>
              </Object>
            </Mappings>
          </Service>

        </Services>
      </Account>
      
      
			<Account ID="61" Name="Seperia.com">
				
				<Services>
					<Service Name="College.GA" Uses="Google.Analytics"
							 SegmentField1="ga:adDestinationUrl"
							 SegmentField2="ga:adContent"
							 ServiceAddress="https://www.googleapis.com/analytics/v3/data/ga?ids=ga:48345485&amp;start-date={0:yyyy-MM-dd}&amp;end-date={1:yyyy-MM-dd}&amp;dimensions=ga:source,ga:adContent,ga:adDestinationUrl&amp;metrics=ga:goal1Completions,ga:goal2Completions,ga:goal3Completions,ga:goal4Completions,ga:visitors,ga:newVisits,ga:visits&amp;filters=ga:source!%3D(not set);ga:adContent!%3D(not set)&amp;access_token={{0}}">
						<Mappings>
							<Object Type="GenericMetricsUnit">

								<Map To='SegmentDimensions[{GetSegment("Tracker")}]' Condition='!IsChecksum()'>
									<Read Var="tracker1" Field='ga:adDestinationUrl' Regex="\butm_content=(?{content}\w+)\b"/>
									<Read Var="tracker2" Field='ga:adContent' Regex="(?{content}.*\w+)\b"/>
									<Map To='Value' Value='0'/>
									<Map To='Value' Value='{tracker2.content}' Required='false' Condition='tracker1 == null || tracker1.content == null'/>
									<Map To='Value' Value='{tracker1.content}' Required='false'/>
								</Map>

								<Map To='MeasureValues[{GetMeasure("Acquisition1")}]' Field='ga:goal1Completions' Var='goal1Completions'/>
								<Map To='MeasureValues[{GetMeasure("Acquisition2")}]' Field='ga:goal2Completions' Var='goal2Completions'/>
								<Map To='MeasureValues[{GetMeasure("ClientSpecific1")}]' Field='ga:goal3Completions' Var='goal3Completions'/>
								<Map To='MeasureValues[{GetMeasure("ClientSpecific2")}]' Field='ga:goal4Completions' Var='goal4Completions'/>
								<Map To='MeasureValues[{GetMeasure("ClientSpecific3")}]' Field='ga:visitors' Var='visitors'/>
								<Map To='MeasureValues[{GetMeasure("ClientSpecific4")}]' Field='ga:newVisits' Var='newVisits'/>
								<Map To='MeasureValues[{GetMeasure("ClientSpecific5")}]' Field='ga:visits' Var='visits'/>
							</Object>
						</Mappings>
					</Service>
					<Service Name="SeperiaMain.GA" Uses="Google.Analytics"
				 SegmentField1="ga:adDestinationUrl"
				 SegmentField2="ga:adContent"
				 ServiceAddress="https://www.googleapis.com/analytics/v3/data/ga?ids=ga:48346938&amp;start-date={0:yyyy-MM-dd}&amp;end-date={1:yyyy-MM-dd}&amp;dimensions=ga:source,ga:adContent,ga:adDestinationUrl&amp;metrics=ga:goal6Completions,ga:goal7Completions,ga:visitors,ga:newVisits,ga:visits&amp;filters=ga:source!%3D(not set);ga:adContent!%3D(not set)&amp;access_token={{0}}">
						<Mappings>
							<Object Type="GenericMetricsUnit">

								<Map To='SegmentDimensions[{GetSegment("Tracker")}]' Condition='!IsChecksum()'>
									<Read Var="tracker1" Field='ga:adDestinationUrl' Regex="\butm_content=(?{content}\w+)\b"/>
									<Read Var="tracker2" Field='ga:adContent' Regex="(?{content}.*\w+)\b"/>
									<Map To='Value' Value='0'/>
									<Map To='Value' Value='{tracker2.content}' Required='false' Condition='tracker1 == null || tracker1.content == null'/>
									<Map To='Value' Value='{tracker1.content}' Required='false'/>
								</Map>

								<Map To='MeasureValues[{GetMeasure("ClientSpecific6")}]' Field='ga:goal6Completions' Var='goal6Completions'/>
								<Map To='MeasureValues[{GetMeasure("ClientSpecific7")}]' Field='ga:goal7Completions' Var='goal7Completions'/>								
								<Map To='MeasureValues[{GetMeasure("ClientSpecific3")}]' Field='ga:visitors' Var='visitors'/>
								<Map To='MeasureValues[{GetMeasure("ClientSpecific4")}]' Field='ga:newVisits' Var='newVisits'/>
								<Map To='MeasureValues[{GetMeasure("ClientSpecific5")}]' Field='ga:visits' Var='visits'/>
							</Object>
						</Mappings>
					</Service>
							 					
				</Services>
			</Account>
			<Account ID="1006" Name="Bbinary" >
				
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.Analytics"
					          ConsentCode="4/opRZKDRWioO6wYUw5cAd2r5KSm-m"
							SegmentField1="ga:pagePath"
							ServiceAddress="https://www.googleapis.com/analytics/v3/data/ga?ids=ga:48746229&amp;start-date={0:yyyy-MM-dd}&amp;end-date={1:yyyy-MM-dd}&amp;dimensions=ga:pagePath&amp;metrics=ga:goal1Value,ga:goal2Value,ga:goal3Value,ga:goal4Value,ga:visitors,ga:newVisits,ga:visits&amp;access_token={{0}}">
					</Service>

				</Services>
			</Account>
			<!-- ======== Leverate ======== -->
			<Account ID="1240227" Name="Leverate" >
				
				<Services>
					<Service Uses="Rerun"/>
					<Service Uses="Google.Analytics"
					          ConsentCode="4/pv7ujjHvtEBcmH05bL436wTzA1JM"
							SegmentField1="ga:landingPagePath"
							ServiceAddress="https://www.googleapis.com/analytics/v3/data/ga?ids=ga:7541211&amp;start-date={0:yyyy-MM-dd}&amp;end-date={1:yyyy-MM-dd}&amp;dimensions=ga:landingPagePath&amp;metrics=ga:goal11Completions,ga:entrances&amp;filters=ga:landingPagePath%3D@edgetracker&amp;access_token={{0}}">
					</Service>
				</Services>
			</Account>
			<Account ID="1240245" Name="Conduit U">
				
				<Services>

					<Service Uses="Google.Analytics"
					  ConsentCode="4/L3uqy6I1yg5dbwZ_oMAx9lHf9BWu"
					SegmentField1="ga:landingPagePath"
					ServiceAddress="https://www.googleapis.com/analytics/v3/data/ga?ids=ga:58734006&amp;start-date={0:yyyy-MM-dd}&amp;end-date={1:yyyy-MM-dd}&amp;dimensions=ga:landingPagePath&amp;metrics=ga:goal1Completions&amp;access_token={{0}}">
					</Service>
				</Services>
			</Account>
			
			

		</Accounts>
	</edge.services>

</configuration>