<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	
	<!--<objectSettings>
		<namespace ns="Edge.Services.Microsoft.AdCenter">
			<class cls="KeywordPerformanceReportReader">
				<setting name="XPath" value="Report/Table/Row"/>
			</class>
		</namespace>
	</objectSettings>
	
	<Service
		AdCenter.AppToken="asdasdasd"
		AdCenter.AppT
		
		TargetRange="{start: {date: '2011-03-12'}, end: '2011-03-15'}"
		TargetRange="{start: {m:-1, d:1}, end: {m:'-=1', d:20}}"
		TargetRange="{start: {w:-2, d:'+=1'}}"
		TargetRange="{start: {m:-1, d:1}, end: {m:'-=1', d:'*'}}"
		TargetRange="{m:-1, w:2}"
		TargetRange="{start: {d:-1, h:0}, end: {d:-1, h:'*'}}"
		TargetRange="{start: {y:2010, m:1, d:1}, end: {m:3, d:27, t:'23:00'}}"
	>
		<ExecutionSteps>
			<Step Uses="Initializer"/>
			<Step Uses="UrlRetriever"/>
			<Step Uses="Processor"/>	
		</ExecutionSteps>
		
		
		{
			start:
			{
				basedate: 'yyyy-MM-ddThh:mm:ss.0000Z',
				basedate: '/Date(1291244400000)/',
				basetime: 'hh:mm:ss',
				basetime: 18938278372,
				y: 2001,
				m: '+=1',
				m: '-=1' OR -1,
				m: 1,
				m: '*',
				boundary: 'lower' OR 'upper'
			},
			end:
			{
			}
		}
		
	</Service>-->
	
    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReportingService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IReportingService1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://reporting.api.bingads.microsoft.com/Api/Advertiser/Reporting/V9/ReportingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportingService"
                contract="AdCenter.Reporting.IReportingService" name="BasicHttpBinding_IReportingService" />
            <endpoint address="https://reporting.api.bingads.microsoft.com/Api/Advertiser/Reporting/V9/ReportingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportingService1"
                contract="AdCenter.Reporting.IReportingService" name="BasicHttpBinding_IReportingService1" />
        </client>
    </system.serviceModel>
</configuration>