<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>

	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="D:\Runtime\Edge\Edge.Data.Pipeline.FileManager"/>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.FileName" value="Edge.Deliveries.db4o"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.Port" value="2121"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.User" value="sa"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.Password" value="sa"/>
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@flags:int,@operator:int"/>
		<add key="Edge.Services.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
	</appSettings>

	<connectionStrings>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Host=localhost; User=sa; Password=sa; Port=2121;"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI;"/>
		<add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=alonya-pc; Database=Deliveries;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.AdMetricsImportManager.Oltp" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.ValidateCommitService.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
	</connectionStrings>

	<edge.services>
		<Extensions>
			<add key="AutoSegments" value="Edge.Data.Pipeline.Configuration.AutoSegmentDefinitionCollection, Edge.Data.Pipeline"/>
			<add key="ImportMappings" value="Edge.Services.AdMetrics.Configuration.MappingConfiguration, Edge.Services.AdMetrics"/>
		</Extensions>

		<Services>
			

		</Services>

		<Accounts>
			5
			{var}
			{var.my_favorite_d}
			{MyFunction:{var},43}
			<Account ID="7" Name="OOVOO">
				<ImportMappings>
					<Object Type="Ad">
						<Map To="Campaign.Channel" Value="{GetChannelByName:AdMob}"/>
						<Map To="Campaign.Account.ID" Value="{GetAccountID:}"/>
						<Map To="Creatives[]::TextCreative">
							<Map To="Text" Field="Desc1"/>
							<Map To="TextType" Value="Body"/>
						</Map>
					</Object>

					<Object Type="AdMetricsUnit">
						<Read Field="DayCode" Regex="(?{y}[0-9]{4})(?{m}[0-9]{2})(?{d}[0-9]{2})"/>
						<Map To="PeriodStart" Value="\{date:{DayCode.y}-{DayCode.m}-{DayCode.d}, align: 'start'\}"/>
						<Map To="PeriodEnd" Value="\{date:{DayCode.y}-{DayCode.m}-{DayCode.d}, align: 'end'\}"/>
					</Object>
					

					<Object Type="Ad">
						<Read Name="ALON" Field="testfields" Regex="(?{numbers}d+)(?{letters}[a-z]+)"/>
						<Map To="Name" Field="testfields" Regex="(?{numbers}d+)(?{letters}[a-z]+)" Value="{numbers}_{letters}"/>
						
						
						<Map To="Campaign.Channel.Name" Field="chnl"/>

						<Read Name="chnl" Field="chnl"/>
						<Map To="Campaign.Channel.Name" Value="{chnl}"/>
						
						
						<Map To="Campaign.Account.Name" Field="AccountName"/>
						<Map To="Campaign.Account" Field="AccountName" Value="{Account:{AccountName}}"/>
						<Map To="Campaign.Name" Field="Campaign"/>
						<Map To="Campaign">
							<Read Name="cc" Field="channel"/>
							<Map To="Channel.Name" Value="{cc}"/>
							<Map To="Channel">
								<Map To="Name" Field="channel"/>
							</Map>
							<Map To="Account">
								<Read Field="AccountName" Name="anm" Regex="(?{chicken}[A-Z]*)"/>
								<Map To="Name" Value="{anm.chicken}"/>
							</Map>
						</Map>
						<Map To="DestinationUrl" Field="destUrl"/>
						
						
						<Map To="Creatives[]::TextCreative">
							<Read Field="Desc1"/>
							<Read Field="Desc2"/>
							<Map To="TextType" Value="Body"/>
							<Map To="Text" Value="{Desc1}"/>
							<Map To="Text2" Value="{Desc2}"/>
						</Map>

						<Map To="Creatives[]::TextCreative.Text2" Field="Desc2"/>
						
						<Map To="Creatives[]::TextCreative" Field="creativeVisurl">
							<Map To="TextType" Value="DisplayUrl"/>
							<Map To="Text" Value="{creativeVisurl}"/>
						</Map>
						<Map To="Segments[Segment:AdGroup]::SegmentValue" Field="Adgroup">
							<Map To="Value" Value="{Adgroup}"/>
						</Map>
						
						GetSegmentByName(String name)
						{
						return new Sedgm
						}
						<Map To="Segments[Segment:Tracker]::SegmentValue" Field="destUrl" Regex="\butm_content=(?{utm_content}\w+)\b">
							<Map To="Value" Value="{utm_content}"/>
						</Map>
					</Object>

					<Object Type="AdMetricsUnit">
						<Read Field="DayCode" Regex="(?{y}[0-9]{4})(?{m}[0-9]{2})(?{d}[0-9]{2})"/>
						<Map To="PeriodStart" Value="{date:{DayCode.y}-{DayCode.m}-{DayCode.d}, boundary: 'lower'}"/>
						<Map To="PeriodEnd" Value="{date:{DayCode.y}-{DayCode.m}-{DayCode.d}, boundary: 'upper'}"/>

						<Map To="TargetsMatches[]::KeywordTarget.Keyword" Field="Keyword"/>

						<Read Field="Imps"/>
						<Map To="Measures[Measure:Impressions]" Field="Imps"/>
						<Map To="Measures[Measure:Clicks]" Field="Clicks"/>
						<Map To="Measures[Measure:Cost]" Field="Cost"/>
					</Object>



				
				</ImportMappings>

				<Services/>
			</Account>

			<Account ID="95" Name="Conduit">
				<ImportMappings>
					<Object Type="SegmentMetricsUnit">
						<Map To="Segments[Segment:Tracker].Value" Field="@ID"/>
						
						<Map To="MeasureValues[Measure:GreatToolbars]" Field="@GreatToolbars"/>
						<Map To="MeasureValues[Measure:GoodToolbars]" Field="@GoodToolbars"/>
						<Map To="MeasureValues[Measure:TotalInstalls]" Field="@TotalInstalls"/>
						<Map To="MeasureValues[Measure:Signups]" Field="@Signups"/>
						<Map To="MeasureValues[Measure:GreatToolbars]" Field="@GreatToolbars"/>
					</Object>
					
					<!--
					
					MappingConfiguration
					{
						Objects: // this is a dictionary
						{
							// dictionary key: dictionary value
							typeof(SegmentMetricsUnit): MappedObject 
							{
								TargetType: typeof(SegmentMetricsUnit),
								Mappings:
								[
									Map
									{
										Parent: null,
										TargetMember: typeof(SegmentMetricsUnit).GetMember("Segments"),
										TargetMemberType: typeof(Dictionary<Segment,SegmentValue>),
										CollectionKey: you need to put here session.Segments["Tracker"],
										NewObjectType: typeof(SegmentValue),
										SubMaps:
										[
											Map
											{
												Parent: ^^ the one up here ^^,
												TargetMember: typeof(SegmentValue).GetMember("Value"),
												TargetMemberType: typeof(String),
												CollectionKey: null,
												NewObjectType: typeof(String),
												SubMaps: [], // empty array
												ReadSources: vv the same as the one down there vv
											}
										],
										ReadSources:
										[
											ReadSource:
											{
												Name: "@ID",
												Field: "@ID",
												Regex: null
											}
										]
									}
								]
							}
						}
					}
					
					
					-->
				</ImportMappings>
			</Account>
		</Accounts>
	</edge.services>

</configuration>