<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>

	<edge.services>
		<Services>
			<Service Name="WannaDodo">
				<Workflow>
					<Step Base="one" IsBlocking="false"/>
					<Step Base="two" IsBlocking="false"/>
				</Workflow>
			</Service>
			
			<Service Name="one" IsPublic="false"/>
			<Service Name="two" IsPublic="false"/>
			
		</Services>
		<Accounts/>
	</edge.services>

	<connectionStrings>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI;"/>
	</connectionStrings>

	
</configuration>