<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
		<section name="AdWordsApi" type="System.Configuration.DictionarySectionHandler"/>
	</configSections>
	<appSettings>
		<!--<add key="Easynet.Edge.Core.Data.DataManager.Connection.String" value="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI" />-->
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="d:\test"/>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Data.Pipeline.Importing.AdDataImportSession.BufferSize" value="10"/>
	</appSettings>
	<connectionStrings>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI"/>
		<add name="Edge.Services.Google.Adwords.AdwordsReport.SystemDatabase" connectionString="Data Source=shayba-pc; Database=Edge_System; User ID=sa; Password=sbarchen"/>
		<add name="Edge.Data.Pipeline.DeliveryImportSession.DeliveriesDb" connectionString="Data Source=alonya-pc; Database=TempDeliveries; User ID=sa; Password=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Host=localhost; Database=source; User=sa;Password=sa;Port=2121"/>
		<add name="Edge.Data.Pipeline.Importing.AdDataImportSession.DeliveriesDb" connectionString="Data Source=localhost; Database=TempDeliveries; Integrated Security=SSPI;"/>

	</connectionStrings>

	<edge.services>
		<Services>
			<Service Name="Adwords" AccountID="7"
						  Adwords.ReportType="AD_PERFORMANCE_REPORT|KEYWORDS_PERFORMANCE_REPORT"
						 Adwords.DateRange="YESTERDAY"
						 Adwords.Email="bezeqaccess@gmail.com"
						 DeliveryGuid="be9a285d-24fb-4387-9de4-7eb98c273026">

				<Workflow>
					<Step Base="Initializer" DeliveryGuid="be9a285d-24fb-4387-9de4-7eb98c273026" IsEnabled="true"/>
					<Step Base="Retriver" DeliveryGuid="be9a285d-24fb-4387-9de4-7eb98c273026" IsEnabled="true"/>
					<Step Base="Processor" DeliveryGuid="be9a285d-24fb-4387-9de4-7eb98c273026"/>
				</Workflow>
			</Service>

			<Service Name="Initializer" IsPublic="false" Class="Edge.Services.Google.Adwords.InitializerService, Edge.Services.Google.Adwords"/>
			<Service Name="Retriver" IsPublic="false" Class="Edge.Services.Google.Adwords.RetrieverService, Edge.Services.Google.Adwords"/>
			<Service Name="Processor" IsPublic="false" Class="Edge.Services.Google.Adwords.ProcessorService, Edge.Services.Google.Adwords"/>

		</Services>
		<Accounts/>
	</edge.services>


	<system.web>
		<webServices>
			<soapExtensionTypes>
				<add type="Google.Api.Ads.Common.Lib.SoapListenerExtension, Google.AdWords"
					   priority="1" group="0"/>
			</soapExtensionTypes>
		</webServices>
	</system.web>
	<system.net>
		<settings>
			<httpWebRequest maximumErrorResponseLength="-1"  />
		</settings>
	</system.net>

	<AdWordsApi>
		<!-- Change the appropriate flags to turn on SOAP logging. -->
		<add key="LogPath" value="C:\Logs\"/>
		<add key="LogToConsole" value="false"/>
		<add key="LogToFile" value="false"/>
		<add key="MaskCredentials" value="true"/>
		<add key="LogErrorsOnly" value="false"/>

		<!-- Fill the following values if you plan to use a proxy server.-->
		<add key="ProxyServer" value=""/>
		<add key="ProxyUser" value=""/>
		<add key="ProxyPassword" value=""/>
		<add key="ProxyDomain" value=""/>

		<!-- Use this key to change the default timeout for Ads services
        (in milliseconds.)-->
		<add key="Timeout" value="100000"/>

		<!-- Use this key to enable or disable gzip compression in SOAP requests.-->
		<add key="EnableGzipCompression" value="true"/>

		<!-- Fill the header values. -->
		<add key="UserAgent" value="ENTER_YOUR_COMPANY_OR_APPLICATION_NAME_HERE"/>
		<add key="Email" value="ENTER_YOUR_EMAIL_HERE"/>
		<add key="Password" value="ENTER_YOUR_PASSWORD_HERE"/>
		<add key="ClientEmail" value="ENTER_YOUR_CLIENT_EMAIL_HERE"/>
		<add key="DeveloperToken" value="ENTER_YOUR_DEVELOPER_TOKEN_HERE"/>
		<!-- Application token is now optional and will be ignored by the server.-->
		<!-- <add key="ApplicationToken" value="ENTER_YOUR_APPLICATION_TOKEN_HERE"/> -->

		<!-- Uncomment this key and comment ClientEmail if you want to specify
         customer id instead of customer email. -->
		<!-- <add key="ClientCustomerId"
        value="ENTER_YOUR_CLIENT_CUSTOMER_ID_HERE"/> -->

		<!-- Uncomment this if you want to reuse an authToken multiple times. -->
		<!--<add key="AuthToken" value="ENTER_YOUR_AUTH_TOKEN_HERE"/> -->

		<!-- Uncomment this key if you want to use v13 sandbox. -->
		<!-- <add key="LegacyAdWordsApi.Server" value="https://sandbox.google.com"/> -->

		<!-- Uncomment this key if you want to use AdWords API sandbox. -->
		<!-- <add key="AdWordsApi.Server" value="https://adwords-sandbox.google.com"/> -->
	</AdWordsApi>
</configuration>