<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>

	<edge.services>
		<Services>
			<Service Name="Adwords" AccountID="" TargetPeriod="start: {}">
				<Workflow>
					<Step Base="Initializer" DeliveryGuid="be9a285d-24fb-4387-9de4-7eb98c273026"/>
				</Workflow>
			</Service>
			
			<Service Name="Initializer" IsPublic="false" Class="Edge.Services.Google.Adwords.InitializerService, Edge.Services.Google.Adwords"/>
			
		</Services>
		<Accounts/>
	</edge.services>

	<connectionStrings>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI;"/>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Host=localhost; Database=source; User=sa;Password=sa;Port=2121"/>
	</connectionStrings>

	
</configuration>