<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />

	</configSections>


	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="D:\test\"/>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.DeliveryGet" value="Delivery_Get(@deliveryID:Char, @deep:bit)"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.DeliveryDelete" value="Delivery_Delete(@deliveryID:Char)"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.OutputDelete" value="Output_Delete(outputID:Char)"/>
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@measureID:Int,,@includeBase:Int@flags:Int,@operator:Int)"/>
		<add key="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
		<add key="Edge.Data.Pipeline.Services.PipelineService.DeliveryTicket.SP" value="DeliveryTicket_Get"/>
	</appSettings>

	<!--<connectionStrings>
		<add name="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager.StagingDatabase" connectionString="Data Source=alonya-pc;Initial Catalog=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager.StagingDatabase" connectionString="Data Source=alonya-pc;Initial Catalog=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Data Source=alonya-pc; Database=Edge_System291; Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=alonya-pc; Database=Edge_System291; Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=alonya-pc; Database=Deliveries;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.AdMetricsImportManager.Oltp" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.ValidateCommitService.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.Facebook.GraphApi.UpdateCampaignStatus.DB" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
	</connectionStrings>-->

	<connectionStrings>
		<add name="Edge.Services.GenericMetrics.Validations.MdxOltpChecksumService.OltpDB" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name ="Edge.Services.GenericMetrics.Validations.GenericDeliveryOltpChecksumService.OltpDB" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager.StagingDatabase" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!"/>
		<add name="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager.StagingDatabase" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!"/>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Data Source=79.125.11.74; Database=Seperia_System_291;User ID=SeperiaServices;PWD=Asada2011!"/>
		<add name="Edge.Data.Pipeline.Services.FtpImporterPreInitializerService.DeliveryDB" connectionString="Data Source=79.125.11.74; Database=Seperia_System_291;User ID=SeperiaServices;PWD=Asada2011!"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=79.125.11.74; Database=Seperia_System_291;User ID=SeperiaServices;PWD=Asada2011!"/>
		<add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=79.125.11.74;Initial Catalog=Deliveries;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!"/>
		<add name="Edge.Services.AdMetrics.AdMetricsImportManager.OLTP" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!"/>
		<add name="Edge.Services.AdMetrics.RollbackService.OLTP" connectionString="Data Source=79.125.11.74;Initial Catalog=Deliveries;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!"/>
		<add name="Edge.Services.SegmentMetrics.SegmentMetricsImportManager.OLTP" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!" />
		<add name="Edge.Services.Facebook.GraphApi.UpdateCampaignStatus.DB" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!" />
		<add name="Edge.Services.Google.Analytics.Auth2.DB" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!" />
		<!--Adwords-->
		<add name="Edge.Services.Google.Adwords.AdwordsReport.SystemDatabase" connectionString="Data Source=79.125.11.74; Database=Seperia;User ID=SeperiaServices;PWD=Asada2011!"/>
		<add name="Edge.Services.Google.Adwords.AdwordsUtill.MCC_Auth" connectionString="Data Source=79.125.11.74; Database=Seperia;User ID=SeperiaServices;PWD=Asada2011!"/>
		<!--Adwords-->

		<!--####################  Production Managment Tool Connections string ##################################################################################################################################################-->
		<add name="Edge.Services.AdMetrics.Validations.DeliveryOltpChecksumService.OltpDB"	connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Services.SegmentMetrics.Validations.SegmentDeliveryOltpChecksumService.OltpDB" connectionString="Data Source=79.125.11.74; Initial Catalog=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Services.SegmentMetrics.Validations.MdxOltpChecksumService.OltpDB" connectionString="Data Source=79.125.11.74; Initial Catalog=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Application.ProductionManagmentTools.DataChecks.Seperia"			connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Application.ProductionManagmentTools.DataChecks.Edge.BI"			connectionString="Data Source=79.125.11.74;; Database=easynet_OLTP; Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Services.AdMetrics.Validations.MdxDwhChecksumService.DwhDB"			connectionString="Data Source=79.125.11.74; Database=Seperia_DWH;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Services.AdMetrics.Validations.MdxDwhChecksumService.OltpDB"		connectionString="Data Source=79.125.11.74; Database=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Services.AdMetrics.Validations.MdxOltpChecksumService.DwhDB"		connectionString="Data Source=79.125.11.74; Database=Seperia_DWH;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Services.AdMetrics.Validations.MdxOltpChecksumService.OltpDB"		connectionString="Data Source=79.125.11.74; Database=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Services.AdMetrics.Validations.DwhOltpChecksumService.DwhDB"		connectionString="Data Source=79.125.11.74; Database=Seperia_DWH;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Services.AdMetrics.Validations.DwhOltpChecksumService.OltpDB"		connectionString="Data Source=79.125.11.74; Database=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Application.ProductionManagmentTools.DeliverySearch.DeliveryDB"		connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia_System_291;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<!--#####################################################################################################################################################################################################################-->
		<!--SalesForce-->
		<add name="Edge.Services.SalesForce.Token.DB" connectionString="Data Source=79.125.11.74; Database=Seperia;User ID=SeperiaServices;PWD=Asada2011!"/>
	</connectionStrings>
	<edge.services>
		<Extensions>
			<!--<add key="AutoSegments" value="Edge.Data.Pipeline.Configuration.AutoSegmentDefinitionCollection, Edge.Data.Pipeline"/>-->
			<add key="Mappings" value="Edge.Data.Pipeline.Mapping.MappingConfigurationElement, Edge.Data.Pipeline"/>
		</Extensions>


		<Services>
			<Service Name="Rerun" IsPublic="true" Class="Edge.Data.Pipeline.Services.RerunService,Edge.Data.Pipeline"/>


			<!-- ======== Facebook ======== -->
			<Service Name="Facebook.GraphApi"
						IsEnabled="true"
						FileDirectory="Facebook"
						Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
						Facebook.BaseServiceAdress="https://graph.facebook.com"
					    Facebook.AuthenticationUrl="https://graph.facebook.com/oauth/access_token?client_id={0}&amp;redirect_uri={1}&amp;client_secret={2}&amp;code={3}"
						Facebook.Auth.ApiKey="168436873232861"
						Facebook.Auth.AppSecret="dada52b15e6d57e30f089a8ea94cf970"
												
						Facebook.Auth.RedirectUri="http://www.seperia.com/"
						Facebook.Ads.XPath.GetAdGroups="ads_getAdGroups_response/ads_adgroup"
						Facebook.Ads.XPath.GetCampaigns="ads_getCampaigns_response/ads_campaign"
						Facebook.Ads.XPath.GetAdGroupStats="ads_getAdGroupStats_response/ads_period_stats/stats/ads_stats"
						Facebook.Ads.XPath.GetAdGroupTargeting="ads_getAdGroupTargeting_response/ads_targeting"
						Facebook.Ads.XPath.GetAdGroupCreatives="ads_getAdGroupCreatives_response/ads_creative"
					SQL.TransformCommand="SP_Delivery_Transform_Facebook_Generic(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@CommitTableName:NvarChar)"
					SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryOutputID_v291(@DeliveryOutputID:NvarChar,@TableName:NvarChar)"
					SQL.StageCommand="SP_Delivery_Stage_Facebook(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@OutputIDsPerSignature:NvarChar,@DeliveryID:NvarChar)"
					    MaxExecutionTime="00:40:00"
						MaxInstances="2"
						MaxInstancesPerAccount="2">
				<Workflow>
					<Step Base="FacebookInitializerService" />
					<Step Base="FacebookRetriverService"  />
					<Step Base="FacebookProcessorService"  />
					<Step Base="GenericMetricsStaging" ImportManagerType="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager,Edge.Data.Pipeline.Metrics"/>
				</Workflow>
				<!--<SchedulingRules>
					<Rule ExactTimes="14:47" CalendarUnit="Day" MaxDeviation="5:00"  />
				</SchedulingRules>-->
			</Service>

			<Service Name="FacebookInitializerService" IsPublic="false" Class="Edge.Services.Facebook.GraphApi.InitializerService,Edge.Services.Facebook.GraphApi"/>
			<Service Name="FacebookRetriverService" IsPublic="false" Class="Edge.Services.Facebook.GraphApi.RetrieverService,Edge.Services.Facebook.GraphApi"/>
			<Service Name="FacebookProcessorService" IsPublic="false" Class="Edge.Services.Facebook.GraphApi.ProcessorService,Edge.Services.Facebook.GraphApi" AutoAdGroupSegment="true" AdGroupDelimiter="@"/>
			<Service Name="GenericMetricsStaging" IsPublic="false" Class="Edge.Data.Pipeline.Metrics.Services.MetricsStagingService,Edge.Data.Pipeline.Metrics"/>
			<Service Name="RoleBackByDeliveries" SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)" Class="Edge.Services.AdMetrics.RollbackService,Edge.Services.AdMetrics"/>
			<Service Name="Edge.Services.Facebook.GraphApi.UpdateCampaignStatus" Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					 Facebook.BaseServiceAdress="https://graph.facebook.com"
					    Facebook.AuthenticationUrl="https://graph.facebook.com/oauth/access_token?client_id={0}&amp;redirect_uri={1}&amp;client_secret={2}&amp;code={3}"
						Facebook.Auth.ApiKey="168436873232861"
						Facebook.Auth.AppSecret="dada52b15e6d57e30f089a8ea94cf970"
						Facebook.Auth.RedirectUri="http://www.seperia.com/">

				<Workflow>
					<Step Base="UpdateCampaignStatus" />
				</Workflow>
			</Service>
			<Service Name="UpdateCampaignStatus" Class="Edge.Services.Facebook.GraphApi.UpdateCampaignStatus,Edge.Services.Facebook.GraphApi"/>


			<Service Name="GenericMetricsCommit" IsPublic="false" Class="Edge.Data.Pipeline.Metrics.Services.MetricsCommitService,Edge.Data.Pipeline.Metrics" ImportManagerType="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager,Edge.Data.Pipeline.Metrics"/>

		</Services>




		<Accounts>
			<Account ID="-1" Name="System Account">
				<Services>					
					<Service Uses="UpdateCampaignStatus"></Service>
				</Services>
			</Account>
			<!-- ======== Easy Forex ======== -->
			<Account ID="7" Name="EasyForex" >
				<Services>
					

					<Service Uses="Facebook.GraphApi"
							Facebook.Account.Name="EasyForex"
							Facebook.Account.ID="52081533"
							Facebook.Auth.SessionSecret="AQC30JAPrSVgxivQwusb7JLdo0x_nEUZe4GI1f0xCcsFaypFwnJtTPKG-2pkmyF2WtYpqU_zghvK_HsS53piz3bcVuiDXHU_pXB9m3swePyldBPhve4um6A6-8k1b-yIFFDrBXsbSidUUzQYS_qi6WPDSV1mahiR-WmpIqfZ7aWIrYcgeYxD07QkR68NFtP0gHY#_=_"
							TimeZone="-8"
							Offset="-1">
						<Mappings Path ="Mappings\7\Facebook.xml"/>
					</Service>
				</Services>
			</Account>


		
			
				
		

			<!-- ======== Seperia.com ======== -->
			<Account ID="61" Name="Seperia.com">
				
				<Services>
					
					<Service Uses="Facebook.GraphApi"
							Facebook.Account.Name="Seperia.com"
							Facebook.Account.ID="59684411"
							Facebook.Auth.SessionSecret="AQD2mOVklFBcJD6UESbEnyJPb1bnVzl9OYfUFOfAPb8w6RLKLeDr_x4hDtQRTif9gR2oJUS3gJbD7ObmRmVM4YpYNTpwAJ2fgFJpC5q6bQB02HKcGnrIEF9MWlFbnyH0PvCXIO4UCXrIChDOfRZKX10-a-Ga04H1pa2CI3xE-SZJ-yWAc2D5nKpOHXmcev0wolg#_=_"
							TimeZone="-8"
							Offset="-1">
						<Mappings Path ="Mappings\61\Facebook.xml"/>
					</Service>
					
				</Services>
			</Account>

		
			<!-- ======== OptionRally ======== -->
			<Account ID="10035" Name="OptionRally">

				<Services>
					<Service Uses="Facebook.GraphApi"
							Facebook.Account.Name="OptionRally"
							Facebook.Account.ID="369108868"
							Facebook.Auth.SessionSecret="AQAm5Kk0CDHpsbI7VeiUbaU_3P6dbY_XwfwQNfnj3i6fA18c9hkvicAeRMUCndYn45ZllL6fhGqZcZVce1uhvPng_QgVCoqS8Ms3qOtHnZWnZC4yO48hsAJ2QEUJqo4LylLapE0ECF6WxYhMdAJClOPPYXbbE1WZ1Fs3pWf9iPpZzpj6N2OFUhtaO5zpyUHOVPo"
							Facebook.Auth.ApiKey="efddc324f4582ec2e860ba0b6d51d8cb"
							Facebook.Auth.AppSecret="8b9b22d79c6dcd1c6524f73962f2a935"
							Facebook.Auth.RedirectUri="http://www.edge.bi/"
							 TimeZone="2"
							Offset="-1" >
						<Mappings Path ="Mappings\10035\Facebook.xml"/>
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="06:00" CalendarUnit="Day" MaxDeviation="1:30" />
						</SchedulingRules>
					</Service>
				</Services>
			</Account>

			<!-- ======== Radvision ======== -->
			<Account ID="109" Name="Radvision">
			
				<Services>
				
				</Services>
			</Account>
			<!--======== OptionsRally ========-->
			<Account ID="1240252" Name="OptionsRally" >
				<Services>
					

					<Service Uses="Facebook.GraphApi"
								Facebook.Account.Name="OptionRally"
								Facebook.Account.ID="369108868"
								Facebook.Auth.SessionSecret="AQAm5Kk0CDHpsbI7VeiUbaU_3P6dbY_XwfwQNfnj3i6fA18c9hkvicAeRMUCndYn45ZllL6fhGqZcZVce1uhvPng_QgVCoqS8Ms3qOtHnZWnZC4yO48hsAJ2QEUJqo4LylLapE0ECF6WxYhMdAJClOPPYXbbE1WZ1Fs3pWf9iPpZzpj6N2OFUhtaO5zpyUHOVPo"
								TimeZone="2"
								Offset="-1" >
						<Mappings Path ="Mappings\1240252\Facebook.xml"/>
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="06:00" CalendarUnit="Day" MaxDeviation="1:30" />
						</SchedulingRules>
					</Service>

					


				</Services>
			</Account>

		</Accounts>
	</edge.services>

</configuration>