<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>
	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="D:\Test"/>
		<add key="Edge.Data.Pipeline.Services.PipelineService.DeliveryTicket.SP" value="DeliveryTicket_Get"/>
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@measureID:Int,,@includeBase:Int@flags:Int,@operator:Int)"/>

		<!--SegmentMetricsImportManager-->
		<add key="Edge.Services.SegmentMetrics.SegmentMetricsImportManager.BufferSize" value="10"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.DeliveryGet" value="Delivery_Get2(@deliveryID:Char, @deep:bit)"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.DeliveryDelete" value="Delivery_Delete2(@deliveryID:Char)"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.OutputDelete" value="Output_Delete(outputID:Char)"/>
		<add key="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager.BufferSize" value="10"/>
		<!--SegmentMetricsImportManager-->

	</appSettings>

	<connectionStrings>

		<add name="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager.StagingDatabase" connectionString="Data Source=alonya-pc;Initial Catalog=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager.StagingDatabase" connectionString="Data Source=alonya-pc;Initial Catalog=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Data Source=alonya-pc; Database=Edge_System291; Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=alonya-pc; Database=Edge_System291; Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=alonya-pc; Database=Deliveries;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.AdMetricsImportManager.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.SegmentMetrics.SegmentMetricsImportManager.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.ValidateCommitService.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		

	</connectionStrings>

	<!-- ======================================================== -->
	<!--						Services						  -->
	<!-- ======================================================== -->

	<edge.services>
		<Extensions>
			<!--<add key="AutoSegments" value="Edge.Data.Pipeline.Configuration.AutoSegmentDefinitionCollection, Edge.Data.Pipeline"/>-->
			<add key="Mappings" value="Edge.Data.Pipeline.Mapping.MappingConfigurationElement, Edge.Data.Pipeline"/>
		</Extensions>

		<Services>
			<Service Name="Rerun" IsPublic="true" Class="Edge.Data.Pipeline.Services.RerunService,Edge.Data.Pipeline"/>
			<Service Name="AdMetricsCommit" IsPublic="false" Class="Edge.Services.AdMetrics.CommitService,Edge.Services.AdMetrics"/>

			<!-- ======== Facebook ======== -->
			<Service Name="Facebook.AdsApi"
							  IsEnabled="false"
							  DeliveryFilesDir="Facebook"
							  Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
							  Facebook.BaseServiceAdress="http://api.facebook.com/restserver.php"
							  Facebook.Account.Name="PC Speed"
							  Facebook.Account.ID="351560853"
							  Facebook.Auth.SessionKey="3865f96f5f3aae1cbcf90a8d-100001864609198"
							  Facebook.Auth.ApiKey="efddc324f4582ec2e860ba0b6d51d8cb"
							  Facebook.Auth.AppSecret="8b9b22d79c6dcd1c6524f73962f2a935"
							  Facebook.Auth.SessionSecret="ee767cd8df65047f73f2eb3cf08b1dde"
							  Facebook.Ads.XPath.GetAdGroups="ads_getAdGroups_response/ads_adgroup"
							  Facebook.Ads.XPath.GetCampaigns="ads_getCampaigns_response/ads_campaign"
							  Facebook.Ads.XPath.GetAdGroupStats="ads_getAdGroupStats_response/ads_period_stats/stats/ads_stats"
							  Facebook.Ads.XPath.GetAdGroupTargeting="ads_getAdGroupTargeting_response/ads_targeting"
							  Facebook.Ads.XPath.GetAdGroupCreatives="ads_getAdGroupCreatives_response/ads_creative"
							  SQL.TransformCommand="SP_Delivery_Commit_Facebook(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
							  SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
							  SQL.StageCommand="SP_Delivery_Insert_Facebook(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar)"
							  MaxInstances="5">
				<Workflow>
					<Step Base="FacebookInitializerService" />
					<Step Base="FacebookRetriverService"  />
					<Step Base="FacebookProcessorService"  />
					<Step Base="AdMetricsCommit"/>
				</Workflow>
				<!--<SchedulingRules>
					<Rule ExactTimes="12:00" CalendarUnit="Day" MaxDeviation="0:45"  />
				</SchedulingRules>-->
			</Service>

			<Service Name="FacebookInitializerService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.InitializerService,Edge.Services.Facebook.AdsApi"/>
			<Service Name="FacebookRetriverService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.RetrieverService,Edge.Services.Facebook.AdsApi"/>
			<Service Name="FacebookProcessorService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.ProcessorService,Edge.Services.Facebook.AdsApi" AutoAdGroupSegment="true" AdGroupDelimiter="@"/>

			<!-- ======== Google AdWords ======== -->
			<Service Name="Google.AdWords"
							   Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
							   DeliveryFilesDir="Google/AdWords"
							   Adwords.ReportType="AD_PERFORMANCE_REPORT|KEYWORDS_PERFORMANCE_REPORT"
							   Adwords.DateRange="YESTERDAY"
							   KeywordContentId="3000000"
							   includeConversionTypes ="true"
							   includeZeroImpression ="true"
							   includeDisplaytData ="true"
							   SQL.TransformCommand="SP_Delivery_Commit_Adwords_v2(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
							   SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
							   SQL.StageCommand="SP_Delivery_Insert_Adwords(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar)"
							   MaxExecutionTime="1:10:00"
							   MaxInstances="5">
				<Workflow>
					<Step Base="GoogleInitializer"  IsEnabled="true"/>
					<Step Base="GoogleRetriver"  IsEnabled="true"/>
					<Step Base="GoogleProcessor"  IsEnabled="true"/>
					<Step Base="AdMetricsCommit" MaxExecutionTime="1:10:00"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="05:00" CalendarUnit="Day" MaxDeviation="0:45"  />
				</SchedulingRules>
			</Service>
			<Service Name="checksum" Class="Edge.Services.AdMetrics.Validations.DeliveryOltpChecksumService,Edge.Services.AdMetrics.Validations"/>

			<Service Name="Google.AdWords.EasyForex2"
										  Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
										 DeliveryFilesDir="GoogleAdWords"
										  Adwords.ReportType="AD_PERFORMANCE_REPORT|KEYWORDS_PERFORMANCE_REPORT"
										  Adwords.DateRange="YESTERDAY"
										  KeywordContentId="3000000"
										  includeConversionTypes ="true"
										  includeZeroImpression ="true"
										  includeDisplaytData ="true"
										  SQL.TransformCommand="SP_Delivery_Commit_Adwords_v2(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
										  SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
										  SQL.StageCommand="SP_Delivery_Insert_Adwords(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar)"
										 MaxExecutionTime="1:10:00"
										 MaxInstances="1">
				<Workflow>
					<Step Base="GoogleInitializer"  IsEnabled="true"/>
					<Step Base="GoogleRetriver"  IsEnabled="true"/>
					<Step Base="GoogleProcessor"  IsEnabled="true"/>
					<Step Base="AdMetricsCommit" MaxExecutionTime="1:10:00"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="05:02" CalendarUnit="Day" MaxDeviation="2:30"  />
				</SchedulingRules>
			</Service>
			<Service Name="Google.AdWords.EasyForex3"
							  Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
							 DeliveryFilesDir="GoogleAdWords"
							  Adwords.ReportType="AD_PERFORMANCE_REPORT|KEYWORDS_PERFORMANCE_REPORT"
							  Adwords.DateRange="YESTERDAY"
							  KeywordContentId="3000000"
							  includeConversionTypes ="true"
							  includeZeroImpression ="true"
							  includeDisplaytData ="true"
							  SQL.TransformCommand="SP_Delivery_Commit_Adwords_v2(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
							  SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
							  SQL.StageCommand="SP_Delivery_Insert_Adwords(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar)"
							 MaxExecutionTime="1:10:00"
							 MaxInstances="1">
				<Workflow>
					<Step Base="GoogleInitializer"  IsEnabled="true"/>
					<Step Base="GoogleRetriver"  IsEnabled="true"/>
					<Step Base="GoogleProcessor"  IsEnabled="true"/>
					<Step Base="AdMetricsCommit" MaxExecutionTime="1:10:00"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="02:00" CalendarUnit="Day" MaxDeviation="2:30"  />
				</SchedulingRules>
			</Service>


			<Service Name="Google.AdWords.EasyForex">
				<Workflow>
					<Step Base="Google.AdWords" Adwords.ClientID="323-509-6780" Adwords.MccEmail="ppc.easynet@gmail.com"/>
					<Step Base="Google.AdWords.EasyForex2" Adwords.ClientID="457-373-2218" Adwords.MccEmail="ppc.easynet@gmail.com"/>
					<Step Base="Google.AdWords.EasyForex3" Adwords.ClientID="621-961-3925" Adwords.MccEmail="ppc.easynet@gmail.com"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="05:00" CalendarUnit="Day" MaxDeviation="0:45"  />
				</SchedulingRules>
			</Service>

			<Service Name="BoPro" Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					
						SourceUrl="https://classic.easy-forex.com/BackOffice/API/Marketing.asmx"
						SOAPAction="http://www.easy-forex.com/GetGatewayStatistics"
						SoapMethod="GetGatewayStatistics"					 
					 	SQL.TransformCommand="SP_Delivery_Transform_BO_Generic(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
					    SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryOutputID_v291(@DeliveryOutputID:NvarChar,@TableName:NvarChar)"
					    SQL.StageCommand="SP_Delivery_Stage_BO_Generic(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@OutputIDsPerSignature:NvarChar,@DeliveryID:NvarChar)"							 >
				<Workflow>
					<Step Base="BackOfficeInitializer.EasyForex"/>
					<Step Base="BackOfficeRetriever.EasyForex"/>
					<Step Base="BackOfficeProcessor.Generic"/>
					<Step Base="GenericStagingService" />
				</Workflow>

			</Service>

			<!--<Service Name="BackOfficeProcessor.EasyForex" IsPublic="false" Class="Edge.Services.BackOffice.EasyForex.ProcessorService, Edge.Services.BackOffice.EasyForex"/>-->
			<Service Name="BackOfficeRetriever.EasyForex" IsPublic="false" Class="Edge.Services.BackOffice.EasyForex.RetrieverService, Edge.Services.BackOffice.EasyForex"/>
			<Service Name="BackOfficeInitializer.EasyForex" IsPublic="false" Class="Edge.Services.BackOffice.EasyForex.InitializerService, Edge.Services.BackOffice.EasyForex"/>
			<Service Name="BackOfficeProcessor.Generic" IsPublic="false" Class="Edge.Services.BackOffice.Generic.ProcessorService,Edge.Services.BackOffice.Generic"/>
			<Service Name="GenericStagingService" IsPublic="false" Class="Edge.Data.Pipeline.Metrics.Services.MetricsStagingService,Edge.Data.Pipeline.Metrics" ImportManagerType="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager,Edge.Data.Pipeline.Metrics"/>
			
			
			
			
			<Service Name="GoogleInitializer" IsPublic="false" Class="Edge.Services.Google.AdWords.InitializerService, Edge.Services.Google.AdWords"/>
			<Service Name="FTP.Initializer" IsPublic="false" Class="Edge.Services.FTP.InitializerService, Edge.Services.FTP"/>
			<Service Name="FTP.Retriver" IsPublic="false" Class="Edge.Services.FTP.RetrieverService, Edge.Services.FTP"/>
			<Service Name="FTP.LocalFileHandller" IsPublic="false" Class="Edge.Services.FTP.LocalFileHandllerService, Edge.Services.FTP"/>
			<Service Name="FTP.FtpFileHandllerService" IsPublic="false" Class="Edge.Services.FTP.FtpFileHandllerService, Edge.Services.FTP"/>



			<Service Name="GoogleRetriver" IsPublic="false" Class="Edge.Services.Google.AdWords.RetrieverService, Edge.Services.Google.AdWords"/>
			<Service Name="GoogleProcessor" IsPublic="false" Class="Edge.Services.Google.AdWords.ProcessorService, Edge.Services.Google.AdWords" AutoAdGroupSegment="true"/>

		</Services>


		<!-- ======================================================== -->
		<!--						Accounts						  -->
		<!-- ======================================================== -->

		<Accounts>

			<Account ID="7" Name="Easy Forex">				
				<Services>				
					<Service Uses ="BoPro "
							 StartGid="1"
							EndGid="1000000"
							User="Seperia"
							Pass="B0D003A2CB1865E33AFD79CFD8761BA8"
							DeliveryFilesDir="EasyForexBackoffice"
							Bo.Xpath="Envelope/Body/GetGatewayStatisticsResponse/GetGatewayStatisticsResult/diffgram/DSMarketing/CampaignStatisticsForEasyNet"
							Bo.IsAttribute ="false"
							Bo.TrackerIDField="GID">
						<Mappings>
							<Object Type="GenericMetricsUnit">

								<Map To='SegmentDimensions[{GetSegment("Tracker")}]' >
									<Read Var="tracker" Field='GID' />
									<Map To='Value' Value='{tracker}'/>
								</Map>
								<Map To='MeasureValues[{GetMeasure("Acquisition1")}]' Field='NewUsers' />
								<Map To='MeasureValues[{GetMeasure("Acquisition2")}]' Field='NewActiveUsers' />
								<Map To='MeasureValues[{GetMeasure("Bo Total Hits")}]' Field='TotalHits' />
								<Map To='MeasureValues[{GetMeasure("Bo New Leads")}]' Field='NewLeads' />
								<Map To='MeasureValues[{GetMeasure("Bo New Net Deposits USD")}]' Field='NewDeposit' />
								<Map To='MeasureValues[{GetMeasure("Bo Activations")}]' Field='ActiveUsers' />
								<Map To='MeasureValues[{GetMeasure("NewDeposit")}]' Field='TotalNewDeposit' />
								<Map To='MeasureValues[{GetMeasure("EV")}]' Field='TotalEV' />
								<Map To='MeasureValues[{GetMeasure("SAT")}]' Field='SAT' />
							</Object>
						</Mappings>
					</Service>

				</Services>
			</Account>

		</Accounts>
	</edge.services>


	<system.serviceModel>
		<client>
			<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.9/seperia/deploy"/>
		</client>
		<bindings>
			<wsHttpBinding>
				<binding name="edgeServiceWebBinding" sendTimeout="0:05:00" receiveTimeout="0:05:00"/>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>

</configuration>

