<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>

	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="D:\test\"/>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Services.SegmentMetrics.SegmentMetricsImportManager.BufferSize" value="1"/> 
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@flags:int,@operator:int"/>
		<add key="Edge.Services.Google.Analytics.Auth2.SP_Get" value="GA_GetAuth2(@ClientID:nvarchar)"/>
		<add key="Edge.Services.Google.Analytics.Auth2.SP_Save" value="GA_SaveAuth2(@ClientID:nvarchar,@AccessToken:nvarchar,@RefreshToken:nvarchar,@ExpiresIn:int,@UpdateTime:Datetime2)"/>
		<add key="Edge.Services.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
		<add key="Edge.Data.Pipeline.Services.PipelineService.DeliveryTicket.SP" value="DeliveryTicket_Get"/>
	</appSettings>

	<connectionStrings>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI;"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI;"/>
		<add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=alonya-pc; Database=Deliveries;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.AdMetricsImportManager.Oltp" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.ValidateCommitService.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.SegmentMetrics.SegmentMetricsImportManager.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.Google.Analytics.Auth2.DB" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
	</connectionStrings>

	<edge.services>
		<Extensions>
			<add key="AutoSegments" value="Edge.Data.Pipeline.Configuration.AutoSegmentDefinitionCollection, Edge.Data.Pipeline"/>
		</Extensions>

		<Services>
			<Service Name="Rerun" IsPublic="true" Class="Edge.Data.Pipeline.Services.RerunService,Edge.Data.Pipeline"/>
			<Service Name="AdMetricsCommit" IsPublic="false" Class="Edge.Services.AdMetrics.CommitService,Edge.Services.AdMetrics"/>

			
			<Service Name="Google.Analytics"						
						DeliveryFilesDir="Google.Analytics"					   
						Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"						
					    AuthenticationUrl="https://accounts.google.com/o/oauth2/token"
					    ConsentCode="4/opRZKDRWioO6wYUw5cAd2r5KSm-m"
					    ClientID="605921647991-8946ad39s0gbu189totf3al4bjspgsbf.apps.googleusercontent.com"
				        ClientSecret="CwK1-6tXOHuX8Eh9CJ5MfeKC"
				        Redirect_URI="http://www.edge.bi/oauth2callback"					 
					    SQL.PrepareCommand="SP_Delivery_Commit_BO(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
					    SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
					    SQL.CommitCommand="SP_Delivery_Insert_BO(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@Signature:NvarChar,@DeliveryIDsPerSignature:NvarChar,@DeliveryID:NvarChar)"
					    MaxExecutionTime="00:40:00"
						MaxInstances="2"
						MaxInstancesPerAccount="2">
				<Workflow>
					<Step Base="GoogleAnalyticsInitializerService" />
					<Step Base="GoogleAnalyticsRetriverService"  />
					<Step Base="GoogleAnalyticsProcessorService"  />
					<Step Base="CommitService"  />
					
				</Workflow>
				<!--<SchedulingRules>
					<Rule ExactTimes="14:47" CalendarUnit="Day" MaxDeviation="5:00"  />
				</SchedulingRules>-->
			</Service>

			<Service Name="GoogleAnalyticsInitializerService" IsPublic="false" Class="Edge.Services.Google.Analytics.InitializerService,Edge.Services.Google.Analytics"/>
			<Service Name="GoogleAnalyticsRetriverService" IsPublic="false" Class="Edge.Services.Google.Analytics.RetrieverService,Edge.Services.Google.Analytics"/>
			<Service Name="GoogleAnalyticsProcessorService" IsPublic="false" Class="Edge.Services.Google.Analytics.ProcessorService,Edge.Services.Google.Analytics"/>
			<Service Name="CommitService" IsPublic="false" Class="Edge.Services.SegmentMetrics.Services.CommitService,Edge.Services.SegmentMetrics"/>

			<!-- ======== Google AdWords ======== -->
			

			<Service Name="RoleBackByDeliveries" SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)" Class="Edge.Services.AdMetrics.RollbackService,Edge.Services.AdMetrics"/>
		</Services>



		<Accounts>
			<Account ID="-1" Name="System Account">
				<Services>
					<Service Uses="RoleBackByDeliveries"></Service>
				</Services>
			</Account>
<!--Seperia college-->
			
			<Account ID="61" Name="Seperia.com">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\butm_content=(?{content}\w+)\b" Name="ga:adDestinationUrl" Value="{content}"/>						
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Google.Analytics"
							 SegmentField1="ga:adDestinationUrl"
							 SegmentField2="ga:adContent"
							 ServiceAddress="https://www.googleapis.com/analytics/v3/data/ga?ids=ga:48345485&amp;start-date={0:yyyy-MM-dd}&amp;end-date={1:yyyy-MM-dd}&amp;dimensions=ga:adContent,ga:adDestinationUrl&amp;metrics=ga:goal1Value,ga:goal2Value,ga:goal3Value,ga:goal4Value,ga:visitors,ga:newVisits,ga:visits&amp;filters=ga%3AadContent!~%5E%5C(not%20set%5C)%24%3Bga%3AadDestinationUrl%3D~(%5E%5C(not%20set%5C)%24)%7C(%5Cbutm_content%3D*%5Cb)&amp;access_token={{0}}">
						<AutoSegments>
							<Segment Name="Tracker" SegmentID="-977">
								<Pattern Regex="\butm_content=(?{content}\w+)\b" Name="ga:adDestinationUrl" Value="{content}"/>
								<Pattern Regex="(?{content}.*\w+)\b"  Name="ga:adContent" Value="{content}"/>
							</Segment>
						</AutoSegments>
					</Service>
							 
							 					
				</Services>
			</Account>
			<Account ID="1006" Name="Bbinary" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="(\bp=edgetrackerid_(?{edgetrackerid}\w+)\b)" Name="ga:pagePath" Value="{edgetrackerid}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.Analytics"
					          ConsentCode="4/opRZKDRWioO6wYUw5cAd2r5KSm-m"
							SegmentField1="ga:pagePath"
							ServiceAddress="https://www.googleapis.com/analytics/v3/data/ga?ids=ga:48746229&amp;start-date={0:yyyy-MM-dd}&amp;end-date={1:yyyy-MM-dd}&amp;dimensions=ga:pagePath&amp;metrics=ga:goal1Value,ga:goal2Value,ga:goal3Value,ga:goal4Value,ga:visitors,ga:newVisits,ga:visits&amp;access_token={{0}}">
					</Service>

				</Services>
			</Account>
			<!-- ======== Leverate ======== -->
			<Account ID="1240227" Name="Leverate" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bedgetracker=(?{edgetracker}\w+)\b"  Name="ga:landingPagePath" Value="{edgetracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun"/>
					<Service Uses="Google.Analytics"
					          ConsentCode="4/pv7ujjHvtEBcmH05bL436wTzA1JM"
							SegmentField1="ga:landingPagePath"
							ServiceAddress="https://www.googleapis.com/analytics/v3/data/ga?ids=ga:7541211&amp;start-date={0:yyyy-MM-dd}&amp;end-date={1:yyyy-MM-dd}&amp;dimensions=ga:landingPagePath&amp;metrics=ga:goal11Completions,ga:entrances&amp;filters=ga:landingPagePath%3D@edgetracker&amp;access_token={{0}}">
					</Service>
				</Services>
			</Account>
			<Account ID="1240245" Name="Conduit U">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bedgetracker=(?{edgetracker}\w+)\b"  Name="ga:landingPagePath" Value="{edgetracker}"/>
					</Segment>
				</AutoSegments>
				<Services>

					<Service Uses="Google.Analytics"
					  ConsentCode="4/L3uqy6I1yg5dbwZ_oMAx9lHf9BWu"
					SegmentField1="ga:landingPagePath"
					ServiceAddress="https://www.googleapis.com/analytics/v3/data/ga?ids=ga:58734006&amp;start-date={0:yyyy-MM-dd}&amp;end-date={1:yyyy-MM-dd}&amp;dimensions=ga:landingPagePath&amp;metrics=ga:goal1Completions&amp;access_token={{0}}">
					</Service>
				</Services>
			</Account>
			
			

		</Accounts>
	</edge.services>

</configuration>