<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>

	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="D:\test\"/>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Services.SegmentMetrics.SegmentMetricsImportManager.BufferSize" value="1"/>
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@flags:int,@operator:int"/>
		<add key="Edge.Services.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
		<add key="Edge.Data.Pipeline.Services.PipelineService.DeliveryTicket.SP" value="DeliveryTicket_Get"/>
	</appSettings>

	<connectionStrings>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI;"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI;"/>
		<add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=alonya-pc; Database=Deliveries;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.AdMetricsImportManager.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.SegmentMetrics.SegmentMetricsImportManager.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.ValidateCommitService.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
	</connectionStrings>

	<edge.services>
		<Extensions>
			<add key="AutoSegments" value="Edge.Data.Pipeline.Configuration.AutoSegmentDefinitionCollection, Edge.Data.Pipeline"/>
		</Extensions>

		<Services>
			<Service Name="Rerun" IsPublic="true" Class="Edge.Data.Pipeline.Services.RerunService,Edge.Data.Pipeline"/>
			<Service Name="AdMetricsCommit" IsPublic="false" Class="Edge.Services.AdMetrics.CommitService,Edge.Services.AdMetrics"/>
			<Service Name="Backoffice"
					  Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					  DeliveryFilesDir="BackOffice"
				 SQL.PrepareCommand="SP_Delivery_Commit_BO(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
					SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
					 SQL.CommitCommand="SP_Delivery_Insert_BO(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@Signature:NvarChar,@DeliveryIDsPerSignature:NvarChar,@DeliveryID:NvarChar)"
					 >
			<Workflow>
				<Step Base="InitializerService"  IsEnabled="true"/>
				<Step Base="GenericRetrieverService"  IsEnabled="true"/>
				<Step Base="ProcessorService"  IsEnabled="true"/>
				<Step Base="CommitService" IsEnabled="true"/>
			</Workflow>
			</Service>
			<Service Name="InitializerService" IsPublic="false" Class="Edge.Services.BackOffice.Generic.InitializerService,Edge.Services.BackOffice.Generic"/>
			<Service Name="GenericRetrieverService" IsPublic="false" Class="Edge.Data.Pipeline.Services.GenericRetrieverService,Edge.Data.Pipeline"/>
			<Service Name="ProcessorService" IsPublic="false" Class="Edge.Services.SegmentMetrics.Services.ProcessorService,Edge.Services.SegmentMetrics"/>
			<Service Name="CommitService" IsPublic="false" Class="Edge.Services.SegmentMetrics.Services.CommitService,Edge.Services.SegmentMetrics"/>
		
		</Services>



		<Accounts>
			<Account ID="-1" Name="System Account">
				<Services>
					
				</Services>
			</Account>
		
			<Account ID="95" Name="Conduit" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="(\bref_id=(?{ref_id}\w+)\b)" Value="{ref_id}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />					
					<Service Uses="Backoffice" ConflictBehavior="Ignore"							
							 Bo.ServiceAdress="https://onlinemarketingservices.conduit.com?from={0:yyyy-MM-ddTHH:mmZ}&#38;to={1:yyyy-MM-ddTHH:mmZ}&#38;vendor=EasyNet&#38;Password=FQzqj1kKgkySjqif"							
							 Bo.Xpath="OnlineMarketingReport/Trackers/Tracker"
							 BO.TrackerIDField="ID"
							 BO.IsAttribute="true"/>					
				</Services>
			</Account>

		

			

		</Accounts>
	</edge.services>

</configuration>