<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>

	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="D:\test\"/>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Services.SegmentMetrics.SegmentMetricsImportManager.BufferSize" value="1"/>
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@measureID:Int,,@includeBase:Int@flags:Int,@operator:Int)"/>
		<add key="Edge.Services.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
		<add key="Edge.Data.Pipeline.Services.PipelineService.DeliveryTicket.SP" value="DeliveryTicket_Get"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.DeliveryGet" value="Delivery_Get2(@deliveryID:Char, @deep:bit)"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.DeliveryDelete" value="Delivery_Delete2(@deliveryID:Char)"/>
		<add key="Edge.Data.Pipeline.DeliveryDB.SP.OutputDelete" value="Output_Delete(outputID:Char)"/>
		<add key="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager.BufferSize" value="10"/>

	</appSettings>

	<connectionStrings>
		<add name="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager.StagingDatabase" connectionString="Data Source=alonya-pc;Initial Catalog=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Metrics.AdMetrics.AdMetricsImportManager.StagingDatabase" connectionString="Data Source=alonya-pc;Initial Catalog=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Data Source=alonya-pc; Database=Edge_System291; Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=alonya-pc; Database=Edge_System291; Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=alonya-pc; Database=Deliveries;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.AdMetricsImportManager.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.SegmentMetrics.SegmentMetricsImportManager.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.ValidateCommitService.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
	</connectionStrings>

	<edge.services>
		<Extensions>
			<!--<add key="AutoSegments" value="Edge.Data.Pipeline.Configuration.AutoSegmentDefinitionCollection, Edge.Data.Pipeline"/>-->
			<add key="Mappings" value="Edge.Data.Pipeline.Mapping.MappingConfigurationElement, Edge.Data.Pipeline"/>
		</Extensions>

		<Services>
			<Service Name="Rerun" IsPublic="true" Class="Edge.Data.Pipeline.Services.RerunService,Edge.Data.Pipeline"/>
			<Service Name="AdMetricsCommit" IsPublic="false" Class="Edge.Services.AdMetrics.CommitService,Edge.Services.AdMetrics"/>
			<Service Name="Backoffice"
					  Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					  DeliveryFilesDir="BackOffice"
				 SQL.TransformCommand="SP_Delivery_Transform_BO_Generic(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
					    SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryOutputID_v291(@DeliveryOutputID:NvarChar,@TableName:NvarChar)"
					    SQL.StageCommand="SP_Delivery_Stage_BO_Generic(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@OutputIDsPerSignature:NvarChar,@DeliveryID:NvarChar)"
					 >
				<Workflow>
					<Step Base="InitializerService"  IsEnabled="true"/>
					<Step Base="GenericRetrieverService"  IsEnabled="true"/>
					<Step Base="ProcessorService"  IsEnabled="true"/>
					<Step Base="GenericStagingService" IsEnabled="true"/>
				</Workflow>
			</Service>
			<Service Name="InitializerService" IsPublic="false" Class="Edge.Services.BackOffice.Generic.InitializerService,Edge.Services.BackOffice.Generic"/>
			<Service Name="GenericRetrieverService" IsPublic="false" Class="Edge.Data.Pipeline.Services.GenericRetrieverService,Edge.Data.Pipeline"/>
			<Service Name="ProcessorService" IsPublic="false" Class="Edge.Services.BackOffice.Generic.ProcessorService,Edge.Services.BackOffice.Generic"/>
			<Service Name="GenericStagingService" IsPublic="false" Class="Edge.Data.Pipeline.Metrics.Services.MetricsStagingService,Edge.Data.Pipeline.Metrics" ImportManagerType="Edge.Data.Pipeline.Metrics.GenericMetrics.GenericMetricsImportManager,Edge.Data.Pipeline.Metrics"/>

		</Services>



		<Accounts>
			<Account ID="-1" Name="System Account">
				<Services>

				</Services>
			</Account>

			<Account ID="95" Name="Conduit" >
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Backoffice"
							 Bo.ServiceAdress="https://onlinemarketingservices.conduit.com?from={0:yyyy-MM-ddTHH:mmZ}&#38;to={1:yyyy-MM-ddTHH:mmZ}&#38;vendor=EasyNet&#38;Password=FQzqj1kKgkySjqif"
							 Bo.Xpath="OnlineMarketingReport/Trackers/Tracker"
							 BO.TrackerIDField="ID"
							 BO.IsAttribute="true">
						<Mappings>
							<Object Type="GenericMetricsUnit">

								<Map To='SegmentDimensions[{GetSegment("Tracker")}]' >
									<Read Var="tracker" Field='ID' />
									<Map To='Value' Value='{tracker}'/>
								</Map>
								<Map To='MeasureValues[{GetMeasure("Acquisition1")}]' Field='Signups' />
								<Map To='MeasureValues[{GetMeasure("Acquisition2")}]' Field='GoodToolbars' />
								<Map To='MeasureValues[{GetMeasure("ClientSpecific1")}]' Field='TotalInstalls' />
								<Map To='MeasureValues[{GetMeasure("GreatToolbars")}]' Field='GoodToolbars' />
							</Object>
						</Mappings>
					</Service>

				</Services>
			</Account>
			<Account ID="1240" Name="HARMONIEW" >
				<Services>
					<Service Uses="Backoffice"
						Bo.ServiceAdress="http://harmon.ie/ppc/seperia?from={0:yyyy-MM-ddTHH:mmZ}&#38;to={1:yyyy-MM-ddTHH:mmZ}&#38;"
						Bo.UTCOffest="0"
						Bo.Xpath="harmon.ie.metrics/tracker"
						Bo.IsAttribute ="true"
						Bo.TrackerIDField="id">
						<Mappings Path ="Mappings\1240\Backoffice.xml"/>
					</Service>

					<Service  Name="BO rerun - 1 week back" Uses="Rerun" ServiceToRun="Backoffice" TimePeriod="{start: {d:-7}, end: {d:-1}}">
						<Mappings Path ="Mappings\1240\Backoffice.xml"/>
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="07:30" CalendarUnit="Week" SubUnits="1" MaxDeviation="00:45" />
						</SchedulingRules>
					</Service>
				</Services>
			</Account>
			<Account ID="10035" Name="Option Rally" >
				<Services>
					<Service Uses="Backoffice"
						Bo.ServiceAdress="http://gad.optionrally.com/cgi-bin/OptionRally/EdgeTracker/main.cgi?from={0:yyyy-MM-ddTHH:mmZ}&#38;to={1:yyyy-MM-ddTHH:mmZ}&#38;"
						Bo.UTCOffest="0"
						Bo.Xpath="EdgeBO/Tracker"
						Bo.IsAttribute ="true"
						Bo.TrackerIDField="ID">
						<Mappings Path ="Mappings\10035\Backoffice.xml"/>
					</Service>
					<Service  Name="BO rerun - 1st week back" Uses="Rerun" ServiceToRun="Backoffice" TargetPeriod="{start: {d:-7}, end: {d:-1}}">
						<Mappings Path ="Mappings\10035\Backoffice.xml"/>
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="19:00" CalendarUnit="Day" MaxDeviation="1:30" />
						</SchedulingRules>
					</Service>
				</Services>

				</Account>






		</Accounts>
	</edge.services>

</configuration>