<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>

	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="D:\test\"/>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Services.SegmentMetrics.SegmentMetricsImportManager.BufferSize" value="1"/>
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@flags:int,@operator:int"/>
		<add key="Edge.Services.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
		<add key="Edge.Data.Pipeline.Services.PipelineService.DeliveryTicket.SP" value="DeliveryTicket_Get"/>
	</appSettings>

	<connectionStrings>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI;"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI;"/>
		<add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=alonya-pc; Database=Deliveries;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.AdMetricsImportManager.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.SegmentMetrics.SegmentMetricsImportManager.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.ValidateCommitService.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
	</connectionStrings>

	<edge.services>
		<Extensions>
			<add key="AutoSegments" value="Edge.Data.Pipeline.Configuration.AutoSegmentDefinitionCollection, Edge.Data.Pipeline"/>
		</Extensions>

		<Services>
			<Service Name="Rerun" IsPublic="true" Class="Edge.Data.Pipeline.Services.RerunService,Edge.Data.Pipeline"/>
			<Service Name="AdMetricsCommit" IsPublic="false" Class="Edge.Services.AdMetrics.CommitService,Edge.Services.AdMetrics"/>
			<Service Name="Backoffice"
					  Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					  DeliveryFilesDir="BackOffice"
					 >
			<Workflow>
				<Step Base="BoInitializerService"  IsEnabled="true"/>
				<Step Base="GenericRetrieverService"  IsEnabled="true"/>
				<Step Base="BoProcessorService"  IsEnabled="true"/>
			</Workflow>
			</Service>
			<Service Name="BoInitializerService" IsPublic="false" Class="Edge.Services.BackOffice.Generic.BoInitializerService,Edge.Services.BackOffice.Generic"/>
			<Service Name="GenericRetrieverService" IsPublic="false" Class="Edge.Data.Pipeline.Services.GenericRetrieverService,Edge.Data.Pipeline"/>
			<Service Name="BoProcessorService" IsPublic="false" Class="Edge.Services.SegmentMetrics.BoProcessorService,Edge.Services.BackOfficeMetrics"/>		 
			
		
		</Services>



		<Accounts>
			<Account ID="-1" Name="System Account">
				<Services>
					
				</Services>
			</Account>
		
			<Account ID="95" Name="Conduit" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="(\bref_id=(?{ref_id}\w+)\b)" Value="{ref_id}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />					
					<Service Uses="Backoffice" ConflictBehavior="Ignore"
							
							 Bo.BaseServiceAdress="https://onlinemarketingservices.conduit.com"
							 Bo.User="EasyNet"
							 Bo.Password="FQzqj1kKgkySjqif"
							 Bo.UTCOffest="0"
							 Bo.Xpath="OnlineMarketingReport/Trackers"/>
				</Services>
			</Account>

		

			

		</Accounts>
	</edge.services>

</configuration>