<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>

	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="D:\test\"/>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>		
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@flags:int,@operator:int"/>
		<add key="Edge.Services.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
		<add key="Edge.Data.Pipeline.Services.PipelineService.DeliveryTicket.SP" value="DeliveryTicket_Get"/>
	</appSettings>

	<connectionStrings>
		<add name="Edge.Services.Facebook.UpdateCampaignStatus.UpdateCampaignStatus.DB" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Data Source=alonya-pc; Database=Edge_System; Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=alonya-pc; Database=Edge_System; Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=alonya-pc; Database=Deliveries;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.AdMetricsImportManager.Oltp" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.ValidateCommitService.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
	</connectionStrings>

	<edge.services>
		<Extensions>
			<add key="AutoSegments" value="Edge.Data.Pipeline.Configuration.AutoSegmentDefinitionCollection, Edge.Data.Pipeline"/>
		</Extensions>

		<Services>
			<Service Name="Rerun" IsPublic="true" Class="Edge.Data.Pipeline.Services.RerunService,Edge.Data.Pipeline"/>
			<Service Name="AdMetricsCommit" IsPublic="false" Class="Edge.Services.AdMetrics.CommitService,Edge.Services.AdMetrics"/>

			<!-- ======== Facebook ======== -->
			<Service Name="Edge.Services.Facebook.UpdateCampaignStatus"
						IsEnabled="true"										   
						Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
						Facebook.BaseServiceAdress="https://graph.facebook.com"
					    Facebook.AuthenticationUrl="https://graph.facebook.com/oauth/access_token?client_id={0}&amp;redirect_uri={1}&amp;client_secret={2}&amp;code={3}"
						Facebook.Auth.ApiKey="168436873232861"
						Facebook.Auth.AppSecret="dada52b15e6d57e30f089a8ea94cf970"
						Facebook.Auth.RedirectUri="http://www.seperia.com/"						
					    MaxExecutionTime="00:40:00"
						MaxInstances="2"
						MaxInstancesPerAccount="2">
				<Workflow>
					<Step Base="UpdateCampaignStatus" />					
				</Workflow>				
			</Service>

			<Service Name="UpdateCampaignStatus" IsPublic="false" Class="Edge.Services.Facebook.UpdateCampaignStatus.UpdateCampaignStatus,Edge.Services.Facebook.UpdateCampaignStatus"/>
			
		
			

			<Service Name="RoleBackByDeliveries" SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)" Class="Edge.Services.AdMetrics.RollbackService,Edge.Services.AdMetrics"/>
		</Services>



		<Accounts>
			<Account ID="-1" Name="System Account">
				<Services>
					<Service Uses="RoleBackByDeliveries"></Service>
				</Services>
			</Account>			
			<!-- ======== Easy Forex ======== -->
			<Account ID="7" Name="EasyForex" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="(\bref_id=(?{ref_id}\w+)\b)" Value="{ref_id}"/>
						<Pattern Regex="(\bgid=(?{EFtracker}\w+)\b)" Value="{EFtracker}"/>
						<Pattern Regex="((%3F|%26)gid%3D(?{EFtracker}\w+)\b)" Value="{EFtracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Edge.Services.Facebook.UpdateCampaignStatus"
							Facebook.Account.Name="EasyForex"
							Facebook.Account.ID="52081533"
							Facebook.Auth.SessionSecret="AQC30JAPrSVgxivQwusb7JLdo0x_nEUZe4GI1f0xCcsFaypFwnJtTPKG-2pkmyF2WtYpqU_zghvK_HsS53piz3bcVuiDXHU_pXB9m3swePyldBPhve4um6A6-8k1b-yIFFDrBXsbSidUUzQYS_qi6WPDSV1mahiR-WmpIqfZ7aWIrYcgeYxD07QkR68NFtP0gHY#_=_"
							TimeZone="-8"
							Offset="0"
							 />
				</Services>
			</Account>		
		</Accounts>
	</edge.services>

</configuration>