<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>

	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="D:\test\"/>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Services.SegmentMetrics.SegmentMetricsImportManager.BufferSize" value="1"/> 
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@flags:int,@operator:int"/>
		<add key="Edge.Services.BackOffice.GoogleAnalytics.Auth2.SP_Get" value="GA_GetAuth2(@ClientID:nvarchar)"/>
		<add key="Edge.Services.BackOffice.GoogleAnalytics.Auth2.SP_Save" value="GA_SaveAuth2(@ClientID:nvarchar,@AccessToken:nvarchar,@RefreshToken:nvarchar,@ExpiresIn:int,@UpdateTime:Datetime2)"/>
		<add key="Edge.Services.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
		<add key="Edge.Data.Pipeline.Services.PipelineService.DeliveryTicket.SP" value="DeliveryTicket_Get"/>
	</appSettings>

	<connectionStrings>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI;"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI;"/>
		<add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=alonya-pc; Database=Deliveries;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.AdMetricsImportManager.Oltp" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.AdMetrics.ValidateCommitService.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.SegmentMetrics.SegmentMetricsImportManager.OLTP" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Services.BackOffice.GoogleAnalytics.Auth2.DB" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
	</connectionStrings>

	<edge.services>
		<Extensions>
			<add key="AutoSegments" value="Edge.Data.Pipeline.Configuration.AutoSegmentDefinitionCollection, Edge.Data.Pipeline"/>
		</Extensions>

		<Services>
			<Service Name="Rerun" IsPublic="true" Class="Edge.Data.Pipeline.Services.RerunService,Edge.Data.Pipeline"/>
			<Service Name="AdMetricsCommit" IsPublic="false" Class="Edge.Services.AdMetrics.CommitService,Edge.Services.AdMetrics"/>

			<!-- ======== Facebook ======== -->
			<Service Name="Google.Analytics"						
						DeliveryFilesDir="Google.Analytics"					   
						Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"						
					    AuthenticationUrl="https://accounts.google.com/o/oauth2/token"
					    ConsentCode="4/opRZKDRWioO6wYUw5cAd2r5KSm-m"
					    ClientID="605921647991-8946ad39s0gbu189totf3al4bjspgsbf.apps.googleusercontent.com"
				        ClientSecret="CwK1-6tXOHuX8Eh9CJ5MfeKC"
				        Redirect_URI="http://www.edge.bi/oauth2callback"					 
					    SQL.PrepareCommand="SP_Delivery_Commit_Facebook(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
					    SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
					    SQL.CommitCommand="SP_Delivery_Insert_Facebook(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,@Signature:NvarChar,@DeliveryIDsPerSignature:NvarChar,@DeliveryID:NvarChar)"
					    MaxExecutionTime="00:40:00"
						MaxInstances="2"
						MaxInstancesPerAccount="2">
				<Workflow>
					<Step Base="GoogleAnalyticsInitializerService" />
					<Step Base="GoogleAnalyticsRetriverService"  />
					<Step Base="GoogleAnalyticsProcessorService"  />
				</Workflow>
				<!--<SchedulingRules>
					<Rule ExactTimes="14:47" CalendarUnit="Day" MaxDeviation="5:00"  />
				</SchedulingRules>-->
			</Service>

			<Service Name="GoogleAnalyticsInitializerService" IsPublic="false" Class="Edge.Services.BackOffice.GoogleAnalytics.InitializerService,Edge.Services.BackOffice.GoogleAnalytics"/>
			<Service Name="GoogleAnalyticsRetriverService" IsPublic="false" Class="Edge.Services.BackOffice.GoogleAnalytics.RetrieverService,Edge.Services.BackOffice.GoogleAnalytics"/>
			<Service Name="GoogleAnalyticsProcessorService" IsPublic="false" Class="Edge.Services.BackOffice.GoogleAnalytics.ProcessorService,Edge.Services.BackOffice.GoogleAnalytics"/>
			

			<!-- ======== Google AdWords ======== -->
			

			<Service Name="RoleBackByDeliveries" SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)" Class="Edge.Services.AdMetrics.RollbackService,Edge.Services.AdMetrics"/>
		</Services>



		<Accounts>
			<Account ID="-1" Name="System Account">
				<Services>
					<Service Uses="RoleBackByDeliveries"></Service>
				</Services>
			</Account>
<!--Seperia college-->
			
			<Account ID="61" Name="Seperia.com">
				<AutoSegments IsEnabled="false">
				</AutoSegments>
				<Services>
					<Service Uses="Google.Analytics"
							 DeliveryID="017c01466a0642a3bd872bc4d78065af"
							 ServiceAddress="https://www.googleapis.com/analytics/v3/data/ga?ids=ga:48345485%26start-date={0:yyyy-MM-dd}%26end-date={1:yyyy-MM-dd}%26dimensions=ga:campaign,ga:source,ga:medium,ga:country%26metrics=ga:goal1Value,ga:goal2Value,ga:goal3Value,ga:goalCompletionsAll,ga:goal4Value"
							 TrackerFields="ga:campaign,ga:source,ga:medium"
							 SegmentFields="ga:country"/>
					
				</Services>
			</Account>		

		</Accounts>
	</edge.services>

</configuration>