<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>
	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="d:\test"/>
	</appSettings>

	<edge.services>
		<Services>
			
			<Service Name="Facebook.AdsApi" accountName="PC Speed"
							  FBaccountID="351560853"
							  sessionKey="3865f96f5f3aae1cbcf90a8d-100001864609198"
							  APIKey="efddc324f4582ec2e860ba0b6d51d8cb"
							  applicationSecret="8b9b22d79c6dcd1c6524f73962f2a935"
							  sessionSecret="ee767cd8df65047f73f2eb3cf08b1dde" BaseServiceAdress="http://api.facebook.com/restserver.php"
							  Facebook.Ads.GetAdGroups.xpath="ads_getAdGroups_response/ads_adgroup"
							  Facebook.ads.getCampaigns.xpath="ads_getCampaigns_response/ads_campaign"
						      Facebook.Ads.GetAdGroupStats.xpath="ads_getAdGroupStats_response/ads_period_stats/stats/ads_stats"
							  Facebook.Ads.getAdGroupTargeting.xpath="ads_getAdGroupTargeting_response/ads_targeting"
							  Facebook.Ads.AdGroupCreatives.xpath="Ads_getAdGroupCreatives_response/ads_creative">
				<Workflow>
					<Step Base="InitializerService"/>
					<Step Base="RetriverService"/>
					<Step Base="ProcessorService"/>
					
				</Workflow>
			</Service>
			
			<Service Name="InitializerService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.InitializerService,Edge.Services.Facebook.AdsApi"/>
			<Service Name="RetriverService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.RetriverService,Edge.Services.Facebook.AdsApi"/>
			<Service Name="ProcessorService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.ProcessorService,Edge.Services.Facebook.AdsApi"/>
			
			
		</Services>
		<Accounts>
			
			
		</Accounts>
	</edge.services>

	<connectionStrings>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=Source; Integrated Security=SSPI;"/>
		
	</connectionStrings>

	
</configuration>