<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>
	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="d:\test"/>
		<add key="Edge.Data.Pipeline.Importing.AdDataImportSession.BufferSize" value="10"/>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.FileName" value="Edge.Deliveries.db4o"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.Port" value="2121"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.User" value="sa"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.Password" value="sa"/>
		<add key="Edge.Core.Data.DataManager.Connection.String" value="Data Source=localhost;Initial Catalog=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd" />
	</appSettings>

	<edge.services>
		<Services>
			<Service Name="Facebook.AdsApi" AccountID="1007" MaxInstances="3"
								Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
							  DeliveryGuidNotInuSE="be9a285d-24fb-4387-9de4-7eb98c273026"
							  accountName="PC Speed"
							  FBaccountID="351560853"
							  sessionKey="3865f96f5f3aae1cbcf90a8d-100001864609198"
							  APIKey="efddc324f4582ec2e860ba0b6d51d8cb"
							  applicationSecret="8b9b22d79c6dcd1c6524f73962f2a935"
							  sessionSecret="ee767cd8df65047f73f2eb3cf08b1dde" BaseServiceAdress="http://api.facebook.com/restserver.php"
							  Facebook.Ads.GetAdGroups.xpath="ads_getAdGroups_response/ads_adgroup"
							  Facebook.ads.getCampaigns.xpath="ads_getCampaigns_response/ads_campaign"
						      Facebook.Ads.GetAdGroupStats.xpath="ads_getAdGroupStats_response/ads_period_stats/stats/ads_stats"
							  Facebook.Ads.getAdGroupTargeting.xpath="ads_getAdGroupTargeting_response/ads_targeting"
							  Facebook.Ads.AdGroupCreatives.xpath="ads_getAdGroupCreatives_response/ads_creative">
				<Workflow>
					<Step Base="InitializerService"  IsEnabled="true" /> <!--IsEnabled="false"-->
					<Step Base="RetriverService"  IsEnabled="true" />
					<Step Base="ProcessorService" DeliveryGuid="be9a285d-24fb-4387-9de4-7eb98c273026" />
					
				</Workflow>
			</Service>
			<Service Name="RerunService1008" AccountID="1008">
				<Workflow>
					<Step Base="ReRunService"  IsEnabled="true" />
				</Workflow>
			</Service>
			<Service Name="ReRunService" IsPublic="false" Class="Edge.Data.Pipeline.Services.ReRunService,Edge.Data.Pipeline" ServiceToRun="Facebook.AdsApi"/>
			
			<Service Name="InitializerService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.InitializerService,Edge.Services.Facebook.AdsApi"/>
			<Service Name="RetriverService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.RetrieverService,Edge.Services.Facebook.AdsApi"/>
			<Service Name="ProcessorService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.ProcessorService,Edge.Services.Facebook.AdsApi" AutoAdGroupSegment="true" AdGroupDelimiter=" @ "/>
			
		</Services>
		<Accounts>
			<Account ID="1007" Name="PC Speed">
				<Services>
					<Service Uses="Facebook.AdsApi"
							 DeliveryGuid="be9a285d-24fb-4387-9de4-7eb98c273026"
							  accountName="PC Speed"
							  FBaccountID="351560853"
					>
						
					</Service>
					<Service Uses="ReRunService" ServiceToRun="Facebook.AdsApi"  TargetPeriod="{start: '2011-06-01 00:00:00', end: '2011-06-22 23:59:59'}"/>
				</Services>
			</Account>
		</Accounts>
	</edge.services>

	<connectionStrings>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Host=localhost; User=sa; Password=sa; Port=2121;"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=source; Integrated Security=SSPI;"/>		
		<add name="Edge.Data.Pipeline.Importing.AdDataImportSession.DeliveriesDb" connectionString="Data Source=localhost; Database=TempDeliveries; Integrated Security=SSPI;"/>
		<add name="Edge.Data.Pipeline.Importing.AdDataImportSession.Oltp" connectionString="Data Source=localhost; Database=testdb; Integrated Security=SSPI;"/>
		
	</connectionStrings>
	<system.serviceModel>
		<client>
			<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.1/ScheduleManagerSecondary"/>
			<endpoint binding="netTcpBinding" bindingConfiguration="edgeAlertEngineBinding" contract="Easynet.Edge.Core.Workflow.IAlertEngine" address="net.tcp://localhost:3636/AlertEngineService"/>
		</client>
		<bindings>
			<netTcpBinding>
				<binding name="edgeAlertEngineBinding" receiveTimeout="1:0:0"/>
			</netTcpBinding>
			<wsHttpBinding>
				<binding name="edgeServiceWebBinding" sendTimeout="0:05:00" receiveTimeout="0:05:00"/>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>

	
</configuration>