<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>
	
	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="D:\Runtime\Edge\Edge.Data.Pipeline.FileManager"/>
		<add key="Edge.Data.Pipeline.Importing.AdDataImportSession.BufferSize" value="10"/>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.FileName" value="Edge.Deliveries.db4o"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.Port" value="2121"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.User" value="sa"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.Password" value="sa"/>
	</appSettings>

	<connectionStrings>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Host=localhost; User=sa; Password=sa; Port=2121;"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI;"/>
		<add name="Edge.Data.Pipeline.Importing.AdDataImportSession.DeliveriesDb" connectionString="Data Source=alonya-pc; Database=TempDeliveries;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<add name="Edge.Data.Pipeline.Importing.AdDataImportSession.Oltp" connectionString="Data Source=alonya-pc; Database=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
	</connectionStrings>

	<edge.services>
		<Extensions>
			<add key="AutoSegments" value="Edge.Data.Pipeline.Configuration.AutoSegmentDefinitionCollection, Edge.Data.Pipeline"/>
		</Extensions>
		
		<Services>
			<Service
					Name="Facebook.AdsApi"
					Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					MaxInstances="3"
					
					AccountID="1007"
					DeliveryID="175c8bc5-2f9b-4c36-a3e1-6af7293c4f76"
					
					Facebook.BaseServiceAdress="http://api.facebook.com/restserver.php"
					Facebook.Account.Name="PC Speed"
					Facebook.Account.ID="351560853"
					Facebook.Auth.SessionKey="3865f96f5f3aae1cbcf90a8d-100001864609198"
					Facebook.Auth.ApiKey="efddc324f4582ec2e860ba0b6d51d8cb"
					Facebook.Auth.AppSecret="8b9b22d79c6dcd1c6524f73962f2a935"
					Facebook.Auth.SessionSecret="ee767cd8df65047f73f2eb3cf08b1dde"
					Facebook.Ads.XPath.GetAdGroups="ads_getAdGroups_response/ads_adgroup"
					Facebook.Ads.XPath.GetCampaigns="ads_getCampaigns_response/ads_campaign"
					Facebook.Ads.XPath.GetAdGroupStats="ads_getAdGroupStats_response/ads_period_stats/stats/ads_stats"
					Facebook.Ads.XPath.GetAdGroupTargeting="ads_getAdGroupTargeting_response/ads_targeting"
					Facebook.Ads.XPath.GetAdGroupCreatives="ads_getAdGroupCreatives_response/ads_creative">
				<Workflow>
					<Step Base="InitializerService"  IsEnabled="false" />
					<Step Base="RetriverService"  IsEnabled="false" />
					<Step Base="ProcessorService" />
				</Workflow>
			</Service>
			<Service Name="InitializerService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.InitializerService,Edge.Services.Facebook.AdsApi"/>
			<Service Name="RetriverService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.RetrieverService,Edge.Services.Facebook.AdsApi"/>
			<Service Name="ProcessorService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.ProcessorService,Edge.Services.Facebook.AdsApi" AutoAdGroupSegment="true" AdGroupDelimiter=" @ "/>


			<Service Name="RerunService" AccountID="1007" IsPublic="false">
				<Workflow>
					<Step Base="RerunService"  IsEnabled="true" />
				</Workflow>
			</Service>
			<Service Name="RerunService" IsPublic="false" Class="Edge.Data.Pipeline.Services.RerunService,Edge.Data.Pipeline" ServiceToRun="Facebook.AdsApi"/>
			
		</Services>
		<Accounts>
			<Account ID="1007" Name="PC Speed" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\butm_content=(?{utm_content}\w+)\b" Value="{utm_content}"/>
					</Segment>					
				</AutoSegments>
				<Services>
					<Service Uses="Facebook.AdsApi"/>
					<Service Uses="RerunService" ServiceToRun="Facebook.AdsApi"  TargetPeriod="{start: '2011-06-01 00:00:00', end: '2011-06-22 23:59:59'}"/>
				</Services>
			</Account>
		</Accounts>
	</edge.services>
	
</configuration>